[2018-07-03 21:14] thinkingserious commented on #297
Hello @faizaankhan,

This SDK supports transactional templates, for which the documentation can be found [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/Transactional_Templates/index.html).

With Best Regards,

Elmer

[2018-07-03 21:22] thinkingserious commented on #298
Hello @coryjamescrook,

Support for this was [recently added for attachments](https://github.com/sendgrid/sendgrid-nodejs/issues/217#issuecomment-205740522). Perhaps that can fulfill your needs for .ics files. Please let me know.

With Best Regards,

Elmer

[2018-07-05 11:34] #297 closed

[2018-07-16 21:32] coryjamescrook commented on #298
Thanks for the response @thinkingserious. Unfortunately, the proposed solution doesn't seem to embed into an email (so you can accept, decline inline).

[2018-07-24 00:55] thinkingserious commented on #298
Hi @coryjamescrook,

Do you mind sending us an example of what you are trying to achieve? Perhaps a screenshot and the source of the email? Thanks!

With Best Regards,

Elmer

[2018-07-24 03:01] Hamdan85 opened #299 "Substitutions may not be used with dynamic templating"
#### Issue Summary

I got 400 error trying to send a transactional template:

[code]

#### Response

[code]

#### Technical details:

* sendgrid-ruby Version: master
* Ruby Version: 2.5.1p57

[2018-07-24 03:18] thinkingserious commented on #299
Hello @Hamdan85,

I think there may be a bug where you need to add the following:

`mail.add_content(Content.new(type: 'text/html', value: ''))` right before `mail.template_id = '<my template id>'`.

Could you please try that?

Thanks!

With Best Regards,

Elmer

[2018-07-24 03:31] thinkingserious commented on #299
Can you please share what the HTML looks like? Thanks!

[2018-07-24 03:38] Hamdan85 commented on #299
There's no HTML... that's the point of using the template_id which is the id of a template that has the HTML in sendgrid platform.
Am I wrong?

[2018-07-24 03:49] thinkingserious commented on #299
Yes, I’m referring to the HTML in the SendGrid platform. I’m trying to reproduce the error. Thanks!

[2018-07-24 04:16] Hamdan85 commented on #299
Ok.

I have chosed the variable name in several formats: {{name}}, -name-, %name%
nothing works
Here's the code:
[code]

[2018-07-24 04:17] Hamdan85 commented on #299
ps, my footer also doesnt work even if I have edited my account info. I dont have write power over footer params.

[2018-07-24 20:43] thinkingserious commented on #299
@Hamdan85,

Thanks for providing the HTML.

Does the -name- placeholder stay as -name- or is it blank in the final email?

Also, have you tried running [this example](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional-templates)?

With Best Regards,

Elmer

[2018-07-25 17:53] coryjamescrook commented on #298
I had forgotten about this part as well, but it seems as if the `Content-Transfer-Encoding` gets set to `quoted-printable`, where all the invites I've been able to accept inline in the email contain the value of `7bit` for the iCalendar file as one of the contents of the email, as well as `base64` for the attachment containing the iCalendar file.

You might find this information useful in seeing i

[2018-07-25 21:02] thinkingserious commented on #298
Thanks for the excellent elaboration @coryjamescrook! I will share this with our product team to see what's possible on our end.

[2018-07-26 00:43] Hamdan85 commented on #299
@thinkingserious but this example doesn't work anyway... the email arrives without the dynamic content... how can I use it?!

[2018-07-26 02:00] thinkingserious commented on #299
@Hamdan85,

Please try

[code]

And in the HTML use `{{name}}`

[2018-07-26 06:56] PhucQuoine commented on #299
@thinkingserious I got the same problem.
There are some reasons so I'm using the old version `sendgrid-ruby-4.0.8`.
My template
[code]

My ruby code:
[code]

Is there any way to make it work?

[2018-07-26 06:57] PhucQuoine commented on #299
@thinkingserious I got the same problem.
There are some reasons so I'm using the old version `sendgrid-ruby-4.0.8`.
My template
[code]

My ruby code:
[code]

Is there any way to make it work?

[2018-07-26 13:16] Hamdan85 commented on #299
is there a rest doc? this lib seems way not ready for production...
no demands here lol... it's just a observation.

[2018-07-26 14:10] PhucQuoine commented on #299
@Hamdan85
There is a pull request waiting for review https://github.com/sendgrid/sendgrid-ruby/pull/300

[2018-07-26 17:40] thinkingserious commented on #298
Hi @coryjamescrook,

Do you mind sharing the relevant redacted code? I'd like to try and reproduce. Thanks!

With Best Regards,

Elmer

[2018-07-26 20:29] thinkingserious opened #301 "Add Dynamic Template Support"
#### Issue Summary

On 7/24/2018, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be found in our [blog post announcement](https://sendgrid.com/blog/how-to-use-sendgrid

[2018-07-26 20:29] thinkingserious commented on #301
Please see #300 for WIP

[2018-07-26 20:30] thinkingserious commented on #299
Hello everyone!

Please see [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/301) and PR #300 for progress and current work around.

Thanks for your assistance and patience!

With Best Regards,

Elmer

[2018-07-26 20:46] thinkingserious commented on #299
@Hamdan85,

Code similar to the following should work for v4.0.8:
[code]

[2018-07-27 00:42] thinkingserious commented on #299
It's [string interpolation](https://www.digitalocean.com/community/tutorials/how-to-work-with-strings-in-ruby#using-string-interpolation).

[2018-07-27 01:07] Hamdan85 commented on #299
Lol...
Missed the ' in the beginning

Em qui, 26 de jul de 2018 21:43, Elmer Thomas <notifications@github.com>
escreveu:

[2018-07-27 11:08] warna720 opened #302 "Dynamic templates with special characters"
Dynamic templates does not work with åäöÅÄÖ, even though setting charset=UTF-8 in template.
The workaround was to use their respective html entity (å = `&aring;`).

The workaround does not work with variables. When not using the html entity they resolve to ? (�) and when using the html entity they are displayed as plain text.

Using following POST-data:
`{
                "from" => {
        "emai

[2018-07-27 17:43] PhucQuoine commented on #299
so much thank to @thinkingserious
It's work for me.

[2018-07-27 19:16] PhucQuoine commented on #299
@thinkingserious
The email successfully sent. But there is another problem, the email subject doesn't show up while correct email content.

[2018-07-28 00:37] Hamdan85 commented on #299
when i put {{name}} in template, it just says to me that the template is invalid on sendgrid UI... that's new.

[2018-07-28 01:52] Hamdan85 commented on #299
how about the sender_name data for transactional templates? is it applies to this hash too?
bacause nothing in UI seems to be configuring these particular fields

[2018-07-28 04:33] PhucQuoine commented on #299
@Hamdan85 does the email subject shown up in your email?

[2018-07-28 15:35] krzkrzkrz commented on #299
Same here. Subject doesnt seem to work here!

[2018-07-28 18:00] Hamdan85 commented on #299
I do can change de subject but by setting it with handlebar variables in
template... Not by using the subject key.

Try to put it in template like {{subject}} and set it together with your
other variables.

Lol... This doc/sdk seems very messy isn't it?

Em sáb, 28 de jul de 2018 12:35, Christian Fazzini <notifications@github.com>
escreveu:

[2018-07-28 23:13] krzkrzkrz commented on #299
@Hamdan85 Great! Thanks. That works

[2018-07-29 14:16] pdkproitf commented on #299
@Hamdan85 @krzkrzkrz It does not work with me.
My code:
[code]
My template:
<img width="1316" alt="screen shot 2018-07-29 at 9 07 01 pm" src="https://user-images.githubusercontent.com/12691828/43367262-8403705c-9374-11e8-84da-657499f28d77.png">

[2018-07-29 14:30] Hamdan85 commented on #299
I think u didn't understood: you should declare the {{subject}} in the
dynamic fields array...

Em dom, 29 de jul de 2018 11:16, Ryan Pham <notifications@github.com>
escreveu:

[2018-07-29 14:53] pdkproitf commented on #299
Oh, my bad.
Many thank @Hamdan85

[2018-07-30 08:48] NavinGelot commented on #299
Hey @Hamdan85  i am facing same problem with subject
my template is as following:

[<html>
<head>
	<title></title>
</head>
<body>
Hello {{name}},
<br /><br/>
I'm glad you are trying out the template feature!
<br /><br/>
<br /><br/>
I hope you are having a great day in {{city}} :)
<br /><br/>
</body>
</html>

and my i have json :

{
  "from": {
    "email": "${from.getEmail}",
    "name": "${from.g

[2018-07-30 09:31] krzkrzkrz commented on #299
@NavinGelot You need to include `subject` in `dynamic_template_data`:

[code]

[2018-07-30 09:37] NavinGelot commented on #299
yes that i did but i forgot to to replace subject in ui Thanks @krzkrzkrz  :)

![email](https://user-images.githubusercontent.com/23419606/43389827-4d0d31be-940a-11e8-93d6-d26e5262da61.png)

[2018-07-30 23:18] thinkingserious commented on #299
Hello Everyone,

Have you tried including the subject key in the Personalization object?

For example:

[code]

That said, including a subject outside of the Personaliztion object should act as a global override. I'll leave this issue open and on our backlog for further investigation.

With Best Regards,

Elmer

[2018-07-31 01:48] thinkingserious commented on #302
Have you tried encoding the strings with ISO-8859-1 encoding?

e.g. `:name => "&aring;&auml;&ouml;&Aring;&Auml;&Ouml;åäöÅÄÖ".encode(Encoding::ISO_8859_1)`

[2018-07-31 03:07] pdkproitf commented on #299
@thinkingserious thing
I did. But it didn't work with the dynamic template.

[2018-07-31 03:16] thinkingserious commented on #299
Thanks for the confirmation @pdkproitf.

[2018-08-07 02:52] metaskills commented on #301
I'd like to point out the the docs and the article have the `template_id` in the wrong spot. It should be outside the `personalizations` array at the root.

[2018-08-08 01:27] thinkingserious commented on #301
Hi @metaskills,

Are you referring this [documentation](https://sendgrid.com/docs/User_Guide/Transactional_Templates/how_to_send_an_email_with_transactional_templates.html)? If so, it looks like a fix will be deployed soon.

Thanks!

With Best Regards,

Elmer

[2018-08-08 13:52] metaskills commented on #301
Yes, I found that `template_id` is in the wrong spot there.

[2018-08-08 23:54] thinkingserious commented on #301
Thanks for confirming @metaskills. I'm double checking with the docs team to make sure the fix is deployed.

[2018-08-09 16:43] achempion commented on #299
I think that is some sort of trolling. We have the docs with explicit arguments such as `template_id` and `substitutions` but that is not working as expected.

https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

To make things work we should spend hours to finally get the answer — we need to use `{{ val }}` inside the template and
[code]
as the argument for an api. Which is not men

[2018-08-09 17:29] Hamdan85 commented on #299
I wouldn't say that but is quite annoying.

Em qui, 9 de ago de 2018 13:43, Boris Kuznetsov <notifications@github.com>
escreveu:

[2018-08-14 00:16] thinkingserious commented on #299
Hello @achempion,

Thanks for your feedback and taking the time to post a solution.

An update is coming shortly.

Please check out [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/301) for details. Specifically, [this PR](https://github.com/sendgrid/sendgrid-ruby/pull/300) is just about ready to go live.

With Best Regards,

Elmer

[2018-08-20 00:41] rhuang opened #305 "Do dynamic templates work with SMTP/smtpapi/Rails/ActionMailer?"
#### Issue Summary

Do the new dynamic templates work with SMTP? I am using the gem `smtpapi` and integrating SendGrid into the Rails `ActionMailer`.

My header code looks like this:

[code]

If I replace `template_id` with the new id of a new dynamic template, I get the error ""This email was not sent because the SMTPAPI header was invalid." in the activity feed. If I use the legacy template id,

[2018-08-20 16:40] kylearoberts commented on #305
Hello @rhuang

Unfortunately [Transactional Templates](https://sendgrid.com/docs/User_Guide/Transactional_Templates/how_to_send_an_email_with_transactional_templates.html#-Send-a-transactional-email) were not designed to work with anything other then our [v3 Mail Send](https://dynamic-templates.api-docs.io/3.0/mail-send-with-dynamic-transactional-templates/v3-mail-send). The reason for this is tha

[2018-08-20 16:43] rhuang commented on #305
Thanks @kylearoberts.

Is there a way to use the new transactional templates with v3 Mail Send and Rails ActionMailer? If not, are there plans for this?

[2018-08-20 16:53] kylearoberts commented on #305
Hey @rhuang

If I am not mistaken ActionMailer is only for SMTP, so the likely hood of any plan to integrate v3 Mail Send with it are likely none. I would recommend taking a look at the regular [ruby library](https://github.com/sendgrid/sendgrid-ruby) that makes v3 Mail Send calls. Also you may want to follow the issue [here](https://github.com/sendgrid/sendgrid-ruby/issues/301) where we are worki

[2018-08-20 16:58] rhuang commented on #305
Yes, ActionMailer is only for SMTP. Got it Kyle, thanks for the input.

[2018-08-20 22:54] 24601 commented on #299
Setting dynamic_template_data instead of substitutions *NEEDS* to be documented VERY VERY clearly. It is NOT documented ANYWHERE but here, and it just silently FAILS.

This cost us an entire afternoon of frustration.

The docs are contradictory and don't match reality!

[2018-08-21 00:52] thinkingserious commented on #305
Hello @rhuang,

Dynamic Templates can be used currently with the Ruby SDK. Please see [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/301) for details. What we are missing is updated documentation and helper code.

With Best Regards,

Elmer

[2018-08-21 01:11] thinkingserious commented on #299
You are correct @24601.

We have released support for PHP and Python and are now working on C#. Next is Java, then Node.js, then Go and then this SDK.

My apologies for the delay.

Everyone,

Please follow [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/301) for progress.

[2018-08-21 20:51] thinkingserious commented on #299
I'm closing out this issue to help consolidate things. Please check out [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/301) for details.

[2018-08-21 20:51] #299 closed

[2018-08-24 23:56] kwent commented on #299
Posting my solution since i spent as well wayyyyy too much time to make this work. Documentation needs to be revisited for sure.

## Sendgrid Template GUI side:

<img width="921" alt="screen shot 2018-08-24 at 4 50 23 pm" src="https://user-images.githubusercontent.com/879780/44612507-ea845a00-a7bd-11e8-8855-31601c1bfb1c.png">

Then modify the subject object to the following code:

[code]

Note: ``

[2018-08-27 21:31] rhuang commented on #305
@paulodeleo

The legacy templates only work with the v2 mail send call, which also works with SMTP. The new Dynamic templates only work with the v3 API and not SMTP, because:

https://github.com/sendgrid/sendgrid-ruby/issues/305#issuecomment-414382789

There's no way to use the new Dynamic templates with SMTP. You'll have to manually use the API from this Ruby library if you want to use Dynamic te

[2018-08-27 21:45] paulodeleo commented on #305
Oh, it makes more sense now, thanks @rhuang . The SMTP API should be updated to refer only to "**Legacy** Transactional Templates" then.

[2018-08-30 21:57] adam-ludgate commented on #59
I really struggled to get this problem fixed, running the sender using `PHPMailer` -- trying to understand how this can be done with simple SMTP instead of using the ASM library.

I added both `<%asm_group_unsubscribe_raw_url%>` and `<%asm_group_unsubscribe_url%>` and they did nothing to change the unsubscribe link. Finally after enough reading around, I discovered that you needed to also include

[2018-09-03 16:33] andela-venogwe commented on #299
Wondering if the PR is merged.
The helper methods helps keep things clean and easy.
I currently just avoid using the `add_substitution method`.

I got mine working by adding the key `dynamic_template_data` to the personalizations Array as stated above.

If you have multiple personalizations, you can reference them by index or do a loop on the `mail.personalizations` Array. Where `mail` is an insta

[2018-09-05 23:51] thinkingserious commented on #299
Hello @andela-venogwe,

The PR is merged, but the gem has not been updated yet. If you subscribe to our [release notifications](https://dx.sendgrid.com/newsletter/ruby) you will receive an email once it's live.

Thanks!

With Best Regards,

Elmer

[2018-09-06 01:52] Hamdan85 commented on #299
That's starting to become dramatic lol

Em qua, 5 de set de 2018 20:51, Elmer Thomas <notifications@github.com>
escreveu:

[2018-09-09 20:16] RogerPodacter commented on #285
@arnoldmarunda were you ever able to solve this? @thinkingserious's solution doesn't work for me—I get the same error.

Also does `http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#-Request-Body-Parameters` even go anywhere? Seems like it refers to an anchor that doesn't exist?

[2018-09-12 08:29] logicxd commented on #59
Thanks @gabrielkrell, @adam-ludgate, @wesdotcool. I was stuck on the C# implementation and now the unsubscribe links are finally showing. But they stop working when added in the footer through **Mail Settings**. I noticed the bug still persists with characters (< and >) being converted to (&lt; and &gt;). So I tried the workaround that @wesdotcool suggested which was to do something like
`“%rawUns

[2018-09-13 17:01] mlabarca commented on #288
Would this be considered for #hacktoberfest 2018? I actually used this api manually making requests with thypoeus, this would be handy.

[2018-09-13 17:06] thinkingserious commented on #288
Yes. However, I think the PR needs to be submitted in the month of October for it to officially count.

[2018-09-15 02:01] thinkingserious commented on #285
Hello @RogerPodacter,

Do you mind sharing your code so that I may try to reproduce the error?

With Best Regards,

Elmer

[2018-09-16 03:48] optilyze commented on #285
Hey, I get this error just cut and pasting the example from https://app.sendgrid.com/guide/integrate/langs/ruby

i.e.,
require 'sendgrid-ruby'
include SendGrid

from = Email.new(email: 'test@example.com')
to = Email.new(email: 'test@example.com')
subject = 'Sending with SendGrid is Fun'
content = Content.new(type: 'text/plain', value: 'and easy to do anywhere, even with Ruby')
mail = Mail.new(from

[2018-09-16 03:58] optilyze commented on #285
Oh, and if anyone like me ends up here, the answer seems to be that Mail is some other Module/Class/Whatever (maybe from Action Mailer?) so you need to replace mail = Mail.new... with mail = SendGrip::Mail.new...

From https://github.com/sendgrid/sendgrid-ruby/issues/163

[2018-09-17 02:55] HokhyTann commented on #299
How about the URL of a button? How can we dynamically set it?

[2018-09-17 13:42] thinkingserious commented on #59
Hello @logicxd,

Could you please reach out to [our support(https://support.sendgrid.com) team as they are best suited to help with this type of issue?

Thanks!

With Best Regards,

Elmer

[2018-09-17 13:47] kylearoberts commented on #299
Hey @HokhyTann

You should be able to set a URL dynamically using something like this:

[code]

You likely want to use the triple bracket so that handlebars does not encode any of the link. Just make sure the link you are substituting is correctly URL encoded and you should be good.

[2018-09-18 02:55] HokhyTann commented on #299
@kylearoberts thank you somuch, got it working now

[2018-09-18 23:18] logicxd commented on #59
I reached out to SendGrid for support. They do not recommend using the `asm` tags with the global footer as of this moment. So a fix is to just put the footer manually in all of the email templates.

[2018-09-24 03:21] chrisallick opened #307 "response.parsed_body throwing JSON error"
#### Issue Summary

I am trying to run the sample code and read the response.parsed_body param. The response.body param is empty. Should there always be a parsed_body in a response?

code:
[code]

 here is the response and then the error:
--------
202 <-- status code is correct
-------- this is the .header object in response
{"server"=>["nginx"], "date"=>["Mon, 24 Sep 2018 03:17:41 GMT"], "content

[2018-09-25 09:00] sithara opened #308 "Multiple recipients"
Could you please provide an example on how to add multiple recipients to the below code

[code]

Thanks much

[2018-09-25 12:19] haffla commented on #308
You should use Personalizations for this.

Example: https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L26

You can see that `Personalization` class has a method `add_to`.

[2018-09-25 12:36] haffla commented on #305
In order to use ActionMailer with the SendGrid v3 HTTP API you can use `sendgrid-actionmailer`. There is actually a [pull request](https://github.com/eddiezane/sendgrid-actionmailer/pull/31) to support dynamic template data that is just waiting for `sendgrid-ruby` to support it.

[2018-09-25 18:44] swallenfriedman opened #309 "No email validation - leads to wildcard deletion in web ui"
#### Issue Summary

Hi All,

We've noticed an issue that when creating entries in the global unsubscribes list via the API, there is no validation done that the email addresses are being added. This wouldn't be a problem except it appears that the API does not allow deletion of invalid email addresses and subsequently deleting the invalid email address from the web UI has some nasty side effects (

[2018-09-27 05:47] haffla commented on #308
@toadkicker I believe that emails using transactional templates can only be sent to one recipient at a time. You need one API call per recipient.

[2018-09-27 06:02] toadkicker commented on #308
Yep that is what I figured out as well. The Personalization.add_to method adds multiple recipients but provides no way to access its attributes in a transactional email template.

[2018-09-28 01:56] thinkingserious commented on #285
Thanks for sharing the solution @optilyze!

[2018-09-28 02:10] #59 closed

[2018-09-29 07:05] srjahir32 commented on #298
@thinkingserious Any updates on this?
I am trying to send iCalender by attachiing with emial.
Works fine on google, but outlook mobile app (iOS/Android) required addition parameters on header.

It should be like
Content-Type: text/calendar; charset=utf-8; method=REQUEST; "
But Content-Type is reserved in Sendgrid.

I can achieve this using Nodemailer library, Client wants to use sendgrid.
That's w

[2018-09-29 14:50] thinkingserious commented on #309
Hello @swallenfriedman,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-09-29 14:50] #309 closed

[2018-09-29 14:52] #307 closed

[2018-10-01 18:49] #305 closed

[2018-10-01 20:08] thinkingserious commented on #308
Thanks for helping out @haffla!

@toadkicker,

You can have multiple personalizations per email, but only one transactional template per API call to `mail/send`.  Have you been able to implement your use case?

With Best Regards,

Elmer

[2018-10-01 22:14] toadkicker commented on #308
Yes unfortunately I am making multiple API calls. It is a small list so it should be fine.

Thanks,

Todd
On Oct 2, 2018, 5:08 AM +0900, Elmer Thomas <notifications@github.com>, wrote:

[2018-10-02 03:00] dhoeric commented on #288
I can handle in this week if you're not available! @mlabarca

[2018-10-02 04:57] thinkingserious opened #310 "Update integration tests to utilize StopLight.io's Prism version v2.X"
#### Issue Summary

We use a mock server for integration/contract testing that is driven by our OpenAPI specification and StopLight.io's Prism service. The service is spun up utilizing the prism.sh script in this repo.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* we a

[2018-10-02 05:01] thinkingserious opened #311 "Create helper methods for the /contactdb endpoint"
#### Issue Summary

Please see `USE_CASES.md` for current example of existing helper methods.

You may find simple example code for all of the `/contactdb` endpoint functionality in the `USAGE.md` file under `CONTACTDB` in the Table of Contents. Complete interactive documentation can be found [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

Before writing any code, we suggest you revi

[2018-10-02 10:48] mlabarca commented on #288
Go for it Eric, I haven't been able to get to it. 👍

On Tue, Oct 2, 2018, 12:00 AM Eric Ho <notifications@github.com> wrote:

[2018-10-02 18:38] DearGrenadier commented on #311
mind if I take it?

[2018-10-02 19:34] DearGrenadier commented on #311
@thinkingserious mind if I take?

[2018-10-02 20:47] thinkingserious commented on #298
Hello @srjahir32,

Have you tried [this](https://github.com/sendgrid/sendgrid-nodejs/issues/217#issuecomment-205740522)?

With Best Regards,

Elmer

[2018-10-03 12:08] srjahir32 commented on #298
@thinkingserious Yeah already tried this. It does not work. And its not solution to sending custom header.

[2018-10-03 13:20] thinkingserious opened #312 "Implement auto-deploy to package manager"
#### Issue Summary

When all tests on the master branch pass in Travis CI, we would like to auto-deploy the release to the package manager.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* when Travis CI passes all tests on the master branch we auto-deploy to the package

[2018-10-03 18:02] BallerChan opened #313 "Get All Transactional Templates Issue"
#### Issue Summary

According to the documentation, this gem has v3 support which should mean that I should be able to retrieve all transactional templates from my sendgrid account. However, whenever I run

`response = sg.client.templates.get()`
`puts response.parsed_body`

I am only able to see the legacy templates and not the ids of the dynamic transactional templates I have created.

#### Steps

[2018-10-03 18:54] thinkingserious commented on #308
Thanks for the follow up @toadkicker!

Just to be clear, what you would like to do is set multiple templates within the same API call?

[2018-10-03 19:18] dhoeric commented on #312
Hi, I would like to pick up this project.
Since the version is determined by `CHANGELOG.md`, how about we do the auto-deploy when a tag is pushed or a release is created in GitHub?

[2018-10-03 21:04] thinkingserious commented on #288
Thanks @dhoeric and @mlabarca!

[2018-10-03 22:13] toadkicker commented on #308
Use the same template ID but send an array of users and have it still be personalized.

[2018-10-04 01:01] thinkingserious commented on #311
Thank you @DearGrenadier, it's all yours!

[2018-10-04 05:17] heindrik commented on #301
Hi all,

Would like to confirm if the method `add_dynamic_template_data` has not been pushed to prod. I am asking cause I am using gem version 5.2 and I am getting the following error

[code]

[2018-10-04 13:17] thinkingserious opened #314 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-04 21:19] haffla commented on #308
@toadkicker it's actually possible to do that.

[code]

This will send two individual emails with one API call. Using sendgrid helpers as in your case:

[code]

[2018-10-05 04:13] thinkingserious commented on #298
Any ideas @kylearoberts?

[2018-10-05 05:34] thinkingserious commented on #312
Thanks for taking this on @dhoeric!

We also update the version [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/version.rb), if that's easier.

With Best Regards,

Elmer

[2018-10-05 07:35] haffla commented on #308
I think `add_dynamic_template_data` is an unfortunate method name. It suggests that you can *add* data to a personalization just in the same way that you add an email to `to` using `add_to`. `to` is an array, but `dynamic_template_data` is a hash/object.

It should have been `personalization.dynamic_template_data = data`.

[2018-10-05 12:35] DearGrenadier commented on #311
Hey @thinkingserious , I've investigated all proposed by you resources and came up with some idea how to achieve the goal we need. Firstly I wanna clarify and highlight all endpoints, which might be used along with helpers. I think that's following guys(selected):

- [x] POST /contactdb/custom_fields
- [ ] GET /contactdb/custom_fields
- [x] GET /contactdb/custom_fields/{custom_field_id}
- [x] DELE

[2018-10-05 14:17] thinkingserious opened #316 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 15:33] dipil-saud commented on #313
@BallerChan From @thinkingserious 's provided url, you can get all the templates with
`sg.client.templates.get({ query_params: { generations: 'legacy,dynamic' }})`

@thinkingserious There isn't a helper in the gem for 'templates' at the moment. Do you think this requirement neccessitates creating a new helper for it?

[2018-10-05 16:16] ssiddhantsharma commented on #316
@thinkingserious  Got it!
Assign this to me.

[2018-10-05 17:34] BallerChan commented on #313
@thinkingserious @dipil-saud Thank you guys! I was able to use NET:HTTP call to get both but this is cleaner for my use case.

[2018-10-05 17:37] kylearoberts commented on #298
Hey @srjahir32

We should be able to get calendar invites to work, but there are some things that cannot be done. One, you cannot set the `charset`/`Content-Transfer-Encoding`. The encoding of the `text/calendar` invite will always be quoted-printable, which should not be an issue from past testing. Now for how to send emails with calendar invites:

[code]

So in the example above you will notice

[2018-10-05 17:46] coryjamescrook commented on #298
@kylearoberts thanks for the clarification on the calendar invite stuff. Apologies for not getting back to @thinkingserious with some example code. Had to put this on the back burner for a while. I will give this another shot when I have a chance and report back!

[2018-10-05 19:28] slothbear commented on #285
Thanks @optilyze! Any chance the example code could be enhanced? For a short example like this, I'd rather not `include SendGrid`. That way all of the SendGrid stuff must be qualified and cannot conflict with other names. Those who know how to use `include` will figure out that part.

[2018-10-05 20:07] kplimack commented on #285
@slothbear the `Include` directive is used for mixing in _modules_ to your class. You can also instantiate a `SendGrid::Mail` object an use that object directly without mixing.  By default your class is looking for definitions inside of it, in order to access classes outside of your current context, you can use `::Mail` or `::SendGrid::Mail` to access the correct classes.

[2018-10-05 23:28] thinkingserious commented on #308
That's a good point @haffla,

Perhaps we can use the method you suggest and deprecate the current method. Would you be up for a [Hacktoberfest](https://dx.sendgrid.com/hacktoberfest) PR?

With Best Regards,

Elmer

[2018-10-06 02:49] thinkingserious commented on #301
Not yet @heindrik, please [follow this page](https://github.com/sendgrid/sendgrid-ruby/releases) for updates or you can subscribe to our [release notification emails here](https://dx.sendgrid.com/newsletter/ruby). Thanks!

[2018-10-06 04:39] eyewritecode commented on #209
I'm claiming this in case no one is working on it! @thinkingserious

[2018-10-06 04:40] eyewritecode commented on #208
I'm claiming this in case no one is working on it! @thinkingserious

[2018-10-06 06:32] eyewritecode commented on #246
Hey @thinkingserious, what would be the optimal solution for this? It looks like the TROUBLESHOOTING documents has the answer but i don't know what a PR for this issue would be?

[2018-10-06 10:42] haffla commented on #308
Yeah I am. Is the change in the API acceptable for you? I know it's not released yet but I think many people are already using an unreleased version.

[2018-10-06 14:20] thinkingserious opened #317 "Update documenation for retrieving a list of all templates (dynamic & legacy)"
#### Issue Summary

Please update the `USAGE.md` and corresponding `\example` with the call to list all templates.

This is the API call required: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic

#### Acceptance Criteria

* The Usage.md file demonstrates how to use this API call to retrieve all templates: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic
* T

[2018-10-06 14:52] thinkingserious opened #318 "Throw an exception if a template ID does not exist in your request body"
#### Issue Summary

You will not receive an error from the API is you send an email with the wrong template. Instead you will get a "Not Delivered" notice in your email activity feed. We want to make that experience better by throwing an exception in the code instead.

This issue is inspired by [this](https://github.com/sendgrid/sendgrid-go/issues/255).

#### Acceptance Criteria

* Use [the API](h

[2018-10-06 18:56] arshadkazmi42 opened #320 "Fix broken link in TROUBLESHOOTING.md"
#### Issue Summary

Following links are broken in [TROUBLESHOOTING.md](https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#testing-v3-mailsend-calls-directly)
- v3 send email example link is broken

[2018-10-06 18:56] arshadkazmi42 commented on #320
working on it

[2018-10-06 19:03] dipil-saud commented on #310
@thinkingserious I can take up this issue.

- I've setup to fetch the latest prism (2.0.14) locally and run the tests.
- All examples are passing but one (test/sendgrid/test_sendgrid-ruby#test_suppression_spam_report__email__delete) which I'll fix.
- I'll need to then update the Dockerfile and `test/prism.sh` to install the 2.x prism.

[2018-10-07 08:34] renshuki commented on #317
I'm on it 👍

[2018-10-07 16:12] thinkingserious opened #324 "Create a Dockerized event webhook consumer"
#### Issue Summary

SendGrid has an [Event Webhook](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html) which posts events related to your email activity to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and save) their event webhooks.

#### Acceptance Criteria

* A folder which contains a Do

[2018-10-07 16:18] thinkingserious opened #325 "Create a Dockerized email inbound parse webhook consumer"
#### Issue Summary

SendGrid has an [Email Inbound Parse Webhook](https://sendgrid.com/docs/API_Reference/Parse_Webhook/inbound_email.html) which posts data from a specified incoming email address to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and complete some action) their inbound parse webhooks.

###

[2018-10-07 18:27] briankabiro commented on #318
Hi, @thinkingserious. I would like to work on this.

[2018-10-07 21:51] kplimack opened #326 "Refactor Getters/Setters to use Ruby Accessors"
#### Issue Summary

Many of the classes can be simplified greatly if we use _Ruby Accessors_ to replace the getters/setters for the class/instance variables. Its a simple change, but touches nearly every file in the repo's lib directory.

[2018-10-07 21:56] kplimack opened #327 "refactor `to_json` as a mixin"
#### Issue Summary

the `to_json` method is defined in nearly every single class and is basically the same logic.  We can refactor this work more generically and mixin the new method into each class instead of defining it many times.

[2018-10-08 00:15] marchyoung commented on #324
@thinkingserious : I've got this. I can grab #325 , too!

[2018-10-08 00:17] marchyoung commented on #325
@thinkingserious : I've got this. I can grab #324, too!

[2018-10-08 20:29] thinkingserious opened #328 "Document the difference of using three brackets vs two brackets with a template and throw or log an error when used improperly"
#### Issue Summary

Our templates use the handlebars.js syntax as documented [here](https://sendgrid.com/docs/ui/sending-email/using-handlebars/). When including the characters ', " or & in a subject line replacement you need to use three brackets vs two ( {{{ content }}} vs {{ content }} ).

#### Acceptance Criteria

* Documentation of this functionality in the use cases section (transactional te

[2018-10-08 20:46] thinkingserious opened #329 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-09 02:08] renshuki commented on #329
@thinkingserious Let me tackle this.

[2018-10-09 02:45] hiroshi commented on #301
For those who want to use helpers for other parts
[code]

[2018-10-09 13:29] thinkingserious commented on #324
Awesome, thank you @marchyoung!

[2018-10-09 13:29] thinkingserious commented on #325
Thanks again @marchyoung, that’s really cool!

[2018-10-09 13:31] thinkingserious commented on #318
Thank you @briankabiro, it’s all yours!

[2018-10-10 00:58] thinkingserious opened #333 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-10 04:57] kplimack opened #334 "rename `to_json` instance method to `to_hash`"
#### Issue Summary

All of the classes have a similar method called `to_json` that look like this:
[code]
But if you look at this, its does not return _JSON_, its returning a compacted hash with each of the class's instance variables enumerated by key/val.

[code]

This makes the code somewhat unclear and difficult to understand.
This method and all places that call it should be replaced with the

[2018-10-10 11:01] mauricetmeyer commented on #333
I can take on this one too

[2018-10-10 14:22] Davidslv commented on #301
I can't understand how it can take so long to release this, specially when the information given is that we are waiting because of other languages.
Anyway, I'm using the code straight from master branch which includes the dynamic template data.
There was no need to make us wait so long.

[2018-10-10 21:05] nikobozi commented on #327
hi, i would like to work on this one! :)

[2018-10-10 21:19] kplimack commented on #327
@nikobozi Thank you! We love your interest and enthusiasm to get hacking!  I'm working on https://github.com/sendgrid/sendgrid-ruby/issues/327, they go hand-in-hand.  Once I push my PR for 327, I suggest you pull in those changes and branch from there.

[2018-10-10 21:29] thinkingserious commented on #313
A helper would be great @dipil-saud! Would you like to take that on for Hacktoberfest?

[2018-10-10 22:13] RaphaelAddile commented on #326
Seems like something I can do without much ruby knowledge. I'll work on this if nobody else is doing it yet.

[2018-10-10 23:50] nikobozi commented on #327
Okay. Btw I assume you meant #334 if you haven't started yet, I could do it as part of this PR, since I have to touch those lines anyway ;)

[2018-10-10 23:56] kplimack commented on #327
No. I meant the mixin issue. I’ve already reduced this to a generic
function

On Wed, Oct 10, 2018 at 5:51 PM Niko <notifications@github.com> wrote:

--
*Jake Plimack*
*e.   jake.plimack@gmail.com <jake.plimack@gmail.com>*
*m.  917.838.7685*

[2018-10-11 10:21] haffla commented on #334
Indeed, this was extremely confusing for me, too!! Thanks for tackling this.

[2018-10-11 21:45] thinkingserious commented on #311
That's awesome, thanks @DearGrenadier!

[2018-10-12 14:23] joncursi commented on #299
Okay... so this wasn't well-documented, but I wanted to share my finding.

You can supply `dynamic_template_data` both outside and inside of `personalizations`. If you have a bunch of dynamic template data that is shared among all recipients, but then want to personalize something like a `firstName` field for each user, you can do this:

[code]

[2018-10-12 15:30] kylearoberts commented on #299
@joncursi

Thanks for the great testing. I tried to replicate what you did but did not have any luck. Could you take a look and let me know what I am doing differently:

[code]

The dynamic data in the personalization works, but not the dynamic data outside the personalization. It looks like I am doing it the same way as you, but since it is not working I must be missing something.

[2018-10-12 16:52] joncursi commented on #299
@kylearoberts that looks good to me. Not sure why it's not working. I defer to the SendGrid team on this one.

FWIW, I am firing my requests using the [@sendgrid/mail](https://www.npmjs.com/package/@sendgrid/mail) library.

[2018-10-12 17:13] thinkingserious opened #342 "Create a Use Case demonstrating the use of Dynamic Templates"
#### Issue Summary

Currently we only have a use case demonstrating the [legacy template usage](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#legacy-transactional-templates). We need the same for the current dynamic templates ([Java example](https://github.com/sendgrid/sendgrid-java/blob/master/USE_CASES.md), [Node.js example](https://github.com/sendgrid/sendgrid-nodejs/blob/m

[2018-10-12 17:14] thinkingserious commented on #342
For reference, support was add with [this PR](https://github.com/sendgrid/sendgrid-ruby/pull/300).

[2018-10-12 17:17] kylearoberts commented on #299
@Ume1931

Looks like thing just got [updated](https://github.com/sendgrid/sendgrid-ruby/releases/tag/v5.3.0).  Looks like the only thing left is for the creation of some [examples](https://github.com/sendgrid/sendgrid-ruby/issues/342) on how to use it.

@joncursi

I'll see what I can do to replicate the issue and get it to our engineers.

[2018-10-12 17:29] thinkingserious commented on #316
Than you @ssiddhantsharma!

[2018-10-12 17:38] thinkingserious commented on #298
Thanks @coryjamescrook!

[2018-10-12 19:55] kylearoberts commented on #342
@thinkingserious
Ruby example should be all set.
https://github.com/sendgrid/sendgrid-ruby/pull/343

[2018-10-13 03:54] thinkingserious opened #346 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-13 16:14] rohandaxini commented on #326
@kplimack @thinkingserious Is anybody already working on this or its available for picking up to implement?

[2018-10-14 05:00] diegous commented on #328
Can I work on this?

[2018-10-15 02:10] coderdave opened #349 "NoMethodError: undefined method `<<' for nil:NilClass (Only in production!)"
#### Issue Summary

When running the example, I get "NoMethodError: undefined method `<<' for nil:NilClass".

[code]
The real crazy thing is that I only get this in production!

When I examine `mail`, `@personalizations` is `nil`!

[code]

#### Steps to Reproduce

1. Ran the kitchen_sink example

#### Technical details:

* sendgrid-ruby Version: 5.3.0
* Ruby Version: 2.4.0

[2018-10-15 15:46] chevinbrown commented on #318
Second this issue--we have a wrapper around this gem to simplify our interface and raising an exception is nice. 😸

[2018-10-17 03:53] diegous commented on #327
@nikobozi are you working on this?

[2018-10-17 05:08] kplimack commented on #327
@diegous I'm working on this one

[2018-10-17 15:42] nikobozi commented on #327
@diegous i was supposed to wait for this other pull request (7 days ago), but apparently he has decided to do both now? I guess he wants that hacktoberfest t-shirt more than i do :smile:

[2018-10-17 15:51] kplimack commented on #327
@nikobozi  / @diegous I just pushed up what I've got so far. I wasn't able to replace `to_json` in all of the classes, so it still needs some work for those edge cases.

https://github.com/sendgrid/sendgrid-ruby/pull/351

[2018-10-17 23:28] DearGrenadier commented on #311
I've unchecked all endpoints list items, just to monitor progress.

[2018-10-18 00:01] DearGrenadier commented on #311
@thinkingserious Just wanna clarify couple of concerns:
1. I was pocking a bit at segments API stuff, current implementation of client, I mean how it's used for contactdb requests, and I'm not sure that it make sense to add more helpers to this part of API(considering only segments atm), because rest of endpoints are pretty straight forward.
2. Also I checked sources of your http client and found

[2018-10-19 06:58] thinkingserious opened #353 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/sendgrid-ruby/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the documentat

[2018-10-19 08:47] duderman commented on #353
Can I take this one and the rest of them? (https://github.com/sendgrid/smtpapi-ruby/issues/80 & https://github.com/sendgrid/ruby-http-client/issues/96)

[2018-10-20 23:43] thinkingserious opened #355 "Error Exception Handling"
#### Issue Summary

To improve the developer experience, we would like to pass back a [summary of the error received](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) and a link to the appropriate place [in the documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) to help with troubleshooting.

#### Acceptance Criteria

* When an error is thrown du

[2018-10-20 23:50] thinkingserious opened #356 "Type Exception Handling for the Mail Helper"
#### Issue Summary

The appropriate types necessary for a successful `mail/send` API call is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html). We want to throw a type exception when the wrong type is provided.

#### Acceptance Criteria

* All parameters for the `mail\send` endpoint are type checked and if they fail the type check and exception is thrown with instructions on h

[2018-10-22 23:28] #270 closed

[2018-10-23 16:50] #274 closed

[2018-10-23 16:50] #197 closed

[2018-10-26 14:37] scottcrawford03 commented on #123
👋 is this still a relevant issue? Looks like the original unhappy path isn't event relevant now that the method `add_custom_arg` is implemented as well as this change here in CustomArgs: https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/helpers/mail/custom_arg.rb#L7

[2018-10-26 15:43] kylearoberts commented on #302
@warna720

I think this issue is resolved. I tested this myself and could not create any issues:

Template:
[code]

API Call:

[code]

Can you retest and let us know if you are still having issues?

[2018-10-26 16:15] warna720 commented on #302
@kylearoberts Sorry cannot retest. Im not contracted anymore on the project where this was a problem.
But you could not reproduce it so im closing this! :+1:

[2018-10-26 16:15] #302 closed

[2018-10-30 18:33] thinkingserious opened #364 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 19:16] mptap commented on #364
@thinkingserious Have raised PR for this: https://github.com/sendgrid/sendgrid-ruby/pull/365

[2018-10-31 22:40] jrectenwald commented on #356
@thinkingserious I started a PR for this and added a validation for the to and from email addresses. I'd appreciate some feedback on my approach before I continue adding validations for the rest of the parameters. Thanks!

[2018-11-01 16:13] crweiner opened #369 "Remove legacy "Whitelabel" Terms"
#### Issue Summary

According to the [Docs](https://github.com/sendgrid/docs/blob/develop/content/docs/glossary/whitelabel.md), SendGrid wishes to move away from the term "Whitelabel" and replace it with other terms, such as "domain authentication", "link branding" and "reverse DNS".

#### Details:
 In order to keep this verbiage consistent, this repo needs to update its terms and replace "Whitela

[2018-11-02 18:03] #364 closed

[2018-11-15 02:58] shaqq opened #371 "Address line not being substituted"
#### Issue Summary

When using the Email Design tool for Transactional emails, the `Unsubscribe` module has an option to add Address lines to the email. This looks like so:

![image](https://user-images.githubusercontent.com/1438493/48527057-781c9680-e84f-11e8-9348-b54fd7006dc9.png)

In the email body:
![image](https://user-images.githubusercontent.com/1438493/48527084-85d21c00-e84f-11e8-8780-3a16

[2018-11-18 15:35] thinkingserious commented on #349
Hello @coderdave,

Could you provide some detail about your production environment so that I may try and duplicate this issue?

Thanks!

With Best Regards,

Elmer

[2018-11-18 15:35] #369 closed

[2018-11-18 15:51] thinkingserious commented on #371
Hello @shaqq,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-18 15:51] #371 closed

[2018-11-19 10:18] dennyluan opened #372 "Unsubscribe tags not working in marketing campaign templates"
#### Issue Summary

I'm using `sendgrid-ruby` to generate a campaign with `html_content` like so.

[code]

This works fine creating the campaign with the html_content, however, trying to schedule or send a test email from the Editor UI in the dashboard fails with:

![image](https://user-images.githubusercontent.com/929010/48702534-02ddf800-eba6-11e8-9fea-57f19bf89449.png)

It's only when the actua

[2018-11-19 10:31] dennyluan commented on #372
Somehow found this issue, which shows that this has been unclear/broken for a long time: https://github.com/sendgrid/sendgrid-ruby/issues/59

[2018-11-22 05:34] georgeu2000 opened #373 "How to use cc?"
It's not clear from the readme, examples or docs how to add a cc.

The following returned an error from the API:

[code]

[2018-11-26 22:01] thinkingserious commented on #372
Hello @dennyluan,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2018-11-26 22:01] #372 closed

[2018-11-26 22:04] thinkingserious commented on #373
Hello @georgeu2000,

What was the [error returned](https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#error)?

Thanks!

With Best Regards,

Elmer

[2018-11-26 22:38] georgeu2000 commented on #373
Something about the email being invalid. I assumed that this is not the correct way of doing because it is complicated and cc is a basic feature. Is there some documentation of how to do it?

[2018-12-02 23:39] Nottt commented on #372
How did you solved it?

I'm having the same issue...

[2018-12-05 16:45] kylearoberts commented on #373
@georgeu2000

I think your issue is that you put the To outside of the personalization. You can see an example [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb) and down below:

[code]

[2018-12-18 09:21] sergio-rivas opened #376 "Create Dynamic Template using gem [only creates legacy]"
#### Issue Summary

Whenever I follow the steps in sendgrid/USAGE.md for creating a template, it only creates a Legacy Template. However, I want to make use of Sendgrid's Dynamic Template features for personalization. After I follow the steps below, if I retrieve the template using the ruby gem, I retrieve a template with "generation": "legacy" . Thus, if I try to follow the use-case for sending d

[2018-12-21 18:57] thinkingserious commented on #376
Hello @sergio-rivas,

Could you please try the example [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional-templates)? Thank you!

With Best Regards,

Elmer

[2018-12-22 07:58] sergio-rivas commented on #376
Hey Elmer,

Thanks so much for your response. However, that is not an example of **creating** a dynamic template. It is an exmaple of using a currently existing template. There is currently no documentation of _creating_ a dynamic template in the documentation.

[2018-12-28 18:12] AndreiDev opened #377 "Transactional email scheduling - send_at is ignored"
#### Issue Summary

Sending a transactional email based on a template with a `send_at` parameter ignores the `send_at`.
Using the example with the `send_at` parameter, but the email is sent right away.
[code]

Tried to add the `"send_at": 1546089840,` at the `template_id` level without any success - the email is sent right away.

Is email scheduling supported?

[2019-01-03 19:41] thinkingserious commented on #377
Hello @AndreiDev,

Yes, email scheduling is supported. Could you please provide your [request body](https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#request-body)?

Thanks!

With Best Regards,

Elmer

[2019-01-05 21:00] AndreiDev commented on #377
Hi @thinkingserious

I'm not sure I understand what you mean.
The request body is the `data` variable.
[code]

Maybe you can give an example of a transactional email being scheduled using `send_at`?

Thanks,
Andrei.

[2019-01-11 07:25] marlonmarcos21 opened #378 "Not working with Ruby 2.6"
#### Issue Summary

We recently upgraded ruby to 2.6.0 and our api requests to sendgrid started failing giving a non descriptive error:

`"{"errors":[{"message":"Bad Request","field":null,"help":null}]}"`

Rolling back to earlier version of ruby fixes the problem.

#### Steps to Reproduce

The following is an example of what we post to sendgrid:

[code]

#### Technical details:

* sendgrid-ruby Ve

[2019-01-11 22:08] jeffblake commented on #378
I had the same problem. Nasty bug. Spend a whole day debugging this. Then I got an email from Ruby Weekly that I believe makes sense of the issue: https://mensfeld.pl/2019/01/exploring-a-critical-netprotocol-issue-in-ruby-2-6-0p0-and-how-it-can-lead-to-a-security-problem/

For me it was some random combination of when unicode characters were present, and the request body was a certain size.

I dow

[2019-01-17 20:54] thinkingserious commented on #378
Thanks for jumping in @jeffblake!

[2019-01-17 20:54] #378 closed

[2019-01-24 23:53] thinkingserious commented on #376
Hello @sergio-rivasl

I hope [this](https://sendgrid.com/docs/glossary/transactional-email-templates/) is the documentation you need.

With Best Regards,

Elmer

[2019-01-24 23:58] thinkingserious commented on #377
Hello @AndreiDev,

Are you scheduling more than 72 hours in advance? That is not supported.

With Best Regards,

Elmer

[2019-01-30 14:45] sergio-rivas commented on #376
Unfortunately, that still doesn't address the question of how to create the email template using the gem.

Our usecase is that we would like to make a WYSIWYG form for our client's admin dashboard where he/she can write templates/edit them. Then when users do xyz action, xyz email is sent using the dynamically created templates.

The link you sent me seems to suggest we should have users directly

[2019-02-06 14:15] thinkingserious commented on #376
Ah, thanks for clarifying the use case @sergio-rivas,

I do not believe we can create dynamic templates via API. I will double check with the team.

With Best Regards,

Elmer

[2019-02-11 22:15] jeremygpeterson commented on #288
What's the status of this Feature request?

[2019-02-12 16:25] smithcoin commented on #77
It's 2019, and this is _still_ an issue. Not just for the Ruby client, but for the API.

[2019-02-19 09:49] abdulmunim101 opened #380 "Encoding for special characters not working in subject"
#### Issue Summary

I have been using the sendgrid-ruby gem for sending emails. The subject of the email doesn't decode special characters properly.
Eg. Sending this subject for the email `How's it going` translates to this in the actual email `How&apos;s it going`

#### Steps to Reproduce

  @body_json['personalizations'][0]['dynamic_template_data'] = {
      'email_title': @email_title,
      'c

[2019-02-20 22:42] gsum opened #381 "undefined method `add_attachment` for <Mail::Message:0x00007fe505b13bf8>"
#### Issue Summary

Was using sendgrid-ruby for a project and then was trying to add attachment and fllowed through the documentation but add_attachment method is undefined.
#### Steps to Reproduce

1. make a transactional template
2. sendmail method without mail helper class
3. user add_attachment for pdf

#### Technical details:

* sendgrid-ruby Version: 5.3.0
* Ruby Version: 2.5.3

[2019-02-21 00:15] kenaniah commented on #378
### This issue is caused by a bug in Ruby 2.6.0 and is fixed in Ruby 2.6.1.

The bug that causes this is documented in https://bugs.ruby-lang.org/issues/15468. Running any other version of Ruby makes this problem go away.

[2019-02-21 00:17] kenaniah commented on #378
@thinkingserious can you please change the title of this bug to "Not working with Ruby 2.6.0" as it is specific to a single release of Ruby, and not the 2.6.x branch in general?

[2019-02-24 17:12] thinkingserious commented on #381
Hello @gsum,

I"m assuming you followed the [example here](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#adding-attachments). Could you please provide a code sample so that we may try and reproduce?

Thanks!

With Best Regards,

Elmer

[2019-02-24 17:14] thinkingserious commented on #380
Hello @abdulmunim101,

If you are using dynamic templates, then in your template, in the UI, you will need to use `{{{ subject }}} ` rather than `{{ subject }}`. Could you please try that?

Thanks!

With Best Regards,

Elmer

[2019-02-25 07:14] abdulmunim101 commented on #380
Thanks @thinkingserious - I contacted the sendgrid guys and they presented the same solution. Problem is resolved now.

Thanks for the help.

[2019-02-25 07:15] #380 closed

[2019-02-27 10:19] bermannoah opened #382 "Incorrect endpoints for single spam reports"
#### Issue Summary
The documented endpoints for single-spam-report retrieval and deletion are incorrect. They are listed as `sg.client.suppression.spam_report._(email).get()` when they should apparently be `sg.client.suppression.spam_reports._(email).get()` -- note the `s`.

#### Steps to Reproduce

1. Attempt to retrieve a spam_report for a known spammer with `sg.client.suppression.spam_report._(

[2019-02-27 10:22] bermannoah commented on #382
I have pushed a fix to this in #383. 😃

[2019-02-28 17:12] #382 closed

[2019-03-20 12:31] xxswingxx commented on #172
Was this gem updated to support `http_options`? Looks like only the `ruby_http_client` was updated.

[2019-03-23 02:59] ajsharp commented on #378
Request that the readme be updated.

[2019-03-29 18:54] aqabawe commented on #381
@gsum I ran into the same issue, what I found out is that I need to scope the classes under the `SendGrid` namespace per the example @thinkingserious linked, which wasn't the case in my old code. I was using `Mail.new` instead of `SendGrid::Mail.new`.

[2019-04-01 23:22] thinkingserious commented on #381
Thanks for sharing the solution @aqabawe!

Please let me know if this does not solve your issue @gsum.

[2019-04-01 23:22] #381 closed

[2019-04-09 18:44] amsimon commented on #288
Any update on this?

[2019-04-10 14:51] NikhilThombare-Cuelogic opened #384 "group tag substitution not working for me"
Can someone help me to customize group tag something like inside email template?

like these emails? `<a href="http://www.xyz.com:3000/email_preferences/unsubscribe?url=<%asm_group_unsubscribe_raw_url%>">Unsubscribe</a>`

**using substitution**
[code]

#### Technical details:

* sendgrid-ruby Version: sendgrid-ruby (5.3.0)
* Ruby Version: ruby 2.4.5

[2019-04-10 22:33] jeremygpeterson commented on #288
This is what I had to do to get this working:

[2019-04-11 21:59] thinkingserious commented on #384
Hello @NikhilThombare-Cuelogic,

Could you please try using [this example](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional-templates)?

With Best Regards,

Elmer

[2019-04-12 06:11] NikhilThombare-Cuelogic commented on #384
Thanks for the reply

I already tried this solution but didn't work

[code]

email template:

  <html>
    <head>
      <title></title>
    </head>
    <body>
      1
    <h3>{{url_data}}</h3>
    2
    <h1><%asm_group_unsubscribe_raw_url%></h1>
    </body>
</html>

but still not **url_data** treating as string
o/p - <%asm_group_unsubscribe_raw_url%>

expected:  it should be url http://www.sendgri

[2019-04-16 15:50] thinkingserious commented on #384
Hello @NikhilThombare-Cuelogic,

Perhaps [this](https://github.com/sendgrid/sendgrid-ruby/issues/59#issuecomment-417480271) could be the issue.

[2019-04-19 20:50] thesmart opened #386 "Add better argument handling to `Mail`"
#### Issue Summary

`Mail#new` will blindly set properties w/ invalid types, even when using default parameters. It should be safe to use default parameters and if the wrong types are used.

#### Steps to Reproduce

1. Try constructing a new `Mail` instance using defaults:
[code]

2. Check the JSON output:
[code]

Expected outcome:
[code]

Actual outcome:
[code]

These `personalizations` and `cont

[2019-04-22 18:57] thinkingserious commented on #386
Thanks @thesmart!

We appreciate the contribution and I've added your PR to our backlog for a code review.

With Best Regards,

Elmer

[2019-05-03 16:18] ccurtin commented on #77
It is true that `,` and `;` are not directly available for the `name` parameter but to fix this all we need to do is encode the `name` parameter with `encodeURIComponent(name)`

[2019-05-16 20:28] vijeetgv commented on #297
@faizaankhan marketing templates are different from transactional templates. On the dashboard go to Templates -> Transactional (direct link if you're logged in: https://sendgrid.com/dynamic_templates ) and create a template there. Try taking the template id from its url.

[2019-05-26 21:22] fsa-development commented on #299
ya'll really need to stop changing templates to "legacy"
you've introduced backwards-incompatible "upgrades" to templating multiple times in the last couple years
this is terrible product design

you should either make forward-compatible types or make all backwards-incompatible changes in the API and SDK, and keep previous versions of the API running. So if I'm using v4 of the API and v4 of the SD

[2019-05-28 17:27] thinkingserious commented on #299
Hello @fsa-development,

I would love to help resolve your issue. Is it your current goal to use our "legacy" templating with the most up to date version of this SDK? If so, [this example](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#legacy-templates) should work.

With Best Regards,

Elmer

[2019-06-13 19:01] NeoPhi commented on #172
Looks like the upstream `ruby_http_client` hasn't released a new version to pull in.
In the meantime, if you don't mind monkey patching, this worked for us:
[code]

[2019-06-14 04:26] thinkingserious commented on #172
Hello @xxswingxx,

The next release will include the updated `ruby_http_client`. I don't have a specific time frame, but there is a release planned.

@NeoPhi,

Thanks for providing the work around!

With Best Regards,

Elmer

[2019-06-22 21:38] jmoon90 commented on #285
`SendGrid::Mail` fixed my issue too. However, the example did not work in my `rails console`. It worked locally from `binding.pry``

[2019-06-23 08:00] jpgoem commented on #372
How did you solved it?

I'm also having the same issue...

[2019-06-24 00:34] dennyluan commented on #372
@jpgoem Sorry, it was a while ago but I vaguely remembered it being a simple typo, and I had to do something like `<a href=[unsubscribe]></a>`

[2019-06-27 05:42] mrodavis opened #390 "How to send image via sendgrid from custom form on wix?"
Hi, I am trying to send an image through sendgrid.  The image resides in the custom form created on my wix website.  The image is uploaded to the form via the user.  Does anyone know how to send an image from a form field?

* sendgrid-ruby Version: master (latest commit: [commit number])
* Ruby Version: 2.2

[2019-06-28 17:01] thinkingserious commented on #390
Hello @mrodavis,

To send an attachment, [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#adding-attachments) is a code example that may help.

You should be able to set `fpath` to the path to your image and for the `attachment.type` you would use something similar to `img/png`. [Here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_lis

[2019-06-28 17:46] mrodavis commented on #390
Thank you so much, I will give it a try!

[2019-07-04 04:26] thinkingserious commented on #372
Thanks for helping out @dennyluan!

@jpgoem,

Has your issue been resolved?

[2019-07-04 08:39] jpgoem commented on #372
Yes, the problem was solved by using the correct [unsubsribe] tag.
Thanks.

[2019-07-30 21:42] ajfick commented on #377
I just ran into this issue as well. Is there a solution? Any email that I attempt to schedule using `send_at` seems to send immediately. Also, I don't see any mention of timezone in the documentation, is this intended to be in UTC?

[2019-08-05 06:43] justinkchen opened #391 "Upgrading to use new Marketing API contacts list"
#### Issue Summary

I'm wondering what the timeline is expected to be for the sendgrid-ruby gem to support the Marketing Campaign v2?

#### Steps to Reproduce

N/A

#### Technical details:

* sendgrid-ruby Version: master (latest commit: [commit number])
* Ruby Version: 2.5.3

[2019-08-05 14:38] NHuebner1983 commented on #371
There's a thread open here as well: https://github.com/sendgrid/sendgrid-python/issues/735

It's not really related to sendgrid packages (php, ruby, python) but related to SendGrid in general.  I personally don't agree that these fields should be filled by API. I would prefer to have the option to hardcode them in the template, as my company doesn't have multiple addresses.

[2019-09-02 11:38] MG84 commented on #372
I have the same problem here. Unfortunately, I cannot find any typos.
I've noticed a really strange behavior:
- If the campaign is in draft and I go the the html edit in my Sendgrid account, and I try to send it, it gaves me the error shown in the picture posted before. BUT, if I modify something (but not changing anything (i.e. just touching the html code)), and then try to send it, it actually s

[2019-09-09 18:35] andrew-koster- commented on #308
It's **_REALLY WEIRD_** that I have to:

- Create this whole Personalizations object, call a bunch of methods on it, and add it back into the Mail object.
- Specify the `to` address in the `to` parameter of `Mail.new` **and** in the `add_to` method of the Personalizations object.
- Write a bunch of wrapper code with type checks and such, in order to keep this boilerplate junk out of my business lo

[2019-09-09 18:37] andrew-koster- commented on #373
It's **_REALLY WEIRD_** that I have to:

- Create this whole Personalizations object, call a bunch of methods on it, and add it back into the Mail object.
- Specify the `to` address in the `to` parameter of `Mail.new` **and** in the `add_to` method of the Personalizations object.
- Write a bunch of wrapper code with type checks and such, in order to keep this boilerplate junk out of my business lo

[2019-10-02 00:19] j-collier commented on #346
If this issue is unsolved by any of the previous PRs and is still an open issue I'd like to take a stab at it.

[2019-10-10 07:28] hemant-kumar-vst-au4 opened #392 "Mail is being sent for mut"
Hello there, i' using sendgrid api for sending single and mutiple .When i'm trying to send email on single recipient then it's working fine and email is being sent. but when i'm trying to send to mutiple recipient in a single api request ,then it's shwos me a success messge but mail is not being sent.
I've checked the sendgrid dashbaord activity log, sometime itshows an error of invalid,sometimes,

[2019-10-13 14:07] Znow opened #393 "403 access forbidden with full access API key"
Hi

1. Created new paid SendGrid account with Marketing Campaign product
2. Created API key with full access
3. Installed gem in project
4. Testing by console:
[code]

5. Testing method: sg.client.contactdb.lists.get()
[code]

6. Receiving 403 - access forbidden

Testing API key with CURL:
[code]

Getting which scopes the user has access too: (cannot see contacts or campaings?)
[code]

Tried with

[2019-10-17 14:57] llance commented on #393
Hi, I am  facing the same issue as Znow, I started getting 403 access forbidden error since 3 days ago. Is there anything that I can provide to help you troubleshoot this issue?

[2019-10-29 19:01] NeoPhi opened #394 "How to quote name with special characters"
#### Issue Summary

SendGrid support directed me here since they were able to confirm but unable to solve an issue we are seeing. Given the following code:

[code]

This generates:

[code]

The API is unable to handle this name and the email is not sent to the intended user. SendGrid support indicates that a name that includes any of `(),:;<>@[]` is problematic. This is a much more extensive list

[2019-11-03 16:11] arpi0003 commented on #393
Looks like the API endpoints have changed. https://stackoverflow.com/questions/56945838/sendgrid-403-response-for-v3-contactdb-recipients-permissons-needed

[2019-11-14 00:28] amitsaxena commented on #45
@jeffblake were you able to do this using the root API key and `impersonate_user`? It doesn't look like we can do this unless we use an API key for the subuser. This API does not seem to support `impersonate_user` either:
https://sendgrid.api-docs.io/v3.0/mail-send/v3-mail-send

[2019-11-16 14:26] dangerrg commented on #163
Hi guys,

I'm running my Rails 5.1.7 app (Ruby v.2.6.3) with SendGrid(6.0.0)+ Heroku.

I've set up a contact_us form for the Users to send a message (email). Add everything works perfectly well in the development environment with the basic Sendgrid setup.

But, I'm having an ``error 400`` when I try to run my production environment:

`{"errors":[{"message":"The provided authorization grant is inva

[2019-11-16 15:24] dangerrg commented on #285
Hi guys,

I'm running my Rails 5.1.7 app (Ruby v.2.6.3) with SendGrid(6.0.0)+ Heroku.

I've set up a contact_us form for the Users to send a message (email). Add everything works perfectly well in the development environment with the basic Sendgrid setup.

But, I'm having this ``error 400`` when I try to run my production environment:

`{"errors":[{"message":"The provided authorization grant is in

[2019-11-18 15:07] dangerrg opened #395 "Error 400 when I try to run my production environment"
#### Issue Summary
Hi,

I'm running my Rails 5.1.7 app (Ruby v.2.6.3) with SendGrid(6.0.0)+ Heroku.

I've set up a contact_us form for the Users to send a message (email). Add everything works perfectly well in the development environment with the basic Sendgrid setup.

But, I'm having this ``error 400`` when I try to run my production environment:

`{"errors":[{"message":"The provided authorizati

[2019-11-22 23:00] #320 closed

[2019-12-04 20:15] devsi commented on #301
Docs are still out of date. I had to search for this PR and [https://github.com/sendgrid/sendgrid-ruby/pull/300](url) this related link to realize I couldn't use "substitutions". How is this a year out of date and not in the docs yet?!

[2019-12-09 10:22] SirRawlins opened #397 "Add bang methods to raise exceptions rather than returning error reponse"
#### Issue Summary

At the moment, sending a mail with invalid payloads, expired or incorrect API Keys, or through accounts without sufficient credits and suchlike does not raise an exception, but instead quietly returns a response object, with a non-200 status.

This makes sense for many, however, I'd find it much more useful if we had the option to have an exception raised instead, which I could

[2019-12-09 10:32] SirRawlins commented on #397
As an aside to this, I also note that the docs seem to suggest that exceptions from the API are returned. https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#error-messages - however, this hasn't been my experience, not totally sure what the expected behaviour is?

[2019-12-10 01:45] viral810 commented on #285
This has worked for me
[code]
The error is in this line, as
`mail = Mail.new(from, subject, to, content)`
should be
`mail = SendGrid::Mail.new(from, subject, to, content)`

[2019-12-20 17:31] kchronis commented on #393
@Znow were you able to get this working?

[2019-12-25 12:32] joshm1204 opened #398 "Request: ActionMailer with API"
#### Feature Request:

It seems this does not integrate with ActionMailer unless you use SMTP.  It would be extremely valuable to have sendgrid **officially support ActionMailer** with use of the **sendgrid API**, instead of just the SMTP settings.

Example:
https://github.com/eddiezane/sendgrid-actionmailer

[2020-01-15 18:10] childish-sambino commented on #333
Closing as we're now using internal tooling to automate this.

[2020-01-15 18:10] #333 closed

[2020-01-20 14:29] cseeman opened #403 "Validate SenderAuthentication domain is invalid JSON"
### Issue Summary
I am adding some sender authentication calls into an application, and have run into an issue working with validating the sender authentication domain. The returned response body is not valid JSON data. I wouldn't even call it valid string data, which it might be according to the [API reference](**https://sendgrid.com/docs/api-reference/**), or it should be null. Should the return

[2020-01-20 15:30] cseeman commented on #403
For now I am going to go forward with checking the raw response body for `\\\"` which seems like the escape character for the quote is itself being escaped which kind of invalidates it and just replace that response body with `\"`

[2020-01-23 03:09] saveav opened #406 "Unable to pass HTTP options when initializing SendGrid Client"
### Issue Summary
I cannot pass http_options because the Gem depends on an older version of `ruby_http_client`.

[code]

### Steps to Reproduce
1. Add sendgrid-ruby with version set to 6.0.4, into the Gemfile
2. Run the above code
3. Error happened!
[code]

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* sendgrid-ruby version: 6.0.4
* ruby version: 2.5.3

[2020-01-28 16:37] scottbarrow opened #407 "How to send mail using template from Design Library"
### Issue Summary
I am able to send emails via the V3 API using a template_id, and dynamic_template_data, however when I use a template_id from the Design Library, the API responds with "Cannot use dynamic template data with a legacy template ID".
Is it possible to send using a designs template?

Thanks

### Steps to Reproduce
1. Send email using a template_id from the Design Library

### Technica

[2020-01-31 21:28] courtsimas commented on #301
It blows my mind that a company as large as SendGrid still hasn't updated their docs to reflect this, nor have they updated this gem to work with their new API.

[2020-02-03 21:11] courtsimas commented on #407
I actually get a 202 response, but it doesn't actually read the "to" email in the personalizations array. So it never gets sent. It shows up in our Sendgrid activity page as undeliverable without a proper email address, although clearly I sent it in the api request.

I even used their v3 api docs terminal test, ON THEIR DOCS page, and put in my info (api key, email address, etc), and it still didn

[2020-02-06 16:44] tannerhallman commented on #391
Any updates on this? There's no documentation on the new Marketing campaigns and I'm pulling my hair out. Bout to rage quit and rewrite app using Mailchimp. It's been 6 months...

[2020-02-06 19:03] ooochie commented on #391
@tannerhallman I, too, have been waiting for updates here. I ended up moving forward using this gem as-is, but writing an intermediate layer in my own app to access the new endpoints. The way this gem is written allows you to chain the methods together to access the endpoint you need, so you can just initialize your client and go from there, using the API docs you referenced under "NEW MARKETING C

[2020-02-08 22:05] JefferyHus commented on #377
@ajfick sendGrid uses your profile timezone to execute all your scheduled requests. There is not a parameter to help you specify a timezone.

[2020-02-08 23:38] julienemo commented on #393
The following worked for me, even with a key of restricted access
I didn't need to call `instance_variable_set`
[code]

[2020-02-17 08:15] sagar-balapure commented on #376
Any update on creating dynamic templates via ruby/python. I tried creating template but unfortunately it always creates legacy template.

[2020-02-17 08:32] sagar-balapure commented on #376
After referring API [doc ](https://sendgrid.api-docs.io/v3.0/transactional-templates) i got the solution.
There is param in request body called _"generation":"legacy/dynamic"_. by default value is "legacy". pass the value as "dynamic". this will create dynamic template of sendgrid.
So the request body looks like -
[code]

Hope this will help.

[2020-02-18 18:26] childish-sambino commented on #376
Awesome! Thanks for following up @sagar-balapure!

Gonna consider this resolved.

[2020-02-18 18:26] #376 closed

[2020-02-20 22:05] salsadeanguila commented on #407
I'm having the same issue as @courtsimas. I have followed their examples and tried different things but it's not working. The `add_to` method it's not working.

[2020-02-21 02:59] courtsimas commented on #407
I actually got it to work.

[code]

[2020-02-21 16:32] childish-sambino commented on #353
Closing as we're now using internal tooling for this.

[2020-02-21 16:32] #353 closed

[2020-02-21 17:10] gareth commented on #172
I think this is closed by #405 🎉

[2020-02-21 17:12] #172 closed

[2020-02-21 18:47] childish-sambino commented on #119
Closed by https://github.com/sendgrid/ruby-http-client/pull/68

[2020-02-21 18:47] #119 closed

[2020-02-21 19:28] childish-sambino commented on #407
@scottbarrow Best I can tell, it's not possible. The design needs to be added to a dynamic template in order to accomplish sending with dynamic template data.

[2020-02-23 07:04] kjanoudi opened #410 "Gem Release 6.1.0 Passing Post Body Results in Error"
## Issue Summary
When running version 6.1.0, and executing a call to a properly formatted request to the `client.contactdb.recipients.post` method, the resulting error is `undefined method `bytesize' for #<Array:0x00007f11061d84e0>`

### Steps to Reproduce
1. Use gem version 6.1.0 (6.0.4 does not have this issue)
2. Follow code steps here: https://github.com/sendgrid/sendgrid-ruby/blob/master/USAG

[2020-03-05 13:41] mkilling opened #411 "Allow ruby_http_client 3.5.0 in version range"
### Issue Summary
sendgrid-ruby 6.1.0 caused this issue https://github.com/sendgrid/ruby-http-client/issues/117 to appear in our production environment. ruby-http-client has recently fixed the issue in version 3.5.0, but the current sendgrid-ruby release 6.1.1 (released at about the same time) still only allows for ruby-http-client ~> 3.4.0.

### Steps to Reproduce
1. Install sendgrid-ruby 6.1.1
2

[2020-03-05 15:50] childish-sambino commented on #411
Yup, looks like an issue with the version constraint. We should be allowing minor version bumps. Working on PR to address this.

[2020-03-05 16:13] #411 closed

[2020-03-06 16:18] childish-sambino commented on #377
More discussion here: https://github.com/sendgrid/sendgrid-nodejs/issues/1038

Generally speaking, when providing a unix timestamp it is time since UTC epoch.

[2020-03-06 16:18] #377 closed

[2020-03-06 16:29] #373 closed

[2020-03-06 16:29] #390 closed

[2020-03-06 16:29] #349 closed

[2020-03-06 16:30] #298 closed

[2020-03-06 16:34] childish-sambino commented on #312
Fixed by https://github.com/sendgrid/sendgrid-ruby/pull/400

[2020-03-06 16:34] #312 closed

[2020-03-06 16:57] childish-sambino commented on #308
@andrew-koster- Note that _Specify the to address in the to parameter of Mail.new_ is not required. Creating the personalization and using `add_to` are. This is a reflection of the API, but PRs to simplify this are welcome in the client (other clients simplify this some).

@haffla I disagree about the naming of `add_dynamic_template_data`. It allows for adding dynamic template data by merging it w

[2020-03-06 16:57] #308 closed

[2020-03-06 21:56] childish-sambino commented on #406
Fixed in the [6.1.0](https://github.com/sendgrid/sendgrid-ruby/releases/tag/6.1.0) release.

[2020-03-06 21:56] #406 closed

[2020-03-06 22:30] childish-sambino commented on #403
I've not been able to recreate this issue locally. The JSON parsing works fine even with the double-escaped quotes (which makes it proper JSON). Are you still seeing this issue? And could you post a dump of the installed gems?

[2020-03-06 23:49] #384 closed

[2020-03-10 15:51] childish-sambino commented on #398
Pull requests to add this feature are welcome and will be reviewed based on priority, but Twilio SendGrid is not actively building new functionality for the library.

[2020-03-10 16:00] childish-sambino commented on #397
Pull requests to add this feature are welcome and will be reviewed based on priority, but Twilio SendGrid is not actively building new functionality for the library.

[2020-03-17 14:41] childish-sambino commented on #395
Just tried your sample code and not getting an error and the email is received. Could you post the request body here?

https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#viewing-the-request-body

[2020-03-19 22:37] thinkingserious commented on #391
Hello @justinkchen, @tannerhallman and @ooochie,

First, BIG THANKS to @tannerhallman and @ooochie for posting solutions!!

Secondly, to answer @justinkchen, pull requests to add this feature are welcome and will be reviewed based on priority, but Twilio SendGrid is not actively building new functionality for the library.

With best regards,

Elmer

[2020-03-19 22:42] thinkingserious commented on #393
BIG THANKS to @kchronis and @julienemo for providing solutions!

I'm closing this one out based on the provided solutions.

With best regards,

Elmer

[2020-03-19 22:42] #393 closed

[2020-03-19 23:20] tannerhallman commented on #391
Wait so you're dumping support for your own ruby library?

[2020-03-20 19:25] childish-sambino commented on #394
Yes, wrapping the name string in double-quotes is all that's needed. If the name already contains double-quotes that should be okay as they will get escaped as well. Example:
[code]
Checking to see if/when this can be fixed on the backend, but no timetable yet. Also note that this doesn't affect all traffic/customers, but the above fix should work.

[2020-03-20 19:48] childish-sambino commented on #391
@tannerhallman No, not dropping support for Ruby or this library. Just that building new functionality here is lower on the priority list at this time.

[2020-03-22 02:36] kjohnston commented on #391
I'm looking to come back to SendGrid for the marketing contacts, lists, segments and automation as it's something I can't get from Mailgun, Postmark or MailChimp.  It looks like the API documentation for these endpoints is coming together.  I'm happy to see a Ruby gem and appreciate the company-supported, community-built, approach here - everyone has to prioritize.  But, I have to voice that witho

[2020-03-23 14:36] #407 closed

[2020-04-01 17:20] zhyhun-ivan opened #415 "Sending many emails to one receiver at once with different dynamic_template_data"
### Issue Summary
I am trying to send multiple emails to one receiver using
[code]
`request_body` looks like:
[code]
### Steps to Reproduce
1. Follow logic from summary

### Exception/Log
If it possible to make it work, as i expect to send emails by making one request instead of multiple related only to differences between dynamic_template_data

### Technical details:
* sendgrid-ruby version: 6.0.

[2020-04-01 17:38] childish-sambino commented on #415
I think that works fine. Are you seeing any errors?

[2020-04-01 18:35] zhyhun-ivan commented on #415
I have no errors, also i see that both emails are processed through sendrgid panel, but i receive only one email with randomly picked values from one of `dynamic_template_data` hashes.
https://sendgrid.com/docs/for-developers/sending-email/personalizations/ - here i found this Tip:

But it's not clear if there's any workaround.

[2020-04-01 18:59] childish-sambino commented on #415
Hmm, just tried this and see both emails when using the gmail client but weird stuff when using the Mac mail client (preview shows first email but opening shows second email). Are you seeing similar behaviour with different client?

[2020-04-01 19:19] zhyhun-ivan commented on #415
I tried and have only one email using any client, but i can see that 2 emails were processed and delivered
<img width="1514" alt="Screen Shot 2020-04-01 at 10 18 43 PM" src="https://user-images.githubusercontent.com/10931115/78177412-c80cf500-7466-11ea-840d-f84b38baf43c.png">

[2020-04-01 19:29] zhyhun-ivan commented on #415
After aprox 10 minutes, i received second email, but with  dynamic_template_data values from the first one.

[2020-04-02 16:20] childish-sambino commented on #415
Think it's best to open a support ticket to better triage this issue.

[2020-04-02 16:20] thinkingserious commented on #415
Hello @zhyhun-ivan,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-04-02 16:20] #415 closed

[2020-04-06 08:44] Mange commented on #91
Any update to this?

This prevents some users from using our apps and they have been using their email addresses for *years* so we cannot expect them to migrate to another address just to use our apps.

I get this might be uncommon in majority-English-speaking countries, but imagine for a second that a large email provider disallowed you from using "w" in your email addresses. That would be very p

[2020-04-06 13:45] #403 closed

[2020-04-13 21:10] PanMan commented on #207
I guess this isn't possible yet?

[2020-04-17 15:01] dangerrg commented on #395
Hi,

Sorry, my delay I didn't receive your previous message. In my case, this feature still not working properly.

Is the **_body request_** related to the _html.text_ file?

[2020-04-17 15:04] childish-sambino commented on #395
No the request body is just `mail.to_json`. Could you log that value and add it here (removing any sensitive bits)?

[2020-04-17 15:11] dangerrg commented on #395
Actually,

It seems that I haven't set up any JSON file with body requests. So, I guess that might be my main issue, isn't it?

[2020-04-17 17:45] childish-sambino commented on #395
This is the line in your code sample above:
[code]
Are you able to log the value of the last part? `mail.to_json`

[2020-04-21 18:45] #394 closed

[2020-04-22 17:29] cristiangreco opened #418 "Setting Content-Transfer-Encoding to base64"
### Issue Summary
Hi, I'm using the Mail Send v3 API to send emails over HTTP using this library through the `sendgrid-actionmailer` gem.

I set two contents in the request: one is "text/plain" and the other is "text/html". I want to apply a `Content-Transfer-Encoding: base64` to both of them, so that they're transfered using base64. This seems to be possible with the SMTP api, but I haven't been

[2020-05-01 16:04] thinkingserious commented on #418
Hello @cristiangreco,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-05-01 16:04] #418 closed

[2020-05-01 16:52] cristiangreco commented on #418
Hey @thinkingserious, thanks for your answer!

I've actually reached out to the support team (ticket 3900511), and their suggestion was to file a bug here 😅

Regardless of the issue itself (a character disappearing from email body), would you be able to confirm whether it's possible or not to set a Content-Transfer-Encoding other than `quoted-printable` using the ruby library?

Thanks

[2020-05-01 18:31] childish-sambino commented on #418
Does not appear possible with the web API: https://github.com/sendgrid/sendgrid-php/issues/98

[2020-05-02 00:21] fogonthedowns opened #419 "The Required Unsubscribe block is borked"
### Issue Summary
The required unsubscribe block is totally broken and does not work. I am completely unable to substitute Sender_Name, Sender_City, Sender_Zip etc etc. It appears as unprofessional broken text.

### Steps to Reproduce
1. Follow terrible Sendgrid docs
2. Notice Other substitutions are working
3. Notice the required unsubscribe block substitutions are not working

### Code Snippet
[

[2020-05-02 02:00] fogonthedowns commented on #419
I guess the above works - but you must include duplicate data in `substitutions` and `dynamic_template_data`.

[2020-05-02 15:20] fogonthedowns opened #420 "<%asm_global_unsubscribe_raw_url%> will not be replaced"
The unsubscribe link includes a link to <%asm_global_unsubscribe_raw_url%> which will not be replaced. The guides online are totally incomplete and I have spent hours trying to determine how to fix this. Moreover, this is required.

### Issue Summary
This is a blocking issue.

### Steps to Reproduce
1. I use the code below
2. I send an email
3. I see a href linking http://<%asm_global_unsubscribe_

[2020-05-02 15:39] fogonthedowns commented on #420
THE CORRECT WAY TO DO THIS:

"asm": {"group_id":17454,"groups_to_display":[17454]},

is undocumented. YOUR DOCS ARE TERRIBLE

[2020-05-04 15:18] childish-sambino commented on #420
Docs are here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html#-Request-Body-Parameters

[2020-05-04 15:18] #420 closed

[2020-05-04 15:25] #419 closed

[2020-05-06 10:13] krishnakekan opened #422 "i am getting the same issue in python when i am trying to add both plain text and html contents at the same time it is taking by default as html ."
### Issue Summary
A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, or code examples.

### Steps to Reproduce
1. This is the first step
2. This is the second step
3. Further steps, etc.

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* sendgrid

[2020-05-06 10:14] krishnakekan commented on #422
I am using sendgrid latest with python 3.7

[2020-05-06 14:42] childish-sambino commented on #422
The plain text content should be a plain version of the HTML content. It should not appear in conjunction with the HTML content.

[2020-05-06 20:28] rickychilcott commented on #391
If someone comes along and wants to be able to upload custom fields using @tannerhallman's code, you'll need to do a bit more work:

[code]

I've made it rely on SendGrid's field_definitions endpoint to lookup the appropriate mappings.

Hoping this helps someone else. Ideally, `sendgrid-ruby` would do this transformation for us -- ideally not even relying on us wrapping custom fields in their own

[2020-05-15 18:19] childish-sambino commented on #207
I've created an internal ticket to track this request (_reference ID: EID-2818_). I will circle back here when there's an update, but closing the issue here as it's not something that can be done in client-side code (w/o download/uploading/streaming the files).

[2020-05-15 18:19] #207 closed

[2020-05-17 18:30] 9mm opened #423 "Threadsafe?"
Hello, is this gem threadsafe? I was wanting to use it inside Sidekiq.

Thanks!

[2020-05-18 07:57] luk4s commented on #395
Hello, I have same error in my app.
Its caused by double `to_json` "conversion", let me explain:
`SendGrid::Mail#from=` store in `@from` as "json string"
[code]
=> then method `to_json` (SendGrid::Mail#to_json) return Hash with "`from => String` =>

request body looks like this:
[code]
As you can see, "from" is not a JSON object, but its a JSON string => Ruby in HTTP request do `.to_json` on this

[2020-05-19 15:13] egallup02360 opened #424 "Senders - 403 Access Forbidden"
### Issue Summary
Using the same code from your examples section, I am unable to create a sender identity through this library.

### Steps to Reproduce
1. Installed sendgrid-ruby gem
2. Run code below with my own API key pasted in instead of `ENV['SENDGRID_API_KEY']` (note: I also tried to adjust the email, address, etc. but I get the same response with the info below). It's also worth noting, I a

[2020-05-19 18:54] #424 closed

[2020-05-22 20:59] childish-sambino commented on #423
No it's not. I haven't dug to see if there are more reasons why it's not, but one is that the `request` that's built and the `http` client are attributes of the client-wrapper: https://github.com/sendgrid/ruby-http-client/blob/master/lib/ruby_http_client.rb#L86

[2020-05-22 21:44] 9mm commented on #423
@childish-sambino ah, interesting... so I'm not an expert in threadsafe code (I just switched to Sidekiq so I'm trying to learn). Can you explain why the attr_reader line isn't thread safe? I thought that makes instance variables which are threadsafe as long as `.new` is instantiated for each thread?

[2020-05-26 14:32] childish-sambino commented on #423
What I meant is that you can't use the same `SendGrid::API` instance across multiple threads. But yes, if each thread uses a `.new` instance then it should be safe.

[2020-05-29 18:16] childish-sambino commented on #395
@luk4s A Hash is not expected to be the type of `from`. It's expected to be of type `SendGrid:Email` which contains its own `to_json` implementation. The quick-start example demonstrates the proper usage: https://github.com/sendgrid/sendgrid-ruby#with-mail-helper-class

[2020-06-08 15:06] #422 closed

[2020-06-11 02:23] vestedpr-dev opened #426 "Exception stemming from starkbank-ecdsa inclusion in today's 6.3.0 release"
Thanks for your new release!  Something to escalate: as our tests were running in CI today we suddenly got a ton of failures and quite obscure ones too.  It took me about 45m in the debugger to track it down to your gem's latest update to 6.3.0 today.

I filed the fundamental issue in their repo here: https://github.com/starkbank/ecdsa-ruby/issues/4 ... but I wanted to drop you a line here since I

[2020-06-11 05:35] sybohy commented on #426
Same problem here. Can't deploy anymore. Rolling back to 6.2.1

[2020-06-11 07:01] jacobat commented on #426
Overriding `File.read` is a big no-no. Please don't include this library until it stops doing things like this.

[2020-06-11 09:09] swiknaba commented on #426
can the maintainers yank this version then? Messing with a core Ruby method is not cool.

[2020-06-11 14:59] childish-sambino commented on #426
Ack, working on yanking it now ...

[2020-06-11 15:02] tmertens commented on #426
Same here.  This library is very new, only on version 0.0.2 and does not seem to be production ready.

[2020-06-11 15:07] childish-sambino commented on #426
6.3.0 yanked. Will hold it back until the above linked issue is resolved.

[2020-06-11 15:07] #426 closed

[2020-06-18 23:23] 9mm commented on #393
Dis is crazy, why isnt it just fixed in the actual gem....... its closed w/o fixing it? This was like a waste of 2 hours

[2020-06-26 14:01] #423 closed

[2020-06-29 14:05] #395 closed

[2020-06-30 20:09] childish-sambino commented on #258
Fixed by https://github.com/sendgrid/sendgrid-ruby/pull/368

[2020-06-30 20:09] #258 closed

[2020-07-15 21:09] #269 closed

[2020-07-16 14:56] childish-sambino commented on #310
Closing as prism integration has been moved to https://github.com/sendgrid/sendgrid-oai/

[2020-07-16 14:56] #310 closed

[2020-07-16 22:57] thinkingserious commented on #91
Internal tracking ID: MP-6256

[2020-07-16 22:58] thinkingserious commented on #91
@Mange

Thanks for the additional context. I have forwarded this information along internally and we will update this thread as progress is made or information received.

[2020-07-17 14:50] #91 closed

[2020-07-17 21:05] childish-sambino commented on #346
Closing as we're no longer going with this change of workflow.

[2020-07-17 21:05] #346 closed

[2020-07-29 15:19] childish-sambino commented on #334
#362 is in the backlog for review. We're (slowly) working through open PRs. Note that PRs where tests are passing are prioritized first.

[2020-07-29 15:22] childish-sambino commented on #327
#351 is in the backlog for review. We're (slowly) working through open PRs. Note that PRs where tests are passing are prioritized first.

[2020-07-29 15:28] childish-sambino commented on #326
#338 is in the backlog for review. We're (slowly) working through open PRs. Note that PRs where tests are passing are prioritized first.

[2020-07-30 16:05] childish-sambino commented on #235
Closing as it's been a long time with no traction, there are no plans to build this, and it feels a bit complex to replicate and maintain across 6 different languages. I'd prefer an option where the source lives in 1 place or is taken as a SendGrid backend enhancement.

[2020-07-30 16:05] #235 closed

[2020-08-03 20:19] thinkingserious commented on #286
Hello @Elyahou,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-08-03 20:19] #286 closed

[2020-08-07 18:27] shelmire opened #433 "Sending with a batch_id does not seem to work"
### Issue Summary
batch_id seems to be ignored when used as described in documentation and example: https://github.com/sendgrid/sendgrid-ruby/blob/master/USAGE.md#v3-mail-send and https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/mail/mail.rb#L50

### Steps to Reproduce
1. Create a batch id:
[code]

2. Send a message with the batch_id
[code]
I'm passing in the custom_args so that I ge

[2020-08-07 19:02] shelmire commented on #433
Note that using curl as described here doesn't help either:

https://sendgrid.com/docs/for-developers/sending-email/curl-examples/

Could this be a permissions issue with the API token? I'd expect an API to respond with some sort of error if permission was denied.

[2020-08-07 20:17] shelmire commented on #433
The send does seem to cancel correctly if send_at is set far enough out (10 minutes?). Still weird that it just gives an ok with no body as a response, same for the get. Closing.

[2020-08-07 20:17] #433 closed

[2020-08-14 15:55] #316 closed

[2020-08-18 15:20] childish-sambino commented on #329
Fixed by https://github.com/sendgrid/sendgrid-ruby/commit/7eef99cc812c5fb43a007fc2d943793fc31ddeed

[2020-08-18 15:20] #329 closed

[2020-08-26 21:35] evandertino commented on #301
I think this ticket should be closed, dynamic templates work. See https://github.com/sendgrid/sendgrid-ruby/blob/main/examples/helpers/mail/example.rb

[2020-08-27 13:41] childish-sambino commented on #301
Example here as well: https://github.com/sendgrid/sendgrid-ruby/blob/main/use-cases/transactional-templates.md#with-mail-helper-class

Closing.

Please open a new ticket to track any additional docs work needed.

[2020-08-27 13:41] #301 closed

[2020-08-31 11:16] h0jeZvgoxFepBQ2C opened #434 "406 Not Acceptable"
### Issue Summary
Since some days we only get 406 not acceptable return codes for all gem calls?
We also tried with old and new admin api keys, but nothing works.

Also your chat is offline, and emails don't get answered - sorry but your customer support really sucks at the moment (we also have a paid plan, not free plan). I've always had good experiences with the sendgrid customer support, but th

[2020-08-31 18:09] eshanholtz commented on #434
Hi @h0jeZvgoxFepBQ2C, doing a quick google search, it looks like SendGrid provides some [guidance for 406 response codes](https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/responses.html#-Status-Codes). 406 status codes indicate that the request is missing an "Accept" header, which is interesting because the `SendGrid::API` client [sets this header by default](https://gi

[2020-09-02 00:00] eshanholtz commented on #296
Closing as this is a non-library issue.

[2020-09-02 00:00] #296 closed

[2020-09-02 00:08] eshanholtz commented on #143
Closing this as it has been marked a non-library issue.

[2020-09-02 00:08] #143 closed

[2020-09-02 21:10] #288 closed

[2020-09-04 19:27] #326 closed

[2020-09-10 11:30] h0jeZvgoxFepBQ2C opened #435 "How to update subusers?"
### Issue Summary
How can I update subusers with the ruby sendgrid gem?
You only show create and delete actions in your examples here: https://github.com/sendgrid/sendgrid-ruby/blob/main/examples/subusers/subusers.rb

When I try to use put or patch, it just gives me an "not found" error back?

[2020-09-11 19:23] childish-sambino commented on #435
I'm not seeing this as being possible using the API: https://sendgrid.api-docs.io/v3.0/subusers-api/

Recommend contacting support for more details.

[2020-09-11 19:23] thinkingserious commented on #435
Hello @h0jeZvgoxFepBQ2C,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-09-11 19:23] #435 closed

[2020-09-13 03:47] Pranc1ngPegasus opened #436 "Checking duplicate email address specified into personalizations as case insensitive"
### Issue Summary
SendGrid says:

ref: https://sendgrid.com/docs/for-developers/sending-email/personalizations/

And https://github.com/sendgrid/sendgrid-csharp implements case insensitive comparison method.
https://github.com/sendgrid/sendgrid-csharp/blob/23e4f6425c2d8546f1c8ca84bc2c93e5c5f9c1df/src/SendGrid/Helpers/Mail/Model/EmailAddress.cs#L91

I want to get implemented method that checking du

[2020-09-18 20:34] #314 closed

[2020-09-21 14:37] #317 closed

[2020-09-21 17:52] eshanholtz commented on #436
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-09-23 22:26] #436 closed

[2020-09-24 05:17] utkarsh1996 opened #438 "Error in using the Mail Helper Class in sending mail"
With the example of Mail Helper Class, I implemented in code and got this particular error

400
{"errors":[{"message":"The from object must be provided for every email send. It is an object that requires the email parameter, but may also contain a name parameter.  e.g. {\"email\" : \"example@example.com\"}  or {\"email\" : \"example@example.com\", \"name\" : \"Example Recipient\"}.","field":"from.

[2020-09-24 11:09] #438 closed

[2020-09-25 07:55] timpwbaker opened #439 "TypeError: superclass mismatch for class Client"
### Issue Summary
I have an ActiveRecord model `Client` and a rake task that includes sendgrid.

Within the `rake db:seed` task I cannot access Client, trying to interact with the `Client` class in any way results in "TypeError: superclass mismatch for class Client"

### Steps to Reproduce

1. rails new client_issue --database=postgresql -T
2. cd client_issue
3. echo 'gem "sendgrid-ruby"' >> Gemfi

[2020-09-25 08:20] timpwbaker commented on #439
I found a solution.

The clash is avoided if I move the include into the task action block:
[code]

It would still be a problem however if I wanted to access the Client model inside the rake task:

[code]

[2020-09-25 12:15] #439 closed

[2020-09-26 14:49] snaka opened #441 "SendGridWebhookVerification middleware unexpectedly changes request body's reading position"
### Issue Summary

SendGridWebhookVerification middleware unexpectedly changes request body's reading position.
So, rails application raises following exception.

[code]

### Steps to Reproduce

1. Run sample rails application and follow README
* https://github.com/snaka/sendgrid-webhook-rails-example

### Code Snippet

(none)

### Exception/Log
[code]

### Technical details:
* sendgrid-ruby versi

[2020-09-28 23:47] thinkingserious commented on #441
Hello @snaka,

Thanks for taking the time to report this and to create a PR!

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2020-09-29 00:35] #441 closed

[2020-10-01 14:52] #434 closed

[2020-10-02 00:26] emanuelhfarias opened #442 "Does this SDK supports email address validation?"
I'm a bit confused, there are two API docs for Sendgrid V3: [one](https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html
) and [two](https://sendgrid.api-docs.io/v3.0)

What is the difference? I see in the README that this project follows [one](https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html
), but this API does't have **Email Address Validation** feature from Pro Plan and doc

[2020-10-02 14:53] childish-sambino commented on #442
[Two](https://sendgrid.api-docs.io/v3.0) is the one you should use. The other should be removed at some point.

You can simplify things a bit using this library:
[code]

[2020-10-03 00:13] emanuelhfarias commented on #442
@childish-sambino wow, thanks.
I think this solves my problem. I'm closing this issue.

[2020-10-03 00:13] #442 closed

[2020-10-08 08:35] jsalik commented on #424
Same issue here, @egallup02360 did you manage to fix it?

[2020-10-08 13:09] egallup02360 commented on #424
I believe this endpoint is attempting to use some sort of marketing feature and I didn't have it configured or have access to it (free plan). 'Create a Sender Identity' wasn't what I wanted to do to allow emails to be sent from a certain address.

I could be misremembering this though. May feels like so long ago now. Hope this helps!

[2020-10-13 15:05] childish-sambino commented on #187
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-13 15:05] #187 closed

[2020-10-13 15:06] childish-sambino commented on #182
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-13 15:06] #182 closed

[2020-10-13 15:06] #185 closed

[2020-10-13 15:06] #184 closed

[2020-10-13 15:53] childish-sambino commented on #183
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-13 15:53] #183 closed

[2020-10-13 15:54] #186 closed

[2020-10-13 16:01] #191 closed

[2020-10-18 02:56] LetianChen opened #443 "Not getting "text" parameter for some emails"
### Issue Summary
I'm using inbound parse with my rails 6.0 app to handle customer support emails and I noticed that the "text" parameter is missing from some emails. At this moment all those emails came from the same account.

Here's the "html" parameter from the POST request:

`<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-mi

[2020-10-21 23:36] eshanholtz commented on #443
@LetianChen

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at support.sendgrid.com.

Thank you!

[2020-10-21 23:36] #443 closed

[2020-10-27 20:42] DmitryBarskov opened #444 "How do I send an email to a list of users?"
If I have some category or some list of users in SendGrid, how do I send an email to this category/list without listing all their emails in API request? Is it possible?

In UI I create a single send and choose a list, I can see total recipients count.

[2020-10-29 19:14] childish-sambino commented on #444
You can use the Single Send API: https://sendgrid.com/docs/for-developers/sending-email/single-sends-2020-update/

[2020-10-31 07:56] mito5525 opened #445 "Duplicate checking when adding email to personalization is not accurate"
### Issue Summary

About the duplicate check added by https://github.com/sendgrid/sendgrid-ruby/pull/437
It's not accurate to be case insensitive.

### Steps to Reproduce
1. Add uppercase email
2. Add duplicate uppercase email
3. No DuplicatePersonalizationError occurs
4. Request processing runs and 400 is returned

[2020-11-02 14:56] childish-sambino commented on #445
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the **issue summary** will help it move up the backlog.

[2020-11-03 10:35] rnchandole commented on #121
Hi,

I am having trouble in 2 functionality can you help me?
* I used C# and made call through RequestAsyc() method; its not returing the result which I suppose to store in database.
* When I am trying alternative way to use _Restsharp_ I got same authorization error. Can you let me know the why at your site we can not test the same?

please respond ASAP becoz I am stuck.

[2020-11-03 17:20] childish-sambino commented on #121
@rnchandole Please create a new issue in the appropriate library.

[2020-12-02 00:19] #444 closed

[2020-12-07 17:20] cesarizu commented on #398
It seems that SMTP authentication is being deprecated by sendgrid and that api sending will required soon. It would be nice if sendgrid would provide a way to use actionmailer directly with this gem.

As an alternative there's the unofficial gem: https://github.com/eddiezane/sendgrid-actionmailer

[2020-12-16 17:38] hoangtuanictvn opened #449 "Request: Make it possible to pass http_options config when initialize API"
### Feature Request:
The http_options can pass to the SendGrid::Client when initialize. However, I can't give it as a param when initializing the new SendGrid::API at this time. So I hope that it is possible to add http_options to the initialize method of SendGrid::API as below.

[code]

[2020-12-21 16:58] ivanko763 commented on #393
Still not fixed.

[2020-12-22 09:44] teoljungberg opened #450 "Ruby 3 support"
### Issue Summary
With the ever closer release of Ruby 3, companies are preparing for their respective upgrade work to be on the latest and greatest version of Ruby.

The last test failure at our company is tied to Sendgrid (and, incidentally with `ruby-http-client`).

I am still ironing out where the problem lies, but the stacktrace we get is connected to ruby-http-client, but that is in turn cal

[2020-12-22 10:49] teoljungberg commented on #450
After closer inspection, the test failure in our application was connected to the generated content from the Sengrid mailer had changed between the two Ruby versions (2.7.2 and 3.0.0-rc1).

Any reasons as to why?

[2020-12-22 12:36] teoljungberg commented on #450
I tracked this down to a regression in our PDF generation library, sorry for opening this issue up prematurely.

Closing.

[2020-12-22 12:36] #450 closed

[2020-12-22 23:11] nkhem commented on #59
This is awful but very helpful. Thank you for posting!

[2020-12-30 21:22] JenniferMah commented on #449
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2021-01-01 17:01] clinejj commented on #445
A suggested improvement could be to manually de-duplicate rather than raising an error. The python and C# libraries are adding this functionality:
https://github.com/sendgrid/sendgrid-python/issues/788
https://github.com/sendgrid/sendgrid-csharp/pull/991

(I admittedly didn't know that SendGrid would bounce an email back and am receiving this error, when I would rather just have the duplicates rem

[2021-01-04 20:39] platphorm opened #452 "Is sendgrid-ruby still ruby 2.2. compatible?"
https://github.com/sendgrid/sendgrid-ruby/blob/865a2accaa11aa990e188fc4f018be619590b52c/lib/sendgrid/helpers/mail/personalization.rb#L79

The gem has a single, recently introduced, safe navigation operator that breaks ruby 2.2.

[2021-01-06 01:21] gotchahn opened #453 "Unable to verify signature for testing purposes"
### Issue Summary
I'm trying to do some tests in rails to check if my sendgrid webhook endpoint is working. I'm in using the same values for PUBLIC KEY and SIGNATURE key shared on the fixtures page: https://github.com/sendgrid/sendgrid-ruby/blob/865a2accaa11aa990e188fc4f018be619590b52c/spec/fixtures/event_webhook.rb#L5-L20

But overall the verify method returns false to me.

### Code Snippet
If I

[2021-01-07 01:03] thinkingserious commented on #453
Hello @gotchahn,

Thank you for reporting this issue to us. I have been unable to reproduce. Could you please provide some more detail about your setup? Here is the code I used to test:

[code]
This returned `true`.

With best regards,

Elmer

[2021-01-07 01:19] thinkingserious commented on #452
Hello @platphorm,

The lowest version of ruby we support today is 2.4.

With best regards,

Elmer

[2021-01-07 01:19] #452 closed

[2021-01-07 02:47] platphorm commented on #452
Good to know, thanks @thinkingserious
The gemspec does have:
`  spec.required_ruby_version = '>= 2.2'
`

[2021-01-07 16:36] gotchahn commented on #453
Hi @thinkingserious, I copy pasted your code in my rails console, and gave me `false` hmm, weird. I'm using Rails `6.0.3.2`, Ruby `2.6.5` and Sendgrid-ruby `6.3.8`

[code]

[2021-01-07 16:49] gotchahn commented on #453
BUT, noticed that if I do that code in a plain `irb` console, it works! but not on `rails console` or in my rails testing suite. Do you have any idea why it works only in a `irb` console??

[code]

[2021-01-08 01:56] thinkingserious commented on #453
Hello @gotchahn,

Here are few things to check:

1. What is the return of `RUBY_VERSION` while in the irb console vs rails console.
2. Perhaps the rails console is using a different version of irb under the hood.
3. What happens when you run outside of the console?

Thanks!

With best regards,

Elmer

[2021-01-08 14:49] shelmire opened #454 "[BUG] Filter all messages does not work as described in documentation"
### Issue Summary
Getting messages via the described steps in the documention does not work. Note that below I demonstrate that the example code fails.

### Steps to Reproduce
1. Create a script with the following code (code copied exactly from the initialize step and this section), per https://github.com/sendgrid/sendgrid-ruby/blob/main/USAGE.md#email-activity .

2. Execute the script.

3. Observ

[2021-01-08 15:00] shelmire commented on #454
Note that doing a query directly with curl DOES work, so the gem is not behaving as expected:

curl --request GET \
 --url 'https://api.sendgrid.com/v3/messages?limit=10&query=to_email%3D%22testing%40sendgrid.net%22' \
 --header 'authorization: Bearer <<api_key>>'

[2021-01-08 18:35] gotchahn commented on #453
Hi @thinkingserious,
1. Both gave me `2.6.5` as the `RUBY_VERSION`.
2. The ONLY difference I see is that the rails console is using a Spring preloader `Running via Spring preloader in process....` dunno if that has something to do.
3. Well, I tested it in my test specs, and the result is the same as the `rails console`.

[2021-01-12 01:23] thinkingserious commented on #454
Hello @shelmire,

I'm in the process of trying to reproduce this and I will post my findings here. Thank you!

With best regards,

Elmer

[2021-01-12 03:53] gotchahn commented on #453
Hi @thinkingserious,
I figured it out, it's the payload the cause of the issue, and mainly, the `.to_json` method with the `'smtp-id'` section, look:

in `irb` console:
[code]

in `rails console`:
[code]

The `<` and `>` are converted, so that's why the verifier doesn't returns true. Using `JSON.generate` worked:
[code]

But **I have another question**, If I slightly change the payload, the verifi

[2021-01-12 12:45] netwire88 commented on #391
Any update on the documentation? This https://github.com/sendgrid/sendgrid-ruby/blob/main/USAGE.md#contactdb looks outdated. I get 403 access forbidden error.

[2021-01-12 13:17] netwire88 opened #456 "How to add/remove contacts to a list via new marketing API?"
There doesn't seem to be any documentation on how to add/remove contacts to a list via the new marketing API? Is there a gem wrapper around this https://sendgrid.api-docs.io/v3.0/lists/remove-contacts-from-a-list?

[2021-01-12 13:21] rickychilcott commented on #456
#391 might be helpful to you. This does need better documentation

[2021-01-12 13:27] netwire88 commented on #456
Thanks @rickychilcott , I read through that, but the example is how to create a contact & add it to a list at the same time. I'm trying to figure out how to add/remove contacts to/from lists without updating contact info. Any ideas?

[2021-01-12 13:47] rickychilcott commented on #456
If you don't want to

Adding a user to a list without changing anything else about that should be something like:

[code]
Note, if the email address does not exist, it will create a new contact.

Regarding deleting a contact from a list, I havent' done it myself.

The code you wrote does look close (e.g. `sg.client.marketing.lists._(list_id).delete(contact_ids: contact_id)`).

But since that URL y

[2021-01-12 14:43] netwire88 commented on #456
Thanks @rickychilcott , great ideas!

[2021-01-12 15:25] shelmire commented on #454
@thinkingserious Thanks!

[2021-01-12 19:37] thinkingserious commented on #456
Please be sure to vote on [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/391) to help move the priority up. Thanks!

[2021-01-13 23:29] #456 closed

[2021-01-18 10:31] vfonic opened #458 "Adding SendGrid addon on Heroku uses Basic Authentication with Username and Password"
I know this is not the most relevant place to submit this issue, but I got lost trying to find a contact on your website. Now you can close this issue and wait for this to start failing or you can forward it to the right place through your internal channels.
Thank you!

### Issue Summary

The Basic Authentication with Username and Password is deprecated and will most likely stop working on January

[2021-01-19 21:45] thinkingserious commented on #458
Hello @vfonic,

Thank you for taking the time to report this. I have forwarded this information to the appropriate team internally. Thanks again!

With best regards,

Elmer

[2021-01-20 10:03] vfonic commented on #458
Thank you, Elmer! 🤘

[2021-01-20 23:08] netwire88 commented on #445
I also have the same problem, if the same email address is in to and cc, then `SendGrid::DuplicatePersonalizationError` is raised.

[2021-01-26 00:07] #445 closed

[2021-01-30 00:18] #449 closed

[2021-02-19 12:23] vfonic commented on #458
Well, that doesn't seem like it worked. :/

As of this morning SendGrid plugin is not able to authenticate. I've switched to API authentication manually.

Basically, the SendGrid Heroku addon doesn't work out of the box. The ENV variables that are added to the app are old username/password combination that no longer works.

You guys should work on your internal and external communication. This is

[2021-02-24 15:47] netwire88 commented on #445
@JenniferMah Hi, I'm using the latest build and having issues with 2 related scenarios:

1. upper vs. lower case - if I have test1@example.com and TEST1@EXAMPLE.COM, that doesn't work
2. to/cc/bcc fields - if I have test1@example.com in to field and cc field, then it doesn't work. Similarly with to and bcc, and cc & bcc

[2021-02-24 15:56] netwire88 opened #460 "How to substitute \n or carriage returns"
Hi,
We have a string that contains `\n`. How do we submit it to the mail send API as a variable for dynamic template?

I tried:
[code]
but the text shows up as `<br/>` and not escaped.

I chatted with SendGrid support and they referred me to post here.

[2021-02-24 16:18] netwire88 commented on #460
I couldn't find an answer here but found it on Stackoverflow.
Essentially, I need to

1. replace `\n` with `<br>`
2. Use `{{{content}}}` instead of `{{content}}` in the dynamic template

[2021-02-24 16:18] #460 closed

[2021-02-24 16:23] JenniferMah commented on #445
Hi @netwire88
Could you please open a new issue with this information?

[2021-02-24 16:25] netwire88 commented on #445
Sure

[2021-02-24 16:27] netwire88 opened #461 "SendGrid::DuplicatePersonalizationError"
Hi, I'm using the latest build and having issues with 2 related scenarios, see https://github.com/sendgrid/sendgrid-ruby/issues/445#issuecomment-785196150:

1. upper vs. lower case - if I have `test1@example.com` and `TEST1@EXAMPLE.COM` in 1 field, i.e. `to`, `cc`, `bcc`, then the error is raised
2. to/cc/bcc fields - if I have `test1@example.com` in `to` field and `cc` field, then it doesn't work

[2021-02-24 21:12] fthobe commented on #290
@thinkingserious Hi Elmer, any chance to see this happening? Fabian

[2021-02-26 04:52] thinkingserious commented on #461
Hello @netwire88,

[This error is raised](https://github.com/sendgrid/sendgrid-ruby/blob/37c0b756f1def40073e442165f3fbde08b054752/lib/sendgrid/helpers/mail/personalization.rb#L75) whenever you have a duplicate email across `to`, `cc` or `bcc`. Please make sure that you have no duplicates across `to`, `cc` or `bcc` and note that duplication check is not case sensitive.

With best regards,

Elmer

[2021-02-26 18:20] thinkingserious commented on #454
Hello @shelmire,

Thank you for your patience!

I was able to reproduce this issue and confirm that via cURL your query works as expected and within this helper library the error you described is being thrown.

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2021-03-11 02:30] thinkingserious commented on #334
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:47] thinkingserious commented on #99
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:47] #99 closed

[2021-03-11 02:48] thinkingserious commented on #123
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:48] #123 closed

[2021-03-11 02:49] thinkingserious commented on #169
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:49] thinkingserious commented on #177
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:49] #177 closed

[2021-03-11 02:49] thinkingserious commented on #180
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:49] #180 closed

[2021-03-11 02:49] thinkingserious commented on #194
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:49] #194 closed

[2021-03-11 02:50] thinkingserious commented on #200
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:50] #200 closed

[2021-03-11 02:50] thinkingserious commented on #201
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:50] #201 closed

[2021-03-11 02:50] thinkingserious commented on #202
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:50] #202 closed

[2021-03-11 02:51] thinkingserious commented on #203
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:51] #203 closed

[2021-03-11 02:51] thinkingserious commented on #208
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:51] #208 closed

[2021-03-11 02:52] thinkingserious commented on #209
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:52] #209 closed

[2021-03-11 02:52] thinkingserious commented on #211
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:52] #211 closed

[2021-03-11 02:52] thinkingserious commented on #212
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:52] #212 closed

[2021-03-11 02:52] thinkingserious commented on #214
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:52] #214 closed

[2021-03-11 02:53] thinkingserious commented on #215
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:53] #215 closed

[2021-03-11 02:53] thinkingserious commented on #222
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:53] #222 closed

[2021-03-11 02:53] thinkingserious commented on #238
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:53] #238 closed

[2021-03-11 02:54] thinkingserious commented on #293
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:54] thinkingserious commented on #295
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:54] #295 closed

[2021-03-11 02:54] thinkingserious commented on #311
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:54] #311 closed

[2021-03-11 02:54] thinkingserious commented on #313
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:54] #313 closed

[2021-03-11 02:55] thinkingserious commented on #318
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:55] #318 closed

[2021-03-11 02:55] thinkingserious commented on #324
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:55] #324 closed

[2021-03-11 02:55] thinkingserious commented on #325
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:55] #325 closed

[2021-03-11 02:56] thinkingserious commented on #327
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:56] #327 closed

[2021-03-11 02:56] thinkingserious commented on #328
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:56] #328 closed

[2021-03-11 02:56] #342 closed

[2021-03-11 02:57] thinkingserious commented on #355
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:57] #355 closed

[2021-03-11 02:57] thinkingserious commented on #356
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:57] #356 closed

[2021-03-11 02:57] thinkingserious commented on #386
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:57] #386 closed

[2021-03-11 02:58] thinkingserious commented on #397
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-11 02:58] #397 closed

[2021-03-11 09:06] h0jeZvgoxFepBQ2C commented on #293
Since this feature has not been implemented this shouldn't be closed imo?

[2021-03-11 16:47] JenniferMah commented on #293
Hi @h0jeZvgoxFepBQ2C I went ahead and reopened this issue since this feature has not been implemented yet.

[2021-03-22 17:59] cesimon opened #462 "BaseInterface class should be inside a module"
Hello !

From v6.2.0 (https://github.com/sendgrid/sendgrid-ruby/blob/6.2.0/lib/sendgrid/base_interface.rb), and still in the latest version v6.4.0 (https://github.com/sendgrid/sendgrid-ruby/blob/6.4.0/lib/sendgrid/base_interface.rb), the gem includes a BaseInterface class.

My project (rails 6.0.3.5) also had a BaseInterface class, which means that when I installed the gem, the project couldn't be

[2021-03-27 18:43] rohandey opened #464 "Bad username / password"
### Issue Summary
Using this old sendgrid-ruby version for a legacy app, suddenly it started to throw error
SendGrid::Exception: {"errors":["Bad username / password"],"message":"error"}

Is there any change to how api calls are made or we need to make some changes for this work again.

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* sendgrid-ruby version: (0.0.3)
* ruby

[2021-03-29 22:30] thinkingserious commented on #464
Hello @rohandey,

Yes, the [method of authentication](https://sendgrid.com/docs/for-developers/sending-email/upgrade-your-authentication-method-to-api-keys) has changed.

My recommendation is to update to the latest version of this library, then your code would look something like this:

[code]

With best regards,

Elmer

[2021-03-29 22:56] thinkingserious commented on #462
Hello @cesimon,

Thanks for letting us know about this!

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2021-03-30 16:52] rohandey commented on #464
Hi @thinkingserious
Thank you, this worked. What is the best way to sets  headers under this
SendGrid::Mail.new(from, subject, to, content)

Thanks
Rohan

[2021-03-30 17:51] rohandey commented on #464
Hi @thinkingserious

To be more clear I am not able to do add_tos to message. Previously we were sending news letters by appending array of emails like this
header = Smtpapi::Header.new
header.set_tos(email_arr)

What would be the new way with the current api?

Thanks
Rohan

[2021-03-30 23:03] #461 closed

[2021-03-30 23:21] thinkingserious commented on #464
Ah, you may need a more flexible approach. Please see [this full example](https://github.com/sendgrid/sendgrid-ruby/blob/fb998ee8a4f59991c15096bc682d9caba580b792/examples/helpers/mail/example.rb#L21). Or, [this example](https://github.com/sendgrid/sendgrid-ruby/blob/fb998ee8a4f59991c15096bc682d9caba580b792/use-cases/transactional-templates.md#with-mail-helper-class), if you would like to use dynam

[2021-03-30 23:57] FrenchMajesty commented on #297
Running into the same issue. This is very poorly documented.

As of 2021 there is only 1 section for templates on the website and this is what it displays.

![Screen Shot 2021-03-30 at 6 55 13 PM](https://user-images.githubusercontent.com/24761660/113071088-a6357380-9189-11eb-881f-398cabe80691.png)

However attempting to use this ID in the SDK will give you a `400 error` with the message:

[2021-03-31 04:48] rohandey commented on #464
Thank You @thinkingserious  ... It worked :)

[2021-03-31 15:50] SaiOduri commented on #297
@FrenchMajesty This worked for me! Thanks!!

[2021-03-31 23:13] #464 closed

[2021-04-23 12:44] nulligor opened #465 "EML files turning into multiple attachments when using Inbound Parse"
### Issue Summary
When using Griddler + Ruby with [Inbound Parse](https://sendgrid.com/blog/receiving-email-in-your-rails-app-with-griddler/) configured `.EML` files are being split into multiple attachments when sending e-mails from Gmail -> Application.

### Steps to Reproduce
1. Grab or create a sample [EML](https://fileinfo.com/extension/eml#:~:text=An%20EML%20file%20is%20an,files%20sent%20wit

[2021-04-23 16:11] thinkingserious commented on #465
Hello @nulligor,

Thank you for taking the time to report this!

It looks like this issue should be posted [here](https://github.com/thoughtbot/griddler-sendgrid). Thanks!

With best regards,

Elmer

[2021-04-23 17:32] nulligor commented on #465
@thinkingserious I mean the library doesn't seem to be maintained anymore. They do use `Griddler::Email` wrapper though so I'd figured you guys would have some input on what's going on under the hood with the attachments since it's the layer responsible for the communication with Sendgrid AFAIK. Makes sense?

[2021-04-23 17:40] nulligor commented on #465
@thinkingserious To be fair the library doesn't seem to be maintained anymore. I will however leave an issue in there as well.

I'm just a little confused as to where exactly the code for the "splitting of EML files into multiple files" are located or if that's a Sendgrid internal behavior. Do you know where I could get this info?

[2021-04-26 22:31] thinkingserious commented on #465
Hello @nulligor,

I do not believe we split the EML files on the server side. We pass through the content and attachments for parsing on the client side (you may find some example payloads [here](https://sendgrid.com/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook/#example-default-payload) and helper code for inbound parsing [here](https://github.com/sendgrid/sendgrid-ruby/t

[2021-05-17 16:17] fangbyte opened #467 "Personalization causes duplicate `to` email and sometimes causes multiple emails"
### Issue Summary
When including a BCC array, the `sendgrid-ruby` client either errors if an additional `to` is not provided, and when an additional `to` is provided can intermittently cause multiple duplicate emails to be sent.

### Steps to Reproduce the Issue
Following the kitchen sink example from https://github.com/sendgrid/sendgrid-ruby/blob/6.3.3/examples/helpers/mail/example.rb#L21
[code]

[2021-05-19 00:34] shwetha-manvinkurke commented on #467
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2021-05-20 10:43] jibiel commented on #391
The docs here are great! Oh, wait... these are actually the issue comments. :neckbeard:

[2021-06-03 23:13] JenniferMah commented on #465
Closing due to inactivity. Please open a new issue if you still need help.

[2021-06-03 23:13] #465 closed

[2021-06-25 21:13] dgavey commented on #424
Looks to me like the API updated to use `verified_senders` instead of `senders` testing the GET with that worked Ex: `sg.client.verified_senders.get()` however `sg.client.senders.get()` gave me a 403.

[2021-06-28 22:43] Joshandrews43 commented on #59
This is still a problem, anyone have a solution?

I feel like this should be easy but it is painfully difficult

[2021-07-31 20:59] philmitchell commented on #297
The UI is pretty janky, but after logging out and logging back in, I found my template had an "INACTIVE" label on it. I was able to click the label (I think) and select "Make active". After that, the listed template ID (d-etc.) worked.

It now shows an "ACTIVE" label, but I no longer see any UI that lets you toggle active/inactive.

[2021-08-10 20:53] JohnLegrandRichards commented on #391
This seems to be just a documentation issue. Chaining the methods through the client is all there. It just seems to not be well documented in the example folders. I will take the time this week to add a new campaigns folder in the documentation as well as a nested contacts folder. I will then include examples so people stop getting confused.

[2021-08-18 12:09] ramonpm opened #469 "Dynamic Templates overwritting list styles"
### Issue Summary
We're using the Dynamic Templates features. Customers use our Rich HTML tool for creating the content how they want to look like, and when it's related to Lists, Sendgrid's internals are exporting the below which overwrites the styles from our tool.

[code]

Is there a way to stop that?

I've asked the same thing on Sendgrid Support page, but the agent said he's not aware of a wa

[2021-08-19 20:34] futura commented on #438
I got the same result. Was this ever resolved?

[2021-08-24 22:37] JenniferMah commented on #469
Hi @ramonpm
Could you reply with the code that you are currently using to send json with HTML ordered lists and which version of Sendgrid-ruby you are using?

[2021-09-07 18:07] cody2094 commented on #465
@nulligor I've just ran into this same issue. Did you happen to open an issue on the other gem or find a fix for the issue?

[2021-09-23 07:10] Timo-Wolf opened #471 "Priority of sent emails"
### Issue Summary
I am using sidekiq to queue emails to be sent. I have set the queue to 1 concurrences so that it is forced to work on each job one by one. However one in six times the emails are received in the wrong order. For example: I have email A and email B, in the code I am queueing email A first and then email B. The queue is processing the jobs in the correct order (i have checked this)

[2021-09-24 18:54] eshanholtz commented on #469
Closing this issue due to lack of response. If you'd like further help, please reopen the issue with the information requested.

[2021-09-24 18:54] #469 closed

[2021-09-28 00:00] eshanholtz commented on #471
Hi @Timo-Wolf,

No there is no way to set email prioritization/queueing through the API or the helper libraries. For further help with this issue, I recommend reaching out to [support](https://support.sendgrid.com/hc/en-us).

[2021-11-10 20:05] lopenchi opened #474 "Helpers do not have all properties"
### Issue Summary
Checking the request body for `mail/send` (https://docs.sendgrid.com/api-reference/mail-send/mail-send), it was discovered that helper classes provided in this library are old and do not contain all info needed.

Errors found:

- In **mail_settings** object, there are some properties that are not in [MailSettings](https://github.com/sendgrid/sendgrid-ruby/blob/d4185b3a70d9e18151e

[2021-11-12 23:08] JenniferMah commented on #474
Hi @lopenchi,
Thanks for opening a github issue! This issue is in our internal backlog. Please track its progress through [DI-1810](https://issues.corp.twilio.com/browse/DI-1810). Pull requests and +1s on the issue summary will help it move up the backlog.

[2021-12-09 16:48] nickhammond opened #475 "The link to be notified of releases and breaking changes is returning a 500 from Heroku"
The link to be notified of releases and breaking changes is returning a 500 from Heroku.

https://github.com/sendgrid/sendgrid-ruby
![image](https://user-images.githubusercontent.com/17698/145439543-99452331-348f-43bf-8a80-de3fe3030fa0.png)

https://dx.sendgrid.com/newsletter/ruby
![image](https://user-images.githubusercontent.com/17698/145439600-4d4cd168-daa3-424d-93a3-a889e4e572b4.png)

[2021-12-10 15:32] shwetha-manvinkurke commented on #475
@nickhammond we don't support the newsletters anymore. The link has now been removed.

[2021-12-10 15:32] #475 closed

[2021-12-20 18:00] Petercopter commented on #458
This still appears to be a problem :\

[2022-01-21 08:22] muhammedtufekyapan opened #477 "Multiple Emails"
Hi everyone,

I'm looking for a way to send multiple emails once. When I searched I found different documentations about sending multiple emails once like https://github.com/sendgrid/sendgrid-csharp/issues/660, https://docs.sendgrid.com/api-reference/how-to-use-the-sendgrid-v3-api/authentication .

However I can't find how to do that with Ruby. Can I send multiple emails with Ruby and how?

[2022-02-06 07:47] muhammedtufekyapan commented on #477
Any idea?

[2022-02-18 20:01] childish-sambino commented on #477
There's an example here: https://github.com/sendgrid/sendgrid-ruby/blob/main/use-cases/personalizations.md

[2022-03-03 23:16] FlandersBurger opened #484 "uninitialized constant SendgridService::Personalization"
### Issue Summary
My code is practically identical to the example that includes personalization.
However, I get the following error:

NameError (uninitialized constant SendgridService::Personalization
<img width="844" alt="image" src="https://user-images.githubusercontent.com/8195826/156668868-890e89b4-3e52-42d4-aa26-6ff870d81175.png">

Sending an email without personalization works fine.

### Cod

[2022-03-03 23:27] FlandersBurger commented on #484
Just had to add SendGrid::

[2022-03-03 23:27] #484 closed

[2022-03-21 22:13] JenniferMah commented on #477
Closing due to inactivity. Please re-open this issue or open a new GitHub issue if you still need help.

[2022-03-21 22:13] #477 closed

[2022-03-22 12:48] saurabh-dgdp commented on #454
Hello @thinkingserious,

The issue was we don't need to encode the query params, it is even mentioned in USAGE.md.

I have raised a PR for this issue. https://github.com/sendgrid/sendgrid-ruby/pull/485