[2014-09-30 20:42] guiocavalcanti opened #2 "Can't use smtpapi to send emails with templates"
I'm trying to use sendgrid-ruby to send multiple messages with the same template. At frist I tried to just use `mail.smtpapi` API:

[code]

But I got a missing subject error:

[code]

Then I tried to set some `Sendgrid::Mail` attributes manually:

[code]

This time the message was sent but without the substitutions. You can see the template I defined here:

![](https://www.dropbox.com/s/ug9bibpcbq

[2014-09-30 21:53] #2 closed, assigned to nobody

[2014-10-15 18:41] mbernier opened #4 "Add/set section doesn't seem to do anything"
I set up a test script nearly directly from the readme file to play with substitutions and sections. Subs work, but sections don't seem to have any effect.

[code]

The email I receive is:

Subject:

[code]

Message:

[code]

"keep" is replaced, "other" is replaced, but "-charger-", "-bomber-", and "-charge-" don't get replaced

[2014-10-15 19:23] #4 closed, assigned to nobody

[2014-10-20 17:04] mledom opened #7 "Invalid user name and password exception handling"
We started using this gem for simple email sending. During the building phase I came across an error because I did not have my configuration setup properly. The error from SendGrid was "{\"message\": \"error\", \"errors\": [\"Bad username / password\"]}".

When the gem raises the error the message is being passed straight to the SendGrid::Exception class. Should the exception parse the json string

[2014-11-06 04:18] mgreene opened #8 "Add support for specifying Content-Transfer-Encoding"

[2014-11-10 16:46] #8 closed, assigned to nobody

[2014-11-21 19:10] nquinlan opened #9 "explain how to use smtpapi gem"
It'd be nifty if you could include an example of how to use [sendgridJP/smtpapi-ruby](https://github.com/sendgridJP/smtpapi-ruby), before throwing people over to it.

[2015-01-07 18:38] rbin commented on #9
@eddiezane what do you think about this buddy?

[2015-01-14 05:12] nquinlan commented on #9
Even just one or two examples would be good, not telling people how to use it, means that people need to look at the code to find the accessor.

I know I always need to look back at old code to figure out how I'm supposed to access the header.

[2015-01-15 13:46] #9 closed

[2015-02-09 09:02] KleverMarketing opened #12 "Error on README"
Thank you for the nice Gem.
The example in X-SMTPAPI Header section doesn't work. The added filter should be "templates" instead of "template"

`header.add_filter('templates', 'enable', 1) `
`header.add_filter('templates', 'template_id', '1234-5678-9100-abcd')`

[2015-02-20 12:33] JoshMcKin opened #14 "No test"
Restclient is slow, so I'd like to create a pull request to use https://github.com/nahi/httpclient instead, but there are no tests to verify functionality. Are there tests that can be checked into the repo to aid in opensource development?

Thanks,
Josh

[2015-02-20 17:11] bfischer1121 commented on #12
+1

Ran into this as well. It will send a blank email without any error. Maybe note that "template" is for legacy templates and "templates" is for new templates. Throwing an error at the SendGrid level would be even better.

[2015-02-20 20:24] #12 closed

[2015-02-20 20:25] eddiezane commented on #12
Thanks so much for reporting this and sorry for the delay!

[2015-02-20 23:00] eddiezane commented on #14
I actually have some changes that include tests that I need to push up. Thanks for the reminder!

I am definitely not opposed to the idea of swapping restclient for httpclient. Is there data on the speed comparison? It looks like the included benchmarks don't include it. Though it is simply based off net/http and that's there.

[2015-02-20 23:19] bfischer1121 opened #15 "Mail parameter aliases or examples"
Just spent the longest time trying to get the "fromname" param to work because I was referencing the Web API docs and, since most params are identical, just assumed it'd be set using "fromname". It needed to be set using "from_name".

I think aliasing the names or adding examples of every transformed param to the readme would help others have a smoother time using the gem.

[2015-02-21 06:40] eddiezane commented on #15
Thanks for the feedback! We have all the available params listed [here](https://github.com/sendgrid/sendgrid-ruby#available-params), but it could use some improvements.

[2015-02-21 06:40] #15 closed

[2015-02-21 14:34] JoshMcKin commented on #14
http://stackoverflow.com/questions/17619028/ruby-rails-performance-openuri-vs-nethttp-vs-curb-vs-rest-client
https://bibwild.wordpress.com/2012/04/30/ruby-http-performance-shootout-redux/
http://www.slideshare.net/HiroshiNakamura/rubyhttp-clients-comparison

The last 2 are a bit old but I've heard Net::Http has not changed enough to make a big difference in performance.

There are faster clients t

[2015-03-01 17:09] fields opened #17 "Trouble using substitutions in templates"
I have an email template set up that looks like:

I have an email template set up:

    <%body%>
    Welcome to the Highlight Summary
    Heading
    -cl1-
    -cl2-
    -cl3-
    -cl4-
    -cl5-

As I understand it, that should allow for me to use -clX- as substitution values when sending email using the ruby library. I've tried many permutations of this, but nothing works.

I would like to subst

[2015-03-04 21:06] fields commented on #17
This turned out to be https://github.com/sendgrid/sendgrid-ruby/issues/12

[2015-03-04 21:06] #17 closed

[2015-06-19 19:20] RichardGrossman opened #18 "Readme.md block example throws error"
[code]

[2015-06-19 19:23] RichardGrossman commented on #18
Sorry - my ID ten-T error...

[2015-06-19 19:23] #18 closed

[2015-06-23 19:27] RichardGrossman opened #19 "cannot actually assign an array to mail.to"
Readme.md states this:

```mail.to = ['Example Dude <example@email.com>', 'john@email.com']```

That exact example throws an error on send: invalid email address.  Even using pure email addresses.

[code]

[2015-06-25 14:44] KEdwards1 opened #20 "Words are not concatenated on the jobs page"
User the rails truncate method to fix this

[2015-06-25 14:44] #20 closed

[2015-06-30 07:20] VictorAcatrinei commented on #19
Hi there,
I have also tested the code and also the code we have on our docs page, and it is throwing the same error. Did we have any kind of changes in our library lately ?

[2015-07-30 05:02] yez opened #21 "Template Engine support"
I was wondering if there were plans to support your [Template Engine](https://sendgrid.com/docs/API_Reference/Web_API_v3/Template_Engine/index.html). If there is not I'd be happy to get involved and build the features I would like to use.

[2015-08-11 19:39] plockxng opened #22 "API Key support"
Hi, documentation denotes that for the api_user and api_key, it requires the actual account name and password. Could you please implement the feature to use an API key instead of the SendGrid password?

[code]
Thanks,
Preston

[2015-09-07 06:59] simkessy commented on #21
+1

[2015-09-18 21:07] mgrecar commented on #22
:+1

[2015-09-18 22:14] thinkingserious commented on #22
We are implementing this in an upcoming release, you can check the progress here: https://github.com/sendgrid/sendgrid-ruby/tree/1.0.0.wip

Thanks!

[2015-09-28 15:43] Timbinous commented on #21
+1

[2015-09-29 14:49] thinkingserious commented on #21
We plan to include template engine support, currently via https://github.com/sendgrid/sendgrid-ruby/pull/23

[2015-09-29 14:49] #21 closed

[2015-10-27 10:51] gawin commented on #22
+1

[2015-10-27 14:20] thinkingserious commented on #22
@plockxng @mgrecar @gawin

That change is live: https://github.com/sendgrid/sendgrid-ruby#usage

Please let me know if you run into any issues. Thanks!

[2015-10-27 14:20] #22 closed

[2015-10-27 18:59] plockxng commented on #22
@thinkingserious, works great for me, thanks a bunch!

[2015-10-30 21:11] thinkingserious commented on #14
We are now using faraday.

[2015-10-30 21:11] #14 closed

[2015-11-02 23:05] davidray opened #30 "Support for the v3 Campaign API?"
Do you have plans to add support for the campaign and contact API end points in this gem?

[2015-11-03 13:22] thinkingserious commented on #30
Yes, we will be adding support for all Web API v3 endpoints, across all libraries: https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html

I don't have a firm timeline right now, but it is on our roadmap.

[2015-11-03 13:22] #30 closed

[2015-11-03 13:56] davidray commented on #30
Awesome thanks!

[2015-11-30 04:51] shivabhusal opened #32 "How to send context specific values like name, prices and other invoice details"
In transactional email
[code]

how to pass the variables `:number`, `:name`??

thanks,

[2016-01-06 22:58] mklemme commented on #32
Those are passed in the sendgrid smtp headers defined in `X_mailer.rb` as an array of strings. The format you define the placeholders in your email content should match the substitution tag's key. So ":name" wouldn't work if your headers had "%name%"

[code]
source: http://stackoverflow.com/questions/32790963/rails-mailer-using-sendgrid-template/34169292#34169292

documentation: https://sendgrid.c

[2016-01-06 23:02] mklemme opened #37 "Updating the template's text & html content via the sendgrid api"
The documentation only shows updating the name of the template via the api. Is there a way to update the template's content through an api instead of only through the web UI? It looks like there is the `TemplateMailer` but I'm not sure if this is the same thing as the basic actionmailer config.

[code]

Does setting the html here update the template when it's passed into the `TemplateMailer`: `Sen

[2016-01-07 10:49] aelor opened #38 "cc and bcc is not working"
I am trying to send emails using template api

[code]
The to is working fine , but bcc is not working . Is it some kind of bug

[2016-01-13 13:15] #32 closed

[2016-01-13 21:38] mklemme commented on #37
For anyone who wants to work with templates using the Sendgrid API, use this unofficial gem: https://github.com/awwa/sendgrid4r

[2016-01-13 21:38] #37 closed

[2016-01-20 02:26] swifthand opened #39 "Does not support the majority of SendGrid v3 API"
Hello SendGrid friends,

After using SendGrid for a few years as a simple SMTP endpoint with a little bit of analytics baked in, I was excited to finally have the opportunity to dive deep into more advanced features, such as Advanced Suppression Management, Marketing Campaigns, and Threads.

Looking at this library, however, the majority of SendGrid's [Web API v3](https://sendgrid.com/docs/API_Ref

[2016-01-20 18:24] thinkingserious commented on #39
Hello @swifthand,

We are planning to both implement the Web API v3 endpoints across all our libraries and release an Open Source Standards Guide. The Guide will provide instructions on how to contribute and we will also be releasing a roadmap.

Right now, I suggest you utilize your own Ruby implementation. It will take some time (not too long, but probably too long for your needs) for us to roll

[2016-01-20 18:24] #39 closed

[2016-01-21 15:58] swifthand commented on #39
Will do, thanks for the quick feedback!

[2016-02-04 10:12] muichkine opened #40 "Method #send"
Hello guys,

 Overriding the `:send` method in ruby is a very bad idea. It can lead to very strange behaviors and stop anyone from pushing a bit the enveloppe by meta-programming `SendGrid::Client` objects or using them in any other way than a plain `client.send`.

And there are use to doing these stuffs :)

No big deal given the simplicity ofthe gem. But I think it's definitely worth pointing out

[2016-02-22 00:00] cyclotron3k opened #41 "Template caches recipient list"
This did not do what I expected it to do, and caused a lot of trouble:

[code]

Spoiler alert: You'll end up sending A's email to A, B's email to B and A, C's email to C, B & A, etc, etc.

TemplateMailer adds `recipient` to a recipient list that is cached in `template`, and it is never cleared out. Recipients keep getting added to the recipient list stored in `template`.

Perhaps this is by design

[2016-03-03 11:48] jrpolidario opened #43 "Add support for Non-X-SMTPAPI Headers"
From [API docs](https://sendgrid.com/docs/API_Reference/Web_API/mail.html), there is support for `headers`.

My scenario required me to have both X-SMTPAPI's unique_args header, and Non-X-SMTPAPI custom header.

I could not find any way to add Non-X-SMTPAPI headers from either README.md nor from the [source code](https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/mail.rb), because

[2016-03-03 21:44] jeffblake opened #45 "Subuser support"
Hi,

I need to be able send email through a subuser/account. I don't see that support documented or in the source code.

[2016-03-04 18:36] gurgelrenan opened #46 "Support add attachment into SendGrid::TemplateMailer"
Hello guys.

Currently I can add a attachment into a `Mail` object like well described in **Attachments** section:
```mail.add_attachment('/tmp/report.pdf', 'july_report.pdf')```
Nice, I understand! My question is about this same approach but **working with templates**.

As described in section **Working with Templates** there is `SendGrid::Recipient` Class that supports `add_substitution` method,

[2016-03-07 19:06] juggy opened #48 "Send generated file as attachment"
It seems the add_attachment method only works with files. What about generated attachments that live in memory? How can I send those?

[2016-03-08 13:23] gurgelrenan commented on #48
@juggy Do you think that this issue is related to #46 ?

[2016-03-11 22:23] diazruy commented on #40
This just caused me a bit of confusion as I was working on https://github.com/sendgrid/sendgrid-ruby/pull/50 and trying to use `client.send` in order to DRY up the tests. Finally figured out a way to work around it, but it is bound to cause issues most likely.

[2016-03-16 02:46] coderdave commented on #19
This works for me in version 1.1.6

[2016-03-18 01:25] #45 closed

[2016-03-18 01:27] jeffblake commented on #19
Doesn't work for me.

I'm not getting errors, its delivering to the correct email, but its not setting the `to_name`... leaving the email unpersonalized.

[2016-03-19 02:00] coderdave commented on #19
@jeffblake Yeah, that's not working but the array works.

[2016-03-19 02:04] coderdave opened #52 "reply_to has no effect"
I'm setting the `reply_to` but when you click to reply to the email, it's replying to the `to` email. Am I doing something wrong?

[2016-03-24 10:10] matt-hu commented on #38
I'm pretty sure it works now, I think it's not an issue anymore.

[2016-03-25 17:32] kempchee opened #54 "Sendgrid adding :default attachment"
When inlining an image based on the code example:

mail = SendGrid::Mail.new do |m|
  m.to = 'test@sendgrid.com'
  m.from = 'taco@cat.limo'
  m.subject = 'Hello world!'
  m.text = 'I heard you like the beach.'
  m.html = 'I heard you like the beach <div><img src="cid:beach"></div>'
end
mail.add_content('/tmp/beach.jpg', 'beach')
result = client.send(mail)

This generates a ":default" attachment wh

[2016-03-25 19:43] thinkingserious commented on #54
Thanks @kempchee,

We have added this to our backlog.

[2016-03-29 07:12] matt-hu commented on #54
Hi @kempchee
I already submit a pull request https://github.com/sendgrid/sendgrid-ruby/pull/47 for this issue. Please take a look. :-)

[2016-04-04 20:19] thinkingserious commented on #54
Awesome, thank you!

[2016-04-10 15:28] wmantegna opened #56 "Using TemplateMailer to send email without a body"
[code]

My goal is to use the sendgrid-ruby gem to send a template without using an email body (the template should be the body). I receive the above error when using TemplateMailer.

I tried duplicating the code internal to the gem to see if I could work around it, but am still receiving the same error. Here's my code:

[code]

Is there a best practice for this that I am missing? Or could this be

[2016-04-11 15:13] thinkingserious commented on #56
Please try setting a non-empty string for the body value.

[2016-04-11 15:19] wmantegna commented on #56
I've tried using 'hello' as the 'html' value, and I get the following response:
[code]

My goal is to only send the Template in the email, so that a non-technical person can use the SendGrid WYSIWYG editor to maintain the template over time. In the above example, I only want the last two lines of that email to be seen by the recipient.

[2016-04-11 15:33] thinkingserious commented on #56
Can you do '<%body%>'?

[2016-04-11 15:47] wmantegna commented on #56
The <%body%> tag is the first line in my template. Looks like if I move this tag to the bottom that the html text I pass in displays at the bottom of the email, which I can work with.

One last question, is there a way to remove the <%body%> tag from the Template and still have it work, or to replace it entirely? I'm hoping to be able to do as much of the email design as possible in the WYSIWYG ed

[2016-04-11 16:05] thinkingserious commented on #56
No, you must have the <%body%> tag.

Thanks for sharing your workaround. I'll push your feedback up to the product team.

Thanks!

[2016-04-11 16:25] wmantegna commented on #56
Thanks to you as well!

[2016-04-11 16:25] #56 closed

[2016-04-19 18:37] mnort9 opened #57 "Is it possible to add a Content-Type header?"

[2016-04-29 19:20] ashwinputhige opened #58 "Substitutions in a template"
Question:

To substitute parameters, like -first_name-, -last_name-, etc, the only option is to use SMTP API as specified here([using-sendgrids-x-smtpapi-header](https://github.com/sendgrid/sendgrid-ruby#using-sendgrids-x-smtpapi-header)). Is that correct?

I did not see any option to set substitutions directly on the Sendgrid::Mail object.
[code]

[2016-05-02 14:50] rg34 opened #59 "Unsubscribe tags not working on Transactional Emails"
I am able to set a template and asm group id using the following: (it works great, thanks!)

`mail = SendGrid::Mail.new do |m|`
`m.to = email_address`
`m.from = "Kudoso"`
`m.subject = ' '`
`m.html = " "`
`m.text = " "`
`end`
      `header = Smtpapi::Header.new`
      `header.add_filter('template', 'enable', 1)`
      `header.add_filter('template', 'template_id', template_id)`
      `header.set_asm

[2016-05-02 18:35] gurgelrenan commented on #58
You could use like describe here too https://github.com/sendgrid/sendgrid-ruby#working-with-templates

[2016-05-02 19:01] ashwinputhige commented on #58
Thank you for your response @gurgelrenan

But in that API, after creating Recipients, Template and Client, the document says that you have to set the HTML while creating the TemplateMailer.

[code]

This is what threw me off. Why set HTML when the `template` has html already?

[2016-05-02 19:53] gurgelrenan commented on #58
Yeah, for me look strange too, but I have searched I found this approach:

[code]

Put HTML and Text with a `' '` empty string. It works for me.

[2016-05-02 20:28] ashwinputhige commented on #58
Thanks @gurgelrenan

[2016-05-02 20:28] #58 closed

[2016-05-04 10:58] aelor commented on #38
Its still not working @matt-hu . We ran a test just now.

[2016-05-09 11:33] simicic opened #60 "SendGrid's X-SMTPAPI Header - delivering to multiple addresses with template and subs"
Hi,
I am unable to send emails to multiple users with the predefined template and substitutions. Code is as follows:

[code]
It always sends the proper email for the first recipient, but not for the rest.
Am I missing something obvious?
Thank you!

[2016-05-20 15:20] tiagoovieira opened #62 "How to set a default from?"
I created a method called

[code]

But when an email is sent, in the mailbox, the sender name is `email` but I want to show `A name`.
Do I do that in the application or I have to configure in sendgrid itself?

[2016-05-22 19:03] thinkingserious commented on #62
Hello @tiagoovieira,

If your are using the library, you will set the from name: https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/mail.rb#L7 in addition to the from email.

Thanks!

Elmer

[2016-05-22 19:03] #62 closed

[2016-05-22 19:06] thinkingserious commented on #60
Could you try examining the contents of the header object with `header.to_json`?

[2016-05-22 19:07] thinkingserious commented on #59
Hello @rg34,

Could you please provide the code that is setting the tags?

Thanks!

Elmer

[2016-05-22 19:09] thinkingserious commented on #57
Hello @mnort9,

You can add headers using the new version of this library, which will replace this one in few weeks: https://github.com/sendgrid/sendgrid-ruby/blob/v3beta/examples/example.rb#L3

Thanks!

With Best Regards,

Elmer

[2016-05-22 19:09] #57 closed

[2016-05-22 19:09] thinkingserious commented on #54
Please see the comment in the pull request. Thanks!

[2016-05-22 19:09] #54 closed

[2016-05-22 19:11] thinkingserious commented on #52
Hello @coderdave,

Could you please provide us with a code snippet so we can try to reproduce?

Also, this library will be replaced by the new version in a few weeks, you can check it out here: https://github.com/sendgrid/sendgrid-ruby/tree/v3beta

With Best Regards,

Elmer

[2016-05-22 19:17] thinkingserious commented on #48
Hello @juggy,

Could you give me an example code snippet? I'll give a try.

Note that this library will be replaced in a few weeks with this one: https://github.com/sendgrid/sendgrid-ruby/tree/v3beta. It supports our v3 /mail/send endpoint which handles attachments differently: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

Thanks!

Elmer

[2016-05-22 19:20] thinkingserious commented on #46
Hello @gurgelrenan,

With the v2 version of our /mail/send endpoint, the attachments are sent per email: https://sendgrid.com/docs/API_Reference/Web_API/mail.html, in v3: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html attachments can be included with a group of personalizations.

To better understand what you are trying to do, could you please provide a code snippet with the de

[2016-05-22 19:24] thinkingserious commented on #43
Hello @jrpolidario,

This is no longer an issue in the new version of this library, which comes out of beta in a few weeks. You can check it out here: https://github.com/sendgrid/sendgrid-ruby/tree/v3beta

The new version uses the v3 /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html which includes the X-SMTPAPI settings and the new library supports the additio

[2016-05-22 19:24] #43 closed

[2016-05-22 19:26] thinkingserious commented on #41
Hello @cyclotron3k,

Thanks for reporting this issue to us!

I'm not sure if this is still a problem in our new library, which replaces this one in a few weeks, so I'll keep this issue open until I get a chance to check it out.

You can check out the new library here: https://github.com/sendgrid/sendgrid-ruby/tree/v3beta

Thanks for your support!

With Best Regards,

Elmer

[2016-05-22 19:27] thinkingserious commented on #40
@muichkine,

Thanks for the feedback!

This is no longer an issue in the new version of our library, which will replace this one in a few weeks. You can check it out here: https://github.com/sendgrid/sendgrid-ruby/tree/v3beta

With Best Regards,

Elmer

[2016-05-22 19:27] #40 closed

[2016-05-22 19:31] thinkingserious commented on #19
@RichardGrossman,

Thanks for the feedback!

This should no longer be an issue with the new version of this library, which will replace this library in a few weeks. The new library uses the v3 /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

You can check out the new library here: https://github.com/sendgrid/sendgrid-ruby/tree/v3beta

With Best Regards,

Elm

[2016-05-22 19:31] #19 closed

[2016-05-22 19:32] thinkingserious commented on #7
Hello @mledom,

This library will be replaced by this one in a few weeks: https://github.com/sendgrid/sendgrid-ruby/tree/v3beta

Please let us know if you continue to experience this issue.

With Best Regards,

Elmer

[2016-05-22 19:32] #7 closed

[2016-05-23 03:09] gurgelrenan commented on #46
Version 3 will solve my problem! Thanks!

[2016-05-23 03:09] #46 closed

[2016-05-26 00:25] bentona opened #64 "bundle install fails due to listen gem"
[code]

[2016-05-26 00:27] bentona commented on #64
https://travis-ci.org/sendgrid/sendgrid-ruby/jobs/129869277

[2016-05-26 15:58] thinkingserious commented on #64
Hello @bentona,

Thanks for taking the time to report this to us!

From what I've seen, it looks like this is a Travis issue (I've tried several Stack Overflow suggestions to no avail). I've seen this happen before with Travis (most recently with C#) and usually they will push up some fix and the issue will go away.

That said, I don't plan to dig any deeper, since this library will be replaced in

[2016-05-26 15:58] #64 closed

[2016-05-27 13:53] coderdave commented on #52
I'm just setting up a basic hash. I would like to send from info@mycutsapp.com but let them "reply_to" a different address, but it doesn't work. (Also the from_name isn't work either)

[code]

[2016-05-27 15:15] thinkingserious commented on #52
Hello @coderdave,

Thanks for the additional information.

Where are you setting up the SendGrid::Mail object? In the MailerJob? If so, can I take a look at that code?

Thanks!

Elmer

[2016-05-27 15:41] coderdave commented on #52
[code]

[2016-05-27 19:58] thinkingserious commented on #52
`email` needs to be a SendGrid::Mail object. Please see: https://github.com/sendgrid/sendgrid-ruby#usage

[2016-05-27 20:17] coderdave commented on #52
Ah, ok, I'll try that. Thanks.

[2016-05-27 20:17] thinkingserious commented on #52
Thanks! Please let us know how it goes.

[2016-06-05 22:02] ridget opened #65 "Multiple substitutions in one method call?"
Hi there,

Ive noted from the readme that the current way to handle multiple substitutions is to make multiple calls to `add_substitution`. Would there be any interest in supporting an `add_substitutions` method, which could take a hash and reduce the need to call this multiple times?

[2016-06-06 15:58] thinkingserious commented on #65
Hi @ridget,

I think that is a good idea, here is how we implement it now in the new library: https://github.com/sendgrid/sendgrid-csharp/blob/v3beta/SendGrid/SendGrid/Helpers/Mail/Mail.cs#L1272.

Are you interested in providing a pull request or would you like us to implement it? If it's the former, please sign our [CLA](https://github.com/sendgrid/sendgrid-csharp/blob/v3beta/CONTRIBUTING.md#cla)

[2016-06-08 14:58] davidsavoya commented on #38
We have not been able to get this to work either @matt-hu . Both cc and bcc. We have tried switching on the bcc flag in our account settings as well and it doesn't seem to be the issue.

[2016-06-08 14:58] davidsavoya commented on #38
@thinkingserious please see above.

[2016-06-08 15:02] thinkingserious commented on #38
@aelor, @davidsavoya,

Are you using the new library? https://github.com/sendgrid/sendgrid-ruby/tree/v3beta

In either case, could you provide me with the code (credentials and sensitive data redacted)?

Thanks!

[2016-06-08 15:17] davidsavoya commented on #38
No I am on version 1.1.6.

[code]

then call client.send(mail) where ever we are using this.

Everything else is working as expected.

[2016-06-08 15:34] thinkingserious commented on #38
Thank you @davidsavoya,

We will take a look.

Also, could you show us the code for the header_builder?

[2016-06-08 15:50] rg34 commented on #59
Hello Elmer.

Thanks for the reply.
Here is the code:
`<tr>
  <td role="module-content"  valign="top" height="100%" style="padding: 0px 0px 0px 0px;" bgcolor="#557187"><div style="font-size: 10px; line-height: 150%; margin: 0px;">&nbsp;</div>  <div style="font-size: 10px; line-height: 150%; margin: 0px;">&nbsp;</div>  <div style="font-size: 10px; line-height: 150%; margin: 0px;"><a href="[unsubscr

[2016-06-08 15:55] thinkingserious commented on #59
Where are you making the `add_substitution` calls? See: https://github.com/sendgrid/sendgrid-ruby#working-with-templates

[2016-06-08 15:58] davidsavoya commented on #38
It is just adding our replacements in our email templates. Where we are doing add_substitution calls there and such. Not sure if this helps but here is a stripped down version.

[code]

[code]

[2016-06-08 16:00] rg34 commented on #59
For this particular email template, we do not have any substitutions for first_name for instance.

[2016-06-12 09:21] matt-hu commented on #38
my code is :

[code]

It works for me.

[2016-06-12 09:30] matt-hu commented on #38
BTW, I am on v1.1.6, too.
The mail function works fine these days.
And I can't tell what's wrong with your code, sorry.
I suggest you debug into `SendGrid::Mail.new` when you call it, to see what just happens. @davidsavoya

[2016-06-13 17:38] davidsavoya commented on #38
When I build the mail object, I can see that '@bcc' gets built to be the string I want and when I call send on an the sendgrid client, the mail that I call it with has '@bcc' with the string email address I want.

Is there anything on the response back that would give any clues?

[2016-06-13 17:55] davidsavoya commented on #38
Is there anything in my account settings with SendGrid that needs to be adjusted?

[2016-06-13 19:53] davidsavoya commented on #38
Playing around with this, I can remove my 'to' assignment from the mail class since I pass my recipients to
[code]

which is building a Smtpapi::Header. It seems that who I am sending mail to is a result of who I add to the 'to' of the Smtpapi::Header. I don't see a way to add a bcc or cc to this class.

[2016-06-13 20:08] davidsavoya commented on #38
Hey guys, I was able to get this working by adding a bcc filter on the header. I appreciate y'all looking into this.

[code]

[2016-06-13 20:31] davidsavoya commented on #38
Do you think
[code]
In  SendGrid::Mail could do something similar with the bcc by adding to the smtpapi json? If so, I would be happy to give it a go at home. LMK or feel free to close

[2016-06-15 10:13] matt-hu commented on #38
@davidsavoya glad you find the work around.
for your last question, `In SendGrid::Mail could do something similar with the bcc by adding to the smtpapi json?` I digged into this before (just because my project only used stmpapi before and PM got the bcc requirement, OMG ). it seems there is no way to make it right with using stmpapi.

[2016-06-15 14:53] thinkingserious commented on #38
Hello @matt-hu,

The new version of this library has come out of beta yesterday. It uses our new v3 /mail/send endpoint, which includes the SMTPAPI functionality without an external dependency.

[2016-06-16 20:24] #65 closed

[2016-06-20 19:37] safetymonkey opened #67 "Running "Hello Email" sample code gets a 400 error response from the API"
#### Issue Summary

I am attempting to set up my Sendgrid integration and as a first step I copied the Hello Email code on this project's root page, changed the email address to be valid, and then ran it in the Rails console. (The environment variable for my API key is valid, as well.) I get the following error:
`2.3.1 :040 >   response = sg.client.mail._('send').post(request_body: mail.to_json)

[2016-06-20 23:02] thinkingserious commented on #67
Hello @safetymonkey,

Could you please let me know what the return value of mail.to_json is? Thanks!

[2016-06-20 23:43] safetymonkey commented on #67
[code]

Interestingly, I was able to get the code to succeed in IRB but not in the Rails console. I suppose this points to a problem with my environment setup but the error message returned from the API was frustratingly vague.

[2016-06-21 00:59] safetymonkey commented on #67
It looks like there is something in the Rails console that is conflicting with Sendgrid that isn't happening in IRB. In the console the mail.class is `Mail::Message` and in IRB it's `SendGrid::Mail`.

This looks like a local setup issue so feel free to resolve, although if you have any helpful ideas I'd be all ears

[2016-06-21 04:12] safetymonkey commented on #67
Alright, I figured it out. It's an embarrassing "LRN 2 code n00b" moment. Mail.new is being hijacked in Rails by ActionMailer. Instead of trying to figure out how to hand that back to the Sendgrid gem I can just specify `SendGrid::Mail.new` and that does the trick.

Sorry for the dumb question. I'll resolve the issue.

[2016-06-21 04:15] thinkingserious commented on #67
Not dumb at all, and it's greatly appreciated that you took the time to share the solution. I'm sure you'll help someone who is having a similar issue in the future.

[2016-06-25 03:08] #38 closed

[2016-06-27 06:11] safetymonkey opened #68 "Question about variable substitution using the Mail helper"
This is basically the same question as #58 but I'm afraid I didn't understand the answer there.

I'm trying to use the Mail object in this gem to hit the Web v3 API, but I can't seem to get variable substitution working. Is my only option to use the SMTP API or am I missing something?

My template has the following included in it:  `-templatevar-`

My `mail.to_json` looks like this:
`{"from"=>{"em

[2016-06-27 15:22] thinkingserious commented on #68
Hello @safetymonkey,

Have you taken a look at the example here? https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L35 or if you prefer not to use the helper: https://github.com/sendgrid/sendgrid-ruby/blob/master/USAGE.md#post-mailsend

Thanks!

[2016-06-28 18:02] safetymonkey commented on #68
Yeah, I've definitely looked at that. The example file isn't really as explicit as I'd like. I've tried both:

`p.substitutions = Substitution.new(key: '-variable-', value: 'Personalization replacement for dashes in text')`
and
`p.substitutions = Substitution.new(key: '%variable%', value: 'Personalization replacement for percent signs in text')`

Neither appears to work. My template has `-variable

[2016-06-28 18:14] thinkingserious commented on #68
Hello @safetymonkey,

The full documentation on the endpoint can be found here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

Can you please provide us with the source code you are using to generate the request object? I'm thinking your issue is related to this one: https://github.com/sendgrid/sendgrid-java/issues/114

[2016-06-28 21:06] safetymonkey commented on #68
Alright, well, this is frustrating/embarassing. I was mainly experimenting in the Rails console; I took everything I had been doing in there and copied/pasted it into a text editor and then when I re-ran it everything worked. I can only assume there was some order-of-oprations problem in what I was doing. In the interests of posterity I'm posting everything I did here. Sorry to be a nuisance and t

[2016-06-28 21:06] #68 closed

[2016-06-28 22:15] thinkingserious commented on #68
Thanks for taking the time to share your final solution!

[2016-06-28 22:37] thinkingserious commented on #60
Hello @simicic,

We have a new v3 /mail/send API to make this easier: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

The new version of this library supports that endpoint: https://github.com/sendgrid/sendgrid-nodejs/blob/master/examples/helpers/mail/example.js#L15

Please let us know if you need additional help.

[2016-06-28 22:37] #60 closed

[2016-06-28 23:17] thinkingserious commented on #59
Hello @rg34,

Please create a ticket here: https://support.sendgrid.com. Thanks!

[2016-06-28 23:18] #52 closed

[2016-06-28 23:18] #48 closed

[2016-06-28 23:19] #41 closed

[2016-06-29 09:28] dbackeus opened #69 "No upgrade notes for 3.0?"
The note in the changelog regarding `Breaking change to support the v3 Web API` doesn't help the upgrade process much.

Any chance of some documentation on upgrading from 2.x?

[2016-06-29 15:01] thinkingserious commented on #69
Hello @dbackeus,

Following are some resources that should help:

- Migrating: https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/how_to_migrate_from_v2_to_v3_mail_send.html

- v3 Web API: https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html

- Example Code: https://github.com/sendgrid/sendgrid-ruby/tree/master/examples

- Mail Send Helper: https://github.com/sendgrid/sendgrid-ruby/blo

[2016-06-29 15:01] #69 closed

[2016-07-07 18:13] billywatson opened #71 "There Doesn't Appear to be Enough Information in the Docs to Run the Tests Locally"
#### Issue Summary

I followed the directions in setting up the repo for running the tests. For sure there's not enough information b/c I ran into a number of issues in just basic setup. Most of the stuff is typical and I'm smart enough to figure it out. However, I get rake, minitest and everything else working and then I run into this:

    Errno::ECONNREFUSED: Connection refused - connect(2) for

[2016-07-07 20:21] billywatson commented on #71
See https://github.com/sendgrid/sendgrid-ruby/pull/72. We're going to update the docs after I get the test environment working on my machine with Prism. Then we can close this issue.

[2016-07-08 18:16] rovermicrover opened #73 "Sender Identities API End Point Location?"
#### Issue Summary & Steps to Reproduce

I can't find the following end point in the ruby gem Docs
https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/sender_identities.html

As a result I made my best guess and tried

[code]

But, I get a 403 error, even though other end points are working fine, and I have given the API Key full permissions.

Am I not using the correct end poin

[2016-07-08 19:09] thinkingserious commented on #73
Hello @rovermicrover,

I'm not sure about the status of that endpoint. I have put in a question to find out. As soon as I learn more, I will respond here.

Otherwise, you may want to reach out to https://support.sendgrid.com.

Thanks!

[2016-07-11 13:37] hipsterelitist opened #76 "Unrecognized UTF8 Byte"
Hey,

Some of our requests seem to be having UTF8 encoding issues when using the new API.  Running a request with the same html body (I'm assuming that's where this fall) against the old API results in a successful send.

From what I can tell, it is rather similar to this issue brought up in the Go client: https://github.com/sendgrid/sendgrid-go/issues/66

Error below.

{"errors":[{"message":"Unre

[2016-07-11 15:55] thinkingserious commented on #73
Hello @rovermicrover,

I believe this may be the endpoint you are looking for: https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/sender_identities.html#-Create-a-Sender-Identity-POST

[2016-07-11 15:58] rovermicrover commented on #73
Yes that was the link to the API end point I posted above. My question is if I am invoking it correctly using the ruby gem or not.

The reason I am asking is that that end point is missing from the usage doc for this gem. See below
https://github.com/sendgrid/sendgrid-ruby/blob/master/USAGE.md

[2016-07-11 16:00] thinkingserious commented on #73
Thanks for the quick response, I will verify.

[2016-07-11 16:34] thinkingserious commented on #73
@rovermicrover,

It looks like you are missing a few required fields:

"address", "city", and "country"

Please give that a try and let us know. Thanks!

[2016-07-11 16:41] thinkingserious commented on #76
@hipsterelitist ,

This bug is currently being fixed and I have added you to the list of people to be notified when it's done. Thanks!

[2016-07-11 17:24] rovermicrover commented on #73
Still 403 Forbidden. I assume that if the problem was with missing fields I would have been getting a 422 Unprocessable Entity with validate errors returned.

I have reached out to support and opened a ticket. I can't even create a sender via the web interface, throws an error message of "cannot retrieve your sender identities" when i try to go the index of senders.

[2016-07-11 17:27] thinkingserious commented on #73
@rovermicrover,

Thanks for opening a ticket. If you don't mind, please let us know the resolution.

[2016-07-13 16:09] pbyrne commented on #76
We're experiencing the same error. Could you add me to the list of notified people?

In case this helps: in attempt to narrow down the root cause, we've found that we can't reproduce the error when only using `sendgrid-ruby` in a sample app. After loading `active_support/json` (which provides a new `#to_json` method), we can consistently reproduce with certain payloads. I _suspect_ that the troubl

[2016-07-13 19:16] thinkingserious commented on #76
You have been added @pbyrne and thanks for the additional feedback!

[2016-07-14 18:17] thesmart opened #77 "SendGrid fails when a name contains comma character"
#### Issue Summary

When names include a comma character "," the email is dropped by SendGrid due to reason "Invalid", because it interprets the wrong email address.  In the Activity view, SendGrid appears to have tried to send to part of the name field instead of the email field, indicating the the "comma" was used even though it is in part of a string.

#### Steps to Reproduce

Here is the repro

[2016-07-14 18:28] thesmart commented on #77
It appears that either a comma or period in the name field will result in an incorrect email address...

[2016-07-14 18:28] thesmart commented on #77
![overview_-_sendgrid_documentation___sendgrid](https://cloud.githubusercontent.com/assets/280877/16850940/24760884-49b6-11e6-9138-4c04c781019e.png)

[2016-07-14 18:34] thinkingserious commented on #77
@thesmart, please see: https://github.com/sendgrid/sendgrid-csharp/issues/268

I'll add your vote to the issue internally. Thanks!

[2016-07-14 18:34] #77 closed

[2016-07-14 18:34] thinkingserious commented on #77
Also, I'll pass this feedback on to the documentation team. Thanks again!

[2016-07-14 18:40] thesmart commented on #77
Why doesn't your library handle this though?  The client should help enforce the rules, shouldn't it?

[2016-07-14 19:50] thinkingserious commented on #77
@thesmart Agreed, and client side validation is already on our internal roadmap for all our libraries.

Currently, validation is handled server side. The improvement over v2, is that in v3 there is a [sandbox mode](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/sandbox_mode.html) so you can test without using email credits.

I'll be creating a public issue soon for client side validation, s

[2016-07-14 19:53] thinkingserious commented on #77
@thesmart,

Also, I have learned that there is an open ticket to fix the response from the API.

[2016-07-15 01:16] thesmart commented on #77
@thinkingserious Thanks! In the interim, is there some rule we can follow or some set of characters I should strip or reject?  Is it just commas? Do I need to use encoded word standard? https://en.wikipedia.org/wiki/MIME#Encoded-Word

I'm not sure how to deal with this other than to stop using the name field all together.  Any details on a work-around would be appreciated!

[2016-07-17 03:51] garethson commented on #68
@safetymonkey Thanks for the detailed writeup. I ran into issues upgrading to the new API as well, for some reason using `*variable_name*` simply doesn't work with the new version. Using `-variable_name-` does seem to work. 👍

[2016-07-18 14:52] thinkingserious commented on #77
@thesmart,

Commas and semicolons seem to be the only ones currently.

As a workaround, I'd do a try/catch and look for instances of that error. If the error occurs, I'd replace that character with an appropriate one and re-send.

[2016-07-18 15:51] thesmart commented on #77
To be clear, no error is returned by the API. I will replace those
character with spaces. Thanks for the help! <3

On Monday, July 18, 2016, Elmer Thomas <notifications@github.com> wrote:

[2016-07-22 19:40] wardbt opened #79 "documentation is poor / lacking"
#### Issue Summary

I received the "we have a new version of the api" email and decided to upgrade.  Certainly feels more like a downgrade to me.  Before, sending email with the sendgrid-ruby gem was simple.  Now it is not.  I don't see how these changes benefit your customers (i.e. programmers trying to leverage sendgrid), it looks like you just wanted to refactor the code and then release a vers

[2016-07-22 19:55] thinkingserious commented on #79
Hello @wardbt,

I apologize for the typo in the README (correcting now), it should be:

[code]

Thank you for taking the time to provide your feedback to us, we greatly appreciate it!

First, please note that the library does not currently completely reflect the fantastic jump in functionality and usability from v2 to v3 in the library (details here: https://sendgrid.com/docs/Classroom/Send/v3_Mai

[2016-07-22 19:55] #79 closed

[2016-07-25 16:38] 34code opened #80 "substitutions with transactional templates is broken"
#### Issue Summary

substitutions with transactional templates is broken

#### Steps to Reproduce

1. create a transactional template
2. create some substitution vars with %user_name% or user_name format
3. Try to send email using example code (v3 api)

variables should be replaced properly in the transactional template. This is badly broken. Also %var% inside things like href="%var%" or src="%var

[2016-07-25 17:26] 34code opened #81 "sending email with multiple content types (text+html) fails"
#### Issue Summary

sending email with multiple content types (text+html) fails. Error received is "expected object but received string for content.0" .. not sure how to properly specify the email as there is no documentation anywhere to do it properly with v3 api.

#### Steps to Reproduce

[code]

#### Technical details:

* sendgrid-ruby Version: master
* Ruby Version: 2.2

[2016-07-25 18:41] thinkingserious commented on #80
@34code,

Could you please provide the relevant source code? I can not reproduce.

This is what I have in the template:

<html>
<head></head>
<body>
Hello %name%,
<br/>
<br/>
%city%
<br/>
<br/>
<a href="%var%">%value%</a>
<br/>
<br/>
With Best Regards,
<br/>
<br/>
Your Library Tester
</body>
</html>

And here is my source code:

[code]

And the resulting email:

http://www.screencast.com/t/MXHgvQ3

[2016-07-25 18:47] thinkingserious commented on #81
Hello @34code,

I could not reproduce that error with this code:

[code]

What version of the library are you using?

[2016-07-25 19:44] wardbt commented on #79
How does one participate in this community that seems to be making the gem
harder and harder to use?

I can't believe what you've done with attachments...  Speaking of that,
just experienced yet another breaking change around the Base64 encoding
which is now a requirement for attachments.  Code that was working on
Friday no longer worked today:

Fridays code:

attach_content = Base64.encode64(File

[2016-07-25 20:05] thinkingserious commented on #79
@wardbt,

Thank you for taking the time to provide additional feedback.

Creating a helper for the attachment functionality in on the roadmap, thanks for the verification.

However, there should not have been a breaking change over the weekend. Generally, changes are announced in our [CHANGELOG](https://github.com/sendgrid/sendgrid-ruby/blob/master/CHANGELOG.md) and in the [releases section](https

[2016-07-25 20:17] thinkingserious commented on #79
@wardbt,

OK, so my theory was correct. When you use `Base64.encode64` it adds newlines and our code does a mod4 check, causing a failure in some cases. We will hide this complexity behind the helper. You should not have to know or care about that.

Thanks again for letting us know!

If you don't mind, we like to reward these types of contributions with some swag. If you email us at dx@sendgrid.co

[2016-07-25 21:26] 34code commented on #81
I think I was using 3.0.7 .. but let me try 4.0.0 and confirm if this is a definite issue. I'll also provide with the exact error message alongside code shortly.

[2016-07-25 21:30] thinkingserious commented on #81
Awesome, thanks!

[2016-07-25 21:30] 34code commented on #80
And this is a transactional template on sendgrid.com correct? I wanted to see if the %something% (% symbols) are absolutely required. If yes, the visual code editor on sendgrid.com doesn't store % if you have one for a %user_name% and one for a %link% within html tags.

This results in substitution errors I believe.

But I'll try once again with the latest rubygem and let you know if this is conti

[2016-07-25 21:34] thinkingserious commented on #80
@34code,

Yes, I created the template here: https://sendgrid.com/templates

You do not have to use % symbols. I usually use -variable-.

Can you share the template that is giving you grief? I was not able to reproduce using the template above. Thanks!

[2016-07-26 10:34] 34code commented on #80
now on 4.0.0 and 4.0.1 on rails5 ..

excerpt from interactive console .. its not recognizing sendgrid methods now :(

[code]

[2016-07-26 11:00] 34code commented on #81
still broken.

error:

[code]

code used in rails5

   template_id = "6ede18bb-2eba-4958-8a57-43a58a559a0a"

    from = SendGrid::Email.new(email: 'team@email.com')
    subject = "App - Reset Password"

    per = SendGrid::Personalization.new
    per.to = SendGrid::Email.new(email: user.email, name: user.name)
    per.substitutions = SendGrid::Substitution.new(key: "user_name", value: user.name.sp

[2016-07-26 11:02] 34code commented on #80
Oops -- it seems I need to Prefix with `SendGrid:: ` to get some of these methods working inside the UserMailer in rails.

But I can confirm that the web editor is eating up the %'s inside href tags. not good if you plan to use % for variable substitutions.

I think this issue can be closed if the web-editor code-view is fixed for transactional templates.

[2016-07-26 13:22] maxsieben opened #82 "Delete Recipient without id"
I want to ask if it's possible to delete an existing recipient, without using the id.

I found this example: https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/contactdb/contactdb.rb#L213

However it doesn't say, which attributes for data are required when calling: sg.client.contactdb.recipients.delete(request_body: data) .

Is it possible to delete an recipient by passing in an email

[2016-07-26 14:45] thinkingserious commented on #81
Please try this:

[code]

[2016-07-26 14:51] thinkingserious commented on #80
@34code,

Are you saying that the following code should have the href tag eaten?

[code]

In my case, the tag remains unmodified.

[2016-07-26 15:05] thinkingserious commented on #82
You need to pass the recipient ID, please see: https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.html#Delete-Recipient-DELETE

You did find a bug though, the example is incomplete and I'll leave this ticket open until we fix it.

[2016-07-26 16:04] thinkingserious commented on #82
Fixed: https://github.com/sendgrid/sendgrid-ruby/releases/tag/v4.0.2

Thanks again!

[2016-07-26 16:04] #82 closed

[2016-07-26 17:01] 34code commented on #80
%var_something% at least in my template (inside href "" quotes)

[2016-07-26 17:05] thinkingserious commented on #80
@34code,

Do you mind sending us (dx@sendgrid.com) before and after screenshots so I can file the bug report?

[2016-07-27 03:20] 34code commented on #81
ok that worked but I had to switch the lines and put the line with 'text/plain' before the line with 'text/html'...

[2016-07-27 07:47] ming-relax commented on #76
@thinkingserious is there a version that don't have this issue for `v3` api?

[2016-07-27 18:10] thinkingserious commented on #76
@ming-relax,

Unfortunately not. This is a server side issue.

That said, as of right now, it looks like this fix is scheduled to be released today.

[2016-07-27 23:14] 34code commented on #81
issue can be closed -- but I hope this helps someone else searching on google as documentation is pretty sparse right not around the new API..

[2016-07-28 01:53] thinkingserious commented on #81
Thanks @34code,

I've added a short term baby step of providing a simple working template example to the docs in the repo to our backlog. I should be able to get that implemented within a few sprints.

Ideally, you should not have to worry about the ordering the content objects. I will address than in the next iteration of the mail helper.

[2016-07-28 01:53] #81 closed

[2016-07-28 04:06] 34code commented on #81
awesome, thanks!

[2016-07-28 23:02] thinkingserious commented on #76
The fix for this has been deployed :)

Thank you for your patience!

[2016-07-28 23:02] #76 closed

[2016-07-29 14:33] coderdave commented on #52
I finally got around to upgrading to v3. When I tested using reply_to, it still doesn't work.

`mail.reply_to = SendGrid::Email.new(email: 'davidsanderson101@yahoo.com')`

I get the email (to my gmail account) which is fine (and the custom name works) but when I try to reply to the email, it doesn't respect the reply_to I set up. It uses the regular reply email address that I used.

Is there somet

[2016-07-29 14:35] thinkingserious commented on #52
@coderdave,

Before you make the call to `API`, could you please provide the output of:
`puts JSON.pretty_generate(mail.to_json)`

[2016-07-29 14:40] coderdave commented on #52
`[43] pry(main)> puts JSON.pretty_generate(mail.to_json)`
[code]

[2016-07-29 14:55] thinkingserious commented on #52
Please try putting that payload in a file named `post.json`

and run the following (after substituting your API key):

[code]

[2016-07-29 15:07] coderdave commented on #52
Same effect, email went through but it replies to "info@mycutsapp.com"

[2016-07-29 15:18] thinkingserious commented on #52
Hmm, I can not reproduce the error with Gmail as the client. Do you mind sharing the raw headers of the email you receive in Gmail?

[2016-07-29 15:30] coderdave commented on #52
Ok, I see what's going on. It looks like the reply-to is being set but unfortunately, gmail doesn't respect it. That's too bad. Are there any workarounds for that?

![hopefully_can_reply_to_-_coderdave_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/964751/17253637/99f37798-557f-11e6-8645-583e95c3f131.png)

[2016-07-29 16:10] coderdave commented on #52
Update: I figured it out. I had my yahoo address set up in my gmail settings under "Send mail as"! So gmail was seeing that and used my gmail account instead.

Thanks for the help.

[2016-08-01 14:02] thinkingserious commented on #52
Thanks for following up with your solution!

[2016-08-02 07:35] 34code commented on #80
![cursor_and_sendgrid_marketing_campaigns](https://cloud.githubusercontent.com/assets/930787/17320532/e9889dd0-5848-11e6-9886-2e1e09a32199.png)

Cannot specify custom "image_path" to be dynamically replaced when trying to enter a responsive image widget.

[2016-08-02 15:02] thinkingserious commented on #80
Hello @34code,

Our support team will be able to help with that one. Please reach out via https://support.sendgrid.com.

Thanks!

[2016-08-04 01:49] MincePie opened #83 "Getting started"
#### Issue Summary

I'm struggling to understand the documentation for how to get started using WebAPI v3.

The authentication section of the getting started section says "  To use keys, you must set a plain text header named “Authorization” with the contents of the header being “Bearer XXX” where XXX is your API Secret Key." https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_AP

[2016-08-04 18:01] thinkingserious commented on #83
Hi @MincePie!

Thanks for reaching out to us! Following are the answers to your questions:

Q1: This library handles that for you with this call: `sg = SendGrid::API.new(api_key: ENV['SENDGRID_API_KEY'])
`

Q2: Here is some example code for sending a template:

[code]

Q3: Here are some details about fluent interfaces: https://sendgrid.com/blog/using-ruby-to-implement-a-fluent-interface-to-any-res

[2016-08-05 15:55] maxpark-jd opened #84 "How Can I Create The Attachement Content Base64 Encoded?"
#### Issue Summary

attaching a pdf or a zip file.
Used code:
Base64.encode64(File.binread(file_path))
If Base64.encode64 cannot create a proper attachment content, then which library/method I should use to get a proper content which will be accepted by Sendgrid web api v3?

#### Steps to Reproduce

I get this error:
{\"errors\":[{\"message\":\"The attachment content must be base64 encoded.\",\"fi

[2016-08-05 16:58] thinkingserious commented on #84
Hello @maxpark-jd,

Thanks for reaching out!

Please try: http://ruby-doc.org/stdlib-2.3.1/libdoc/base64/rdoc/Base64.html#method-i-strict_encode64 as `Base64.encode64` adds a newline.

Thanks!

[2016-08-05 17:07] maxpark-jd commented on #84
Thank you @thinkingserious! It worked like a charm.

[2016-08-05 17:07] #84 closed

[2016-08-05 17:09] thinkingserious commented on #84
@maxpark-jd,

Sorry you had to deal with that. We will be enhancing our mail helper to hide this sort of detail from you.

[2016-08-05 17:31] maxpark-jd commented on #84
awe thanks for kind words.

[2016-08-09 17:47] jeffblake opened #85 "Upgrading from 1.x to 4.x breaks BCC email setting configuration"
#### Issue Summary

I've sent in a ticket to support@sendgrid.com and am just getting generic replies.. not much help there, so I thought I'd post here...

In SendGrid, Settings > Mail Settings > BCC is configured.

I migrated 1.x to 4.x, wrote the new code, tested it, everything works great.

The only problem is that now my BCC (sends a copy of every email sent) is now broken: there is no subject

[2016-08-09 17:55] thinkingserious commented on #85
Hello @jeffblake,

This is a known bug in the API and is currently in our backlog for repair. The current workaround is to apply a BCC directly within the personalizations field.

Once the fix is deployed, I will notify you here.

Thanks!

With Best Regards,

Elmer

[2016-08-10 16:50] subvertallchris opened #86 "Unexpected Mail instance `categories`, `categories=` behavior"
#### Issue Summary

`SendGrid::Mail` categories behavior makes it too easy to set empty values.
#### Steps to Reproduce

Instantiate a new instance

[code]

I know it will end up being an Arrary, so try to add something to it...

[code]

Oh, `categories` starts nil. I guess we need to instantiate it?

[code]

An Array with `nil` in it. ???

More misleading is that if someone expects it to accept t

[2016-08-11 16:39] thinkingserious commented on #86
Excellent feedback @subvertallchris!

We would like to offer you some swag. Please email us at dx@sendgrid.com referencing this ticket with your mailing address and T-shirt size.

For this issue to rise up in our queue, we need +1s, comments or a pull request with a signed CLA.

Thanks!

[2016-08-17 01:15] manpreetminhas opened #87 "templates and sections"
#### I have the following piece of code

`mail = SendGrid::Mail.new`
`mail.template_id = "23c0c52c-853e-414c-8ee7-bca11f3eae4a"`
`mail.sections = Section.new(key: 'section_1', value: 'Substitution Text for Section 1')`
`mail.sections = Section.new(key: 'section_2', value: 'Substitution Text for Section 2')`

How to do I use these two sections (section_1 and section_2) in my template?

I am able to

[2016-08-17 16:28] thinkingserious commented on #87
@manpreetminhas,

For substitutions in templates, the personalization.substitutions method is correct.

For sections, please see: https://sendgrid.com/docs/API_Reference/SMTP_API/section_tags.html

[2016-08-23 15:48] ienders commented on #84
@thinkingserious +1 to handling this in both the sendgrid-ruby client and having a slightly less strict API on the server side. This caused a mild amount of frustration and dropped sends, as we can't rely on the Mail gem's encoding out of the box. Regardless, thanks for the advice. :)

[2016-08-23 19:32] thinkingserious commented on #84
Thanks for the feedback @ienders!

I will add your vote to the backlog item.

[2016-08-27 14:27] Pashtunzoy opened #89 "NameError - uninitialized constant Email"
#### I'm trying to upgrade SendGrid email client in my Sinatra app but am getting this error:
[code]
 Here is my code:

[code]

Technical details:

sendgrid-ruby Version: master (latest commit: [commit number])
Ruby Version: 2.2

[2016-08-27 14:51] Pashtunzoy commented on #89
Never mind, had to do gem install sendgrid-ruby

[2016-08-27 14:51] #89 closed

[2016-08-29 03:37] gmhawash opened #90 "Create New subuser along with API Key"
#### Issue Summary

I want to use the v3 API to create a subuser and then create an API Key for that subuser.  The documentation about API Keys (https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/index.html#Generate-a-new-API-Key-for-the-authenticated-user-POST) indicates that I can generate an API key for the `authenticated user`.   However, the only way that I can see to authenticate is

[2016-08-29 17:43] thinkingserious commented on #90
Hello @gmhawash,

It looks like that feature is not available right now. I will double check and if it is indeed not available, I'll put in a feature request with our product team.

[2016-08-30 06:11] arunkumarsundaramurthy opened #91 "Mails not delivered to email ids with UTF-8 characters"
#### Issue Summary

Mail is not delivered to email ids with UTF-8 characters. Those mails are marked as "Drop" in the Activity Feed. UTF-8 characters are allowed in email ids (http://stackoverflow.com/questions/3844431/are-email-addresses-allowed-to-contain-non-alphanumeric-characters).
#### Steps to Reproduce
1. Try sending mail to example的@test.com
#### Technical details:
- sendgrid-ruby Version

[2016-08-30 11:42] themoor88 commented on #80
Hello @34code and @thinkingserious,

Did you two figure out a solution to this? I am having the same problems for my emails as well. The older version of this gem seemed to work fine for transactional emails but didn't provide support for adding recipients to the contacts DB. The newer version works great for adding recipients but is not consistent with substitutions for transactional emails.

I h

[2016-08-30 17:27] thinkingserious commented on #91
Hello @arunkumarsundaramurthy,

Thanks for the heads up! We will investigate.

[2016-08-30 18:04] thinkingserious commented on #80
Hello @themoor88,

I believe the issue is with this code: `mail = Mail.new(from, subject, to, content)`

When you use that constructor, it creates a personalization for you and is generally used for simple hello world type emails.

Please do this instead: https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L21

To help debug, it's useful to print the value of `ma

[2016-08-31 02:01] themoor88 commented on #80
Hello @thinkingserious

Thanks a lot for the fix. It works like a charm now!

Cheers,
Wajid

[2016-08-31 20:37] thinkingserious commented on #80
Thanks for following up :)

[2016-08-31 20:37] #80 closed

[2016-09-01 23:57] jeffblake commented on #85
Any luck on this? I use my log email account to search emails quite often, and not being able to see the to email or subject is killing me. Appreciate it.

[2016-09-02 04:35] thinkingserious commented on #85
Hi @jeffblake,

The fix is currently in progress by one of our engineering teams in this current sprint. I can't say for sure when it will be done, but it looks like it will be soon.

Thanks for checking in!

[2016-09-07 07:32] ved54321 opened #93 "How to use subsituation variable inside ruby tag <% %>?"
Hi,
I have added sendgrid_substitute  '-user_id-' ,user_ids , i can used -user_id- inside my view like Hi -user_id- but i want to use like ,`Hi <% -user_id %>`. Please help me.

[2016-09-09 04:36] thinkingserious commented on #93
Hello @ved54321,

Can you provide us with the relevant source code so that we can reproduce the issue?

Thanks!

[2016-09-09 04:53] thinkingserious commented on #85
@jeffblake,

This issue is now fixed and deployed to production. Please let me know if you continue to see any issues. Thanks for your patience!

[2016-09-09 04:53] #85 closed

[2016-09-09 22:00] jeffblake commented on #85
Confirmed working! Thank you

[2016-09-12 06:29] danielweinmann commented on #59
@rg34 were you able to fix this? I'm having the same problem here.

[2016-09-12 14:11] rg34 commented on #59
@danielweinmann Unfortunately I did not. I did not devote any further time, and for now, I'm using the links provided. I did submit a ticket to Sendgrid referencing this thread though.

[2016-09-12 17:54] thinkingserious opened #94 "BREAKING CHANGES"
As a result of your feedback and as a continuation of the execution of our long term roadmap, there will be breaking changes coming soon. The last time we had a major breaking change, it was for the implementation of v3 Web API support. We announced those changes here on GitHub along with some instructions on how to test and provide feedback.

The feedback we got was amazing, but we didn't quite g

[2016-09-13 16:13] danielweinmann commented on #59
@rg34 and @thinkingserious , I ended up making it work with the`<%asm_group_unsubscribe_raw_url%>` and `<%asm_preferences_raw_url%>` tags.

The problem I was facing was happening because I switched from "CODE" to "DESIGN" before saving the template. When I did that, it changed the < and > for &lt; and &gt; and that change caused the problem.

When I did add the tags and saved the template while st

[2016-09-15 17:17] thinkingserious opened #95 "Refactor Mail Helper Array Assignments"
This issue comes from Twitter: https://twitter.com/mootpointer/status/776305972339838976

Reference code: https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/helpers/mail/mail.rb#L864

[code]

should be:

[code]

This is true for all cases where we assign to an array in the Mail Helper.
#### Technical details:
- sendgrid-ruby Version: 4.0
- Ruby Version: 2.2

[2016-09-15 19:11] joeunrue commented on #94
I would love an opt-in newsletter or mailing list myself since tweets have a tendency to get lost

[2016-09-19 06:31] mootpointer commented on #95
Thanks for opening this. Something like the above would be what I would suggest. This should be done in concert with adding deprecation warnings to the existing setter methods, or at least signal that they do not work as standard setter methods.

[2016-09-20 12:33] pmackay commented on #83
@thinkingserious I'd like to clarify, is the `sendgrid-rails` gem that @MincePie lists above needed at all? My understanding is the `sendgrid-ruby` gem is completely separate.

[2016-09-22 00:29] thinkingserious commented on #83
@pmackay,

Good catch. No, that is a third party library not related to ours.

[2016-09-22 19:42] rg34 commented on #59
Awesome. Sendgrid's reply was the same. Thanks, @danielweinmann!

[2016-09-23 05:11] thinkingserious opened #96 "Create a simple web server that can consume Incoming Parse data"
Acceptance Criteria:
- Should be deployable locally and on Heroku
- Setting are configured in an external configuration file
- There should be two endpoints, / and inbound (set in configuration). The former should accept GETs and the latter POSTs
- When receiving an Inbound Parse payload, return a 200 status to SendGrid

Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid

[2016-09-23 05:12] thinkingserious opened #97 "Create a Inbound Parse data parser"
Acceptance Criteria:
- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/parse.py).

Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/parse.py
- https://sendgrid.com/docs/Classroom/Basics/Inbound_Parse_Webhook/setting_up_the_inbound_parse_webhook.html
- https://sendgrid.com/docs/API_Refer

[2016-09-23 05:12] thinkingserious opened #98 "Create a test Inbound Parse data sender"
Acceptance Criteria:
- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py).

Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py
- https://sendgrid.com/docs/Classroom/Basics/Inbound_Parse_Webhook/setting_up_the_inbound_parse_webhook.html
- https://sendgrid.com/docs/API_Referen

[2016-09-23 05:12] thinkingserious opened #99 "Demonstrate how to deploy to Heroku, implement 1-Click Install"
Acceptance Criteria:
- Demonstrate how to deploy to Heroku
- Implement 1-click install

Reference:
- https://github.com/sendgrid/sendgrid-python/tree/master/sendgrid/helpers/inbound#heroku
- https://sendgrid.com/docs/Classroom/Basics/Inbound_Parse_Webhook/setting_up_the_inbound_parse_webhook.html
- https://sendgrid.com/docs/API_Reference/Webhooks/parse.html

[2016-09-23 06:02] thinkingserious opened #100 "Send a Single Email to a Single Recipient"
Acceptance Criteria:
- A email object that represents the response body payload
- A mail object that handles sending email objects, data validation and error handling

Reference:
- https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/mail
- https://github.com/sendgrid/sendgrid-ruby/blob/master/CONTRIBUTING.md
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.htm

[2016-09-23 06:03] thinkingserious opened #101 "Send a Single Email to Multiple Recipients"
Acceptance Criteria:
- A email object that represents the response body payload
- A mail object that handles sending email objects, data validation and error handling

Reference:
- https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/mail
- https://github.com/sendgrid/sendgrid-ruby/blob/master/CONTRIBUTING.md
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.htm

[2016-09-23 06:03] thinkingserious opened #102 "Send Multiple Emails to Multiple Recipients"
Acceptance Criteria:
- A email object that represents the response body payload
- A mail object that handles sending email objects, data validation and error handling

Reference:
- https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/mail
- https://github.com/sendgrid/sendgrid-ruby/blob/master/CONTRIBUTING.md
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.htm

[2016-09-23 06:04] thinkingserious opened #103 "Utilize Transactional Templates"
Acceptance Criteria:
- Demonstration of usage with all three cases: Send a Single Email to a Single Recipient, Send a Single Email to Multiple Recipients, Send Multiple Emails to Multiple Recipients and

Reference:
- https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional_templates
- https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/mail
- https://

[2016-09-26 21:01] thinkingserious commented on #59
Thanks for sharing the solution with the community @danielweinmann! Please shoot us an email to dx@sendgrid.com so we send you some swag. Just let us know your mailing address and T-shirt size.

[2016-09-28 16:51] treycaliva opened #104 "NoMethodError undefined method `personalizations='"
#### Issue Summary

Issues with personalizations and transactional templates
#### Steps to Reproduce

When using transactional template example I am receiving the following error message
`NoMethodError: undefined method`personalizations=' for #Mail::Message:0x007fa0e2bef750`
#### Technical details:
- sendgrid-ruby Version: master
- Ruby Version: 2.3.1

[2016-09-28 17:11] thinkingserious commented on #104
Hi @treycaliva,

Please take a look at these examples: https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional_templates

If you are still having issues, please shoot over your source code so I can try to reproduce. Thanks!

[2016-10-01 13:15] danieldraper opened #105 "[Question] Why did the API change the way the TO field works?"
Sending a single email to multiple recipients. (I've almost completed a rewrite from 1.1.6 to 4.0.4). In 1.1.6 I used to be able to pass an array of emails to the TO field and each recipient received an email without seeing each recipient.

This functionality is still available using `personalizations`, I had to read the source code to understand what was happening the assignment of `personalizati

[2016-10-01 13:47] #105 closed

[2016-10-03 16:51] swifthand commented on #105
Chiming in to agree that appending via `=` is unusual at best, confusing at worst.

If I'm behind honest, I have never seen `=` overloaded this way in Ruby, and I would instead expect it to perform a wholesale replacement of the value of the `personalizations` attribute.

The idiomatic operator for push, across the standard library and any gem I've used, is `<<`, commonly nicknamed the "shovel ope

[2016-10-04 18:27] #71 closed

[2016-10-04 20:21] thinkingserious commented on #105
@danieldraper @swifthand,

I will add your votes to this issue: https://github.com/sendgrid/sendgrid-ruby/issues/95

Thanks!

[2016-10-05 16:27] sanyam-j opened #106 "NameError: uninitialized constant SendGrid::API"
#### Issue Summary

I am using send grid gem to send transnational email. While initializing the object i am getting the error as

NameError: uninitialized constant SendGrid::API

#### Steps to Reproduce
sg = SendGrid::API.new(api_key: ENV['SENDGRID_API_KEY'])

* sendgrid-ruby Version: master (latest commit: [commit number])
* Ruby Version: 2.2

[2016-10-05 16:31] #106 closed

[2016-10-05 17:49] ssonal commented on #100
Hi,

I'm looking to help out, but I'm not sure what's required of this issue. From what I can tell, ruby-http-client manages the actual request, returning the status code, errors and body payload.

[2016-10-05 18:31] thinkingserious commented on #100
Hi @ssonal,

This issue is part of a bigger project: [Mail Helper Enhancement (v3 mail/send)](https://github.com/sendgrid/sendgrid-ruby/projects).

Specifically, we want to refactor the Mail Helper so that it is much easier to use. I would start by proposing a new method signature. For example, we currently have:

[code]

Perhaps a new version would be:

[code]

[2016-10-06 13:19] mmahalwy commented on #103
Any idea about whether you can specify a version?

[2016-10-06 21:57] thinkingserious opened #107 "Use Griddler for Inbound Parse Processing"
Investigate if we can bring Incoming Parse support to this library by using Griddler as the dependency. Please see how we [implemented Inbound Parse support for Python](https://github.com/sendgrid/sendgrid-python/tree/master/sendgrid/helpers/inbound) as a reference.

Reference: https://github.com/thoughtbot/griddler-sendgrid

If it is viable, provide a roadmap to do so (see the remaining tickets i

[2016-10-06 23:29] thinkingserious commented on #103
Hi @mmahalwy,

That's a great idea!

For reference:
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Transactional_Templates/versions.html
- https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/templates/templates.rb#L79

[2016-10-07 00:56] mmahalwy commented on #103
Speaking of which, maybe I missed it, but is there currently a way to do so?

[2016-10-07 02:21] thinkingserious commented on #103
@mmahalwy,

Yes, the code linked above can set the version and the documentation link explains how that works.

[2016-10-11 21:57] swifthand commented on #95
While looking at another issue I noticed that the default checks in all of the array assignments.

There is a bit of idiomatic Ruby used to wrap this `@value.nil? ? default_value : @value`, that is to place the default in the reader method as an `||=` assignment, and have the class (even internally) access the array attribute via the reader method. This removes the need for a nil-or-apply-default

[2016-10-11 22:06] thinkingserious commented on #95
Loving the feedback @swifthand!

Could you please fill out [this form](https://docs.google.com/forms/d/e/1FAIpQLSelP4uF-wGJebxVYq1DYw5WzHomEUauab3YiqrshyCkRs0fqw/viewform#start=invite) so we can send you some swag?

[2016-10-11 22:20] swifthand commented on #95
@thinkingserious Gladly!

Also saw the link to [the Mailer Helper project](https://github.com/sendgrid/sendgrid-ruby/projects/2). I haven't used Github's new project feature before but I'll give it a look. Does this issue fall under that as well or are these array assignments best addressed separately?

[2016-10-11 23:00] thinkingserious commented on #95
Hi @swifthand,

I think this issue belongs in the Mail Helper project. I'm not quite sure how to best manage that yet, we are new to the Projects feature too, kicking the tires.

My guess is that we will swarm on the requirements, agree on a scope of work, break up the tasks into issues and add them to the project's backlog.

[2016-10-12 01:05] tkbky commented on #86
Related issue: #95

[2016-10-12 07:49] OrthoDex commented on #99
Hi! I would like to take this up, if it's alright :smile:

[2016-10-12 13:10] thinkingserious commented on #99
Hello @OrthoDex,

Thank you!

Before completing that task, the other tasks in [this project](https://github.com/sendgrid/sendgrid-ruby/projects/1) need completion.

Please take a look and let me know what you think.

[2016-10-12 18:01] thinkingserious opened #109 "Automate StopLight.io's Prism mock server on Travis CI and locally"
#### Issue Summary

In the Travis CI and local environment:

1. Download the appropriate Prism binary (if it does not exist on the system)
2. Start Prism, using SendGrid's swagger (oai) definition
3. Run the Unit Tests
4. Shut Down Prism

#### References

https://stoplight.io/prism
https://raw.githubusercontent.com/sendgrid/sendgrid-oai/master/oai_stoplight.json

We have already done this in these

[2016-10-17 20:33] #109 closed

[2016-10-17 20:46] thinkingserious opened #111 "Update semantic versioning on the ruby_http_client and minitest dependencies"
#### Issue Summary

Here are the warnings from `gem build`

WARNING:  pessimistic dependency on ruby_http_client (~> 3.0.0) may be overly strict
  if ruby_http_client is semantically versioned, use:
    add_runtime_dependency 'ruby_http_client', '~> 3.0', '>= 3.0.0'
WARNING:  open-ended dependency on minitest (>= 0, development) is not recommended
  if minitest is semantically versioned, use:

[2016-10-25 09:58] hanumakanthvvn commented on #100
@thinkingserious So in this case for new method signature, we can add new method in `lib/sendgrid/client.rb` as
[code]
And we can call it as
[code]
Am i correct?

[2016-10-28 11:55] awwa commented on #97
[In my pull request](https://github.com/sendgrid/sendgrid-ruby/pull/114/files#diff-bea922085aa2613fda7576bc5a07dec9R17), Sinatra automatically parse the multiple/form-data to json. So no need to parse the data manually. You can get the data from `params` variable.
How about this implementations?

[2016-10-28 12:11] awwa commented on #98
Included in [here](https://github.com/sendgrid/sendgrid-ruby/pull/114/files#diff-5bfc7690e1c495697baa4fd1d5a09f5cR1).

[2016-10-28 15:51] thinkingserious commented on #97
Hi @awwa,

I'll go ahead and review your PR. Thanks!

[2016-11-05 13:11] perobertson opened #117 "Version Missmatch"
#### Issue Summary

Version 4.0.6 is deployed to rubygems https://rubygems.org/gems/sendgrid-ruby but it appears that whatever was deployed there was not checked into the code base https://github.com/sendgrid/sendgrid-ruby/blob/d2d42c140ee78bd78f400724e7c78670fd15d94e/lib/sendgrid/version.rb#L2

Currently 4.0.5 is checked into the codebase.

#### Technical details:

* sendgrid-ruby Version: master

[2016-11-07 03:52] trieulh-ict opened #118 "embed erb.html file to SendGrid template"
#### Issue Summary

As the title, is there any way to embed my local erb.html file in my project to SendGrid template?
Thank in advance.

#### Technical details:

* sendgrid-ruby Version: master
* Ruby Version: 2.3.1
* Rails Version: 5.0.0

[2016-11-07 21:23] thinkingserious commented on #118
Hello @trieulh-ict,

I'm thinking you are asking how to use your erb.html as the template when you send an email. If so, you can pass the contents of the erb.html file into the Content object of type 'text/html', like so: https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L9

If not, please elaborate. Thanks!

[2016-11-07 21:41] thinkingserious commented on #117
Apologies @perobertson!

I've just pushed it: https://github.com/sendgrid/sendgrid-ruby/commits/master

[2016-11-07 21:41] #117 closed

[2016-11-08 01:29] trieulh-ict commented on #118
Oh yes, That's what I mean, sorry for bad english.
But I tried this:

`mail = SendGrid::Mail.new`
...
`mail.contents = SendGrid::Content.new(type: 'text/plain', value: 'Thank you for sign up')`
`mail.contents = SendGrid::Content.new(type: 'text/html', value: '<html><body>Thank you for sign up</body></html>')`

My Sidekiq notified that ActionMailer delivered but I got no mail. It just works after I

[2016-11-08 05:06] thinkingserious commented on #118
Can you please provide the full code? If you are not comfortable doing so in public, please send to dx@sendgrid.com. Thanks!

[2016-11-08 13:40] perobertson commented on #117
excellent, thanks!

[2016-11-08 19:09] thinkingserious opened #119 "Add Rate Limiting Support"
We would like to add support for v3 Web API rate limits, as described [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/rate_limits.html).

**_How would you like this to be implemented?_** Or please give a thumbs up to express your interest in us implementing to move this task up our queue.

PRs are always welcome as well :)

[2016-11-09 04:16] awwa commented on #119
I believe this issue is about handleing the status 429 appropriately inside the library.

FYI:
[My library rescues](https://github.com/awwa/sendgrid4r/blob/master/lib/sendgrid4r/rest/request.rb#L37-L40) the TooManyRequests exception then sleep till `x_ratelimit_remaining` and retry.
This implementation will block the thread. I'm not sure this makes problem or not.

The make_request() method of the

[2016-11-11 21:24] maxpark-jd opened #120 "Incorrect handling of recipient names with special characters"
#### Issue Summary

Either sendgrid-ruby or Sendgrid is incorrectly handling recipient names with special characters

#### Steps to Reproduce

1. Use a name with special characters in personalization.to code. For example:
personalization.to = SendGrid::Email.new(email: "test@example.com", name: "Attn: Accounts Payable, Corp,")
2. Sendgrid drops the email because it receives a request with email ad

[2016-11-14 08:42] iashanmugavel opened #121 "authorization required error"
#### Issue Summary

Sendgrid API calls are working fine with Postman client but not working with this gem and it is throwing 401 {"errors":[{"field":null,"message":"authorization required"}]} error.

You can refer the below screenshot from postman API call
![image](https://cloud.githubusercontent.com/assets/1419487/20258051/a4abe578-aa73-11e6-8429-d330a426b423.png)

As I can not share the API key,

[2016-11-14 19:22] thinkingserious commented on #121
Hello @iashanmugavel,

Can you please share the code that is giving you trouble? Thanks!

[2016-11-14 19:49] thinkingserious commented on #120
Hello @maxpark-jd,

This is a limitation of the SendGrid API. Currently, we do not support commas in the from name.

[2016-11-14 19:49] #120 closed

[2016-11-15 17:29] thinkingserious commented on #121
Hello @iashanmugavel,

The correct way is `sg = SendGrid::API.new(api_key: 'SG.XxxxxxXxxxxxXxxxxXXxXx.Xxxx_xxXXXXxXxXXxxxXXxxXxXxXxxxXx-_xxxxxXXX')`

When you try it that way, what happens?

[2016-11-16 04:28] iashanmugavel commented on #121
Hello @thinkingserious ,

When I try this code `sg = SendGrid::API.new(api_key: 'SG.XxxxxxXxxxxxXxxxxXXxXx.Xxxx_xxXXXXxXxXXxxxXXxxXxXxXxxxXx-_xxxxxXXX')`, I got the below error:

[code]

[2016-11-16 13:52] iashanmugavel commented on #121
Hi @thinkingserious ,

Thanks for the suggestion.

I found the issue, API_KEY did not have few permissions. I added that now it works now. But I wondered, then how it worked on Postman client without having those permissions.

Anyway it is working now. But I have a query, is there any way to get sum of stats for a particular category only link [this ](https://sendgrid.com/docs/API_Reference/Web_AP

[2016-11-17 20:57] thinkingserious commented on #121
@iashanmugavel,

The API call here can still be executed: https://sendgrid.com/docs/API_Reference/Web_API/Statistics/index.html#-Retrieve-Statistics

That said, we don't have a SDK to access it, as our SDKs don't support v2 anymore. You can use your favorite http client or this one: https://github.com/sendgrid/ruby-http-client.

Thanks!

[2016-11-17 20:57] #121 closed

[2016-11-21 17:48] maxpark-jd commented on #120
Thank you for this information @thinkingserious ! So it is only the comma in the from name. It will be helpful if it is in the [document](https://github.com/sendgrid/sendgrid-ruby#quick-start) as it can be tricky to figure out when that happens in a client's production server.

[2016-11-23 00:30] pwgustafson commented on #104
Hello, I am also having this same issue.  I have written a small ruby class to help me with building the sendgrid mail objects:

[code]

I get undefined method errors for `mail.personalizations` along with `mail.template_id`

sendgrid-ruby (4.0.6)
ruby 2.3.1

I have followed this example: https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional_templates

but still am getti

[2016-11-23 03:40] pwgustafson opened #123 "Adding multiple Unique Arguments (Custom Args) using the V3 API"
### Issue
I've been trying to add multiple custom args to a single personalization, but getting an ambiguous error response.

### Steps to reproduce
[code]

`{"errors":[{"message":"Bad Request","field":null,"help":null}]}`

* sendgrid-ruby Version: 4.0.6
* Ruby Version: 2.3.1

[2016-11-23 21:09] pwgustafson commented on #123
## UPDATE:

I figured out what was happening;  This line:

`personalization.custom_args = CustomArg.new(key: 'user_id', value: user.id)`

was causing issues, until I changed it to:

`personalization.custom_args = CustomArg.new(key: 'user_id', value: user.id.to_s)`

Maybe ill open a PR for this issue.

Thanks!

[2016-11-29 02:42] thinkingserious commented on #123
Hi @pwgustafson,

Thanks for sharing the fix! Did you still want to open the issue? If not, I'll go ahead and do that.

[2016-11-29 02:43] thinkingserious commented on #123
Actually, I'll just use this issue as reference and add this to our backlog. Thanks!

Also, for providing the fix, we'd like to offer you some swag. Please fill out [this form](https://docs.google.com/forms/d/e/1FAIpQLSelP4uF-wGJebxVYq1DYw5WzHomEUauab3YiqrshyCkRs0fqw/viewform#start=invite) and we'll get you set up. Thanks!

[2016-11-29 04:10] thinkingserious commented on #104
Hello @pwgustafson,

I tried to reproduce your error with the following code:

[code]

and the email sent without error.

My ruby version is ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin15]
sendgrid-ruby 4.0.6

Do you have any suggestions on how I can try to verify your issue?

[2016-11-29 04:26] pwgustafson commented on #104
Hi @thinkingserious,

I actually figured out what was going on, and I forgot to update this ticket.  It was actually because the `@mail = Mail.new` was not a sendgrid mail object, probably an ActionMailer object.

Thanks for getting back to me.

[2016-11-29 04:30] thinkingserious commented on #104
Thanks for the follow up!

[2016-11-29 04:30] #104 closed

[2016-11-29 04:30] pwgustafson commented on #123
Thanks @thinkingserious

I will try to open a PR with a fix once I have some free time - Appreciate the swag!

👕 👍

[2016-11-29 04:30] thinkingserious commented on #123
Awesome, a PR would be great!

[2016-11-29 04:33] thinkingserious commented on #120
Thanks for the follow up, I'm going to verify and check back in with you.

[2016-11-30 07:04] trieulh-ict commented on #118
Sorry for "super-slow" reply.
I've already resolved my issue by using multi templates. I think It's better, isn't it? Thank you in advance.

[2016-11-30 07:04] #118 closed

[2016-11-30 07:10] trieulh-ict opened #125 "Sending to multiple emails with personalized substitutions"
#### Issue Summary

As the topic, is there any **best performance** way to send a personalized content to multiple emails (around thousands of emails) in one call?

Currently I create one personalization for each recipient and add it to mail.personalizations.

My code:

`mail = SendGrid::Mail.new`
`mail.from = SendGrid::Email.new(email: @admin_mail)`

...
`personalization = Personalization.new`
`p

[2016-11-30 08:44] trieulh-ict commented on #125
My solution is to create

[2016-11-30 15:24] jrectenwald commented on #125
I think the best way to avoid creating individual personalizations for each recipient is to add an X-SMTPAPI header to the message. You can pass in a list of email recipients and a hash of substitutions that you want to make.

https://sendgrid.com/docs/API_Reference/SMTP_API/index.html
https://sendgrid.com/docs/Integrate/Code_Examples/SMTP_API_Header_Examples/ruby.html

This example is from 2009 t

[2016-11-30 18:26] thinkingserious commented on #125
@trieulh-ict,

Thank you for reaching out to us!

I suggest you reach out to our [support team](https://support.sendgrid.com) on this one.

With Best Regards,

Elmer

[2016-11-30 18:26] #125 closed

[2016-12-01 15:48] xxswingxx opened #126 "Does "X-SMTPAPI" header with "to" option work?"
I'm trying to send an email to multiple recipients but hiding the email addresses from each other on a development environment. It seems the docs are telling that it should be possible with something like this:

[code]
I thought it would work with this code, but only email1@test.com receives the email

[code]
I'm currently using Rails 4.1 and   sendgrid-ruby 4.0.6

[2016-12-01 16:27] trieulh-ict opened #127 "The results of some methods seem not to be equal to Sendgrid db."
#### Issue Summary

I used 2 method to retrieve info of all contacts and bounce mails, but The result is not enough.

`sg.client.contactdb.recipients.get()`
`sg.client.suppression.bounces.get()`

Currently on my dashboard, I reached the limit of 2000 contacts, but the result of query only gives me 978 contacts (I parsed from response)
Same with bounce mails, 12 bounce pages but only receive 500 bo

[2016-12-01 16:35] trieulh-ict commented on #126
It seems because of this line

`personalization.to = SendGrid::Email.new(email: 'email1@test.com')`

You only add `email1@test.com` to the personalization.
Though I dont understand clearly the difference between `to` in header and in personalization.

[2016-12-01 16:41] xxswingxx commented on #126
@trieulh-ict , the idea is to send multiple emails in a single request while hidding the email addresses to the rest of the recipients so each recipient would receive an email with a single address in the "to". According to the docs this should be possible with the X-SMTPAPI header. For the previous gem version it looked like the other "to" (`personalization.to ` in my case) was ignored, not in th

[2016-12-01 17:19] trieulh-ict commented on #126
To hide the addresses, I'm considering about using header or bcc.
But does any solutions work well?
I'm also dealing with huge list of recipients (abt 10k) and none of them works in my case.

Waiting for response from dev team.

[2016-12-01 18:19] thinkingserious commented on #126
@trieulh-ict ,

You do not need the X-SMTPAPI header, as it's now included within the new v3 API. To achieve the result of having multiple emails in the single request while hiding the emails you need multiple personalization objects.

Here is a working example:

[code]

With Best Regards,

Elmer

[2016-12-01 18:20] xxswingxx commented on #126
I think I've got it. I've ended up creating a `personalization` per recipient:

[code]
Is this the correct way?

[2016-12-01 18:21] #126 closed

[2016-12-01 18:58] thinkingserious commented on #127
Hello @trieulh-ict,

Thank you for reaching out us!

To best help you on this issue, please <a href="mailto:support@sendgrid.com?subject=%5BDX%20Support%20Request%5D%20-%20The%20results%20of%20some%20methods%20seem%20not%20to%20be%20equal%20to%20Sendgrid%20db.&body=Please%20see%20this%20GitHub%20Issue%20for%20reference%3A%20https%3A//github.com/sendgrid/sendgrid-ruby/issues/127%0A%0AIssue%20Summar

[2016-12-01 18:58] #127 closed

[2016-12-02 09:19] trieulh-ict opened #128 "Delete all contacts having mails in bounces"
#### Issue Summary

I want to delete all emails which is in bounce. But when I retrieve list in bounce, each item only contains email, not recipient_id. And I see no API to delete contact by email, only by recipient_id.

Any ideas to delete thousand of contacts which are in bounce in 1 API call, or I have to retrieve recipient_id one by one? The second solution need to call API thousand times, not

[2016-12-02 18:27] thinkingserious commented on #128
Hello @trieulh-ict,

Thank you for reaching out us!

To best help you on this issue, please <a href="mailto:support@sendgrid.com?subject=%5BDX%20Support%20Request%5D%20-%20Delete%20all%20contacts%20having%20mails%20in%20bounces&body=Please%20see%20this%20GitHub%20Issue%20for%20reference%3A%20https%3A//github.com/sendgrid/sendgrid-ruby/issues/128%0A%0AIssue%20Summary%0AI%20want%20to%20delete%20all%

[2016-12-02 18:27] #128 closed

[2016-12-06 15:32] mbernier-tester opened #130 "Test issue!"
This is an automation test, please ignore.

[2016-12-08 19:05] milep opened #135 "Subject encoding in email is different when sending from preview vs sending by V3 api"
#### Issue Summary

When sending transactional template from api, subject is not encoded.

#### Steps to Reproduce

1. Create template with a subject: `Terveisiä rannalta`
2. Send preview
Subject in the received email: `Subject: =?UTF-8?Q?Test_-_Terveisi=C3=A4_rannalta?=`
3. Send the same template through V3 api
Subject in the received email: `Subject: Terveisiä rannalta`

As a workaround, if you

[2016-12-08 21:10] thinkingserious commented on #135
Thanks for submitting this issue @milep, we have added it to our backlog for review.

[2016-12-09 13:53] thinkingserious commented on #128
Hello @trieulh-ict,

Thank you for reaching out us!

To best help you on this issue, please <a href="mailto:support@sendgrid.com?subject=%5BDX%20Support%20Request%5D%20-%20Delete%20all%20contacts%20having%20mails%20in%20bounces&body=Please%20see%20this%20GitHub%20Issue%20for%20reference%3A%20https%3A//github.com/sendgrid/sendgrid-ruby/issues/128%0A%0AIssue%20Summary%0AI%20want%20to%20delete%20all%

[2016-12-12 21:28] quantson commented on #135
Thanks for the workaround @milep, was really helpful. I've also noticed that removing all personalizations did the trick, might be correlated.

[2016-12-12 21:41] thinkingserious commented on #135
@milep, @quantson,

We have discovered that this is an API level problem and our engineering team is working on a fix now.

Thanks for your patience and I'll update this thread when the fix is live.

[2016-12-14 04:08] mepiphany opened #136 "Sending mail with subuser account"
#### Issue Summary

Sending an email with the subuser's account works, however, when I go into subuser management section inside the dash board all my requests are displayed 0. If I visit activity panel on the dash board it shows all the emails sent. I have no idea why I can't get any statistics on my subusers?
please help

[2016-12-20 18:46] alikhan-io opened #138 "MailHelper returning InvalidType error message from server for from and to fields."
#### Issue Summary

When using the mail helper only we are getting an error on from and to emails.

{"errors":[{"message":"Invalid type. Expected: object, given: string.","field":"from","help":"http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#message.from"},{"message":"Invalid type. Expected: object, given: string.","field":"personalizations.0.to.0","help":"http://sendgrid.com/do

[2017-01-02 06:17] scalp42 commented on #123
@pwgustafson unrelated but how do you leverage these custom args ? Where do they show up in Sendgrid?

[2017-01-06 15:24] alikhan-io opened #139 "Namespace conflict with Email model"
#### Issue Summary

We have am model named Email in our application. When including SendGrid, our application errors as it believes us to be referencing SendGrid::Email rather than our own.
[code]

We get

```undefined method `find' for SendGrid::Email:Class```

Refer to http://stackoverflow.com/questions/41508464/rails-model-name-conflict-with-included-gem?noredirect=1#comment70223099_41508464 fo

[2017-01-06 15:30] alikhan-io commented on #139
To note - with the help of SO I was able to resolve this by removing the "include SendGrid" line. Apparently with Rails this is not needed. I'm keeping this issue here though for now as it may be worth exploring modifying the instructions to clarify the include portion in the README's first two examples.

[2017-01-07 12:59] akki209 commented on #138
Hi @alikhan-io are you sure you have the right code pasted above?
I tried with that and it gave me two errors.

`{
    "errors": [
        {
            "message": "The personalizations field is required and must have at least one personalization.",
            "field": "personalizations",
            "help": "http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#-Personalizations-Err

[2017-01-09 20:55] christianroy commented on #67
Hello, n00b here. :) Had a similar issue in my production environment (but worked fine in dev), this thread helped me a lot. So just confirming "you'll help someone who is having a similar issue in the future". Thanks a lot @safetymonkey.

[2017-01-09 21:03] safetymonkey commented on #67
I'm happy to try and help if you can provide more info on exactly what you're seeing.

[2017-01-09 21:09] christianroy commented on #67
Oh don't worry @safetymonkey, I solved my problem by specifying `SendGrid::Mail.new` like you did. I was just thanking you for your documentation efforts back in June...

[2017-01-09 21:10] safetymonkey commented on #67
Ah. I'm glad it helped!

[2017-01-10 17:08] alikhan-io commented on #138
I will attempt this fix tomorrow - thanks!

[2017-01-10 23:46] tommybstitch opened #140 "Message won't send when attachment is present"
#### Issue Summary

When I try to attach a PDF file to the message being sent, I don't get any errors or warnings but the message I am attempting to send never gets sent. When I comment out the attachment code, the message sends just fine.

#### Steps to Reproduce

1. Create a mail object in Ruby to be sent using the Sendgrid SDK
2. Attach a PDF file to the message
3. Attempt to send the message

[2017-01-13 23:28] garnold commented on #77
@thinkingserious We were just bitten by this bug too.  What's the status on the [open ticket you referenced](https://github.com/sendgrid/sendgrid-ruby/issues/77#issuecomment-232773309)?

[2017-01-17 04:30] ianbelcher commented on #59
Can confirm that @danielweinmann solution still is the workaround for this. Would be great if sendgrid fixed this issue as the only reason I'm using their transactional templates is so that non-dev's can edit templates. This issue sort of breaks the ability to do this.

Found the best way to counter the problem when editing an existing template is to go into the edit view, click 'code' to change t

[2017-01-24 18:15] thinkingserious commented on #120
Hello @maxpark-jd,

You can view the full list of limitations here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html#-Limitations

Thanks!

[2017-01-25 16:23] thinkingserious commented on #59
@ianbelcher,

I can confirm that a fix is under development. I don't have a release date yet though.

Thanks for providing the work around!

[2017-01-25 16:45] thinkingserious commented on #135
@milep, @quantson,

Apologies for my delayed update.

This issue has been resolved at the API level as of 12/14/16.

Thanks!

[2017-01-25 16:45] #135 closed

[2017-01-25 17:29] thinkingserious commented on #77
@garnold,

The issue is on our backlog for a fix, but there is no release data as of today.

[2017-01-25 18:26] garnold commented on #77
@thinkingserious Thanks for the update. I see that it's listed in the "Limitations" section of the API documentation, but it might be better off if it was noted on request parameters.  This one bit us hard.

[2017-01-25 19:31] thinkingserious commented on #77
Hello @garnold,

Could you please point me to where you were looking in the documentation? Thanks!

[2017-01-25 20:28] garnold commented on #77
Hey @thinkingserious ,

Here's where the documentation talks about not being able to use `;` or `,`:

https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html#-Limitations

Here's where I was reading while implementing our API calls:

https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html#-Request-Body-Parameters

Of course now I see that the Limitations section was directly

[2017-01-25 21:52] thinkingserious commented on #77
Thanks @garnold!

If you click on the down icon next to the name parameter: https://www.screencast.com/t/esT65SKqer3N

Would you suggest that we have all of the descriptions expanded by default?

[2017-01-25 22:32] garnold commented on #77
@thinkingserious Well I'll be damned.

For some parameters the limitation is specified without having to expand the description, whereas for others the limitation is hidden until you expand the details.  Consider the `from` and `reply_to` parameters:

https://www.dropbox.com/s/wiw1w7638a01gbt/Screenshot%202017-01-25%2016.24.45.png?dl=0
https://www.dropbox.com/s/i3kcqd9mgqvwaca/Screenshot%202017-01

[2017-01-25 22:40] thinkingserious commented on #77
Thanks @garnold,

This is great feedback, I will pass this along to our documentation team for improvements.

With Best Regards,

Elmer

[2017-01-25 23:10] garnold commented on #77
Much appreciated @thinkingserious !

[2017-01-25 23:42] thinkingserious commented on #140
Hello @tommybstitch,

Would you mind providing the rest of the code so that I may try to reproduce the error. Also, could you send us the pdf to dx@sendgrid.com?

Thanks!

[2017-01-26 00:06] thinkingserious commented on #138
Thanks for taking the time to help out @alikhan-io!

Please fill out this [form](https://docs.google.com/forms/d/e/1FAIpQLSelP4uF-wGJebxVYq1DYw5WzHomEUauab3YiqrshyCkRs0fqw/viewform#start=invite) and we will send you some swag :)

[2017-01-26 04:44] thinkingserious commented on #139
Thank you @alikhan-io,

We will add this use case to our TROUBLESHOOTING.md section.

[2017-01-26 11:56] VictorAcatrinei commented on #67
Would this fix be something that can be added to the documentation or in some place that can be visible for even more people?

[2017-01-26 17:30] thinkingserious commented on #123
@scalp42,

Please check out the documentation here: https://sendgrid.com/docs/API_Reference/SMTP_API/unique_arguments.html

While that describes the SMTP API functionality, the same functionality holds true for v3.

Thanks!

[2017-01-26 17:34] pwgustafson commented on #123
@scalp42 I don't actually use them in sendgrid, I use them in the webhook callbacks to update specific details for delivered & click events.

[2017-01-26 18:07] thinkingserious commented on #67
Great idea @VictorAcatrinei,

We will get it added to the TROUBLESHOOTING.md document.

[2017-01-27 00:22] thinkingserious commented on #136
Hello @mepiphany,

Thank you for reaching out us!

To best help you on this issue, please <a href="mailto:support@sendgrid.com?subject=%5BDX%20Support%20Request%5D%20-%20Sending%20mail%20with%20subuser%20account&body=Please%20see%20this%20GitHub%20Issue%20for%20reference%3A%20https%3A//github.com/sendgrid/sendgrid-ruby/issues/136%0A%0AIssue%20Summary%0ASending%20an%20email%20with%20the%20subuser%2

[2017-01-27 00:22] #136 closed

[2017-01-27 02:04] brian4d commented on #94
+1 to @joeunrue

[2017-01-27 02:20] brian4d opened #142 "Numeric values cause 400 Bad Request with no explanation"
#### Issue Summary

Was stumped briefly while upgrading to Ver 3 of the API. I had followed the example code but was getting "400 Bad Request" without any other explanation.

`mail.custom_args = CustomArg.new(:key => 'list_id', :value => self.list_id)`
`mail.custom_args = CustomArg.new(:key => 'message_id', :value => self.id)`
`personalization.substitutions = Substitution.new(:key => '-person_id-'

[2017-01-27 07:56] thinkingserious commented on #142
Hi @brian4d,

Agreed and thanks for taking the time to spell out the issue in detail!

I have added this to our backlog for implementation.

With Best Regards,

Elmer

[2017-02-03 15:57] rg34 opened #143 "Unsubscribe tags workaround NOT working on Transactional Emails (see #59)"
Hello.

I've been using the workaround as described in the issue below. However, it is no longer working. I can verify that it stopped working somewhere after January 23, 2017.
#59

I have tried every combination of saving in code view vs design view with no luck. Any word on the ETA for an actual fix?

Thanks so much!

![screen shot 2017-02-03 at 8 34 09 am](https://cloud.githubusercontent.com/as

[2017-02-03 18:38] thinkingserious commented on #143
Hi @rg34,

What exactly is happening now when you save?

Have you tried using different tags? e.g. -asm_preferences_url-

[2017-02-03 19:00] rg34 commented on #143
codeview:
![screen shot 2017-02-03 at 11 56 09 am](https://cloud.githubusercontent.com/assets/4340339/22604246/daa7742a-ea07-11e6-836a-d3706a6d0e84.png)

email view:
![screen shot 2017-02-03 at 11 55 53 am](https://cloud.githubusercontent.com/assets/4340339/22604253/e2bbb964-ea07-11e6-952e-4ec7e0f68492.png)

I can verify in an email sent January 23, that the workaround was still functional:
![scre

[2017-02-06 19:40] thinkingserious commented on #143
Hi @rg34,

Did changing the substitution tag help?

[2017-02-13 11:45] soundornoise commented on #143
Hi @thinkingserious,

I think I am hitting this same problem. I'm creating a new template, so I can't comment specifically on the change in behaviour, but I am seeing the tags getting encoded.

I thought the asm tags were preset, were you suggesting having a substitution tag map to <%asm_preferences_url%>? I attempted this and, while the tags are not encoded, they do not get transformed in to the

[2017-02-13 19:50] thinkingserious commented on #143
@soundornoise,

I'm digging deeper with our support team and I'll post the results of my findings here.

Thanks!

[2017-02-15 17:41] jeyboy opened #145 "Multiple categories in categories stats request"
Hi!

I'm trying to send a request 'categories.stats.get' with several categories in the form ['cat1', 'cat2'], but this leads to the error: '{"errors":[{"message":"category does not exist","field":"categories"}]}'. The examples in gem don't contain the answer. On sending one category everything work ok.

Will be grateful for your help

[2017-02-16 21:14] thinkingserious opened #147 "Fix User Agent string"
#### Issue Summary

The user agent string is not currently passed to the HTTP client.

https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/client.rb#L21

[2017-02-16 21:29] thinkingserious commented on #145
Hello @jeyboy,

Do you mind posting the request body so I can attempt to reproduce? Thanks!

[2017-02-18 01:10] jeyboy commented on #145
Hi.

Please check next request:
client= SendGrid::API.new(api_key: 'api key')).client
client.categories.stats.get(start_date: '2016-12-31', categories: ['cat1', 'cat2'])

Thanks.

[2017-02-18 05:25] #147 closed

[2017-02-20 18:50] thinkingserious commented on #145
Hello @jeyboy,

Here is how you make that call for 1 category:

[code]

According to the docs, we can have up to 10 categories in the `categories` field as a string, but I'm not sure what the format should be. Once I find an answer, I will post here.

Thanks!

With Best Regards,

Elmer

[2017-02-20 19:03] thinkingserious commented on #145
And for multiple categories:

[code]

[2017-02-22 17:02] #138 closed

[2017-02-22 18:27] kylearoberts commented on #143
@soundornoise @rg34

I work in the support department and wanted to help get this situation cleared up. Can you confirm that you are just looking for the URL for the unsubscribe link? Are you looking to do something like:

`<a href="<%asm_preferences_url%>" >Preferences</a>`

Or are you having issues using substitutions:

[code]

Let me know if I have not understood correctly. Once I know more I w

[2017-02-24 11:57] jeyboy commented on #145
Hello @thinkingserious

Thank you very much for your help!!!!!.

[2017-02-24 11:57] #145 closed

[2017-02-24 15:01] soundornoise commented on #143
Hi @kylearoberts,

Thanks for following up. Yes, I'd like to add the preferences link as you described. I'm currently using a custom unsubscribe tag mapped to `[unsubscribe]` to avoid encoding issues, but adding the preferences link would be ideal.

What I have:
[code]

On save gets re-encoded to:

[code]

So the tags don't get interpreted. This is the recipient's MIME code:

[code]

Based on the

[2017-02-24 15:59] kylearoberts commented on #143
@soundornoise

Thank you for those details. I know know exactly what you need.

Each tag is designed to to place a link for you in your content. To get the link itself we have different tags:

[code]

So I can take your example of:

[code]

and change it to:

[code]

add in the substitutions:

[code]

This should get you by until we get the encoding issue addresses.

[2017-02-27 11:09] soundornoise commented on #143
Yes, I did have the wrong tags. Good spot!

But, I'm still seeing single character substitutions. I get:

[code]

[2017-02-27 17:19] kylearoberts commented on #143
@soundornoise

Can you provide your template ID and your personalizations? Also, just to make sure are you passing an ASM group in your Ruby?

[code]

Once I have this information I should be able to replicate your issue or find what is causing it.

[2017-03-02 23:43] rg34 commented on #143
@kylearoberts, @soundornoise

Sorry for the delay...just getting back to this.
The template ID is 8297d3f6-209c-4d1e-ae3d-508d7d34c702,
version 9c7e5728-7726-4e2c-ba6d-458686c68f5a.
And to confirm, I am setting the ASM group in the Ruby code.

If I update the links in your UI edit template code view with
<%asm_preferences_url%>
<%asm_global_unsubscribe_url%>,
stay in the code view, save the change

[2017-03-04 16:32] laynetrain opened #149 "Setup Env Variables"
Shouldn't the key go in a `/config/secrets.yml` file?
[code]
And then get initialized in `/config/initializers/sendgrid.rb`?
[code]
My worry is that I would have to do this every time I switched to my sendgrid branch and that this setup wouldn't work on staging/ production.
[code]

[2017-03-04 16:38] laynetrain commented on #149
However, I get `undefined method `configure' for SendGrid:Module` when I attempt this

[2017-03-06 16:48] laynetrain opened #150 "Where to put the quickstart code?"
Where is this code supposed to go? In a controller?
Does the `SendGrid::API.new` line handle authentication and authorization?

[code]

[2017-03-07 07:15] asimisoft opened #151 "NoMethodError: undefined method `default_sg_unique_args'"
Hi, I read the article https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L21 , i implemented similar hello_world method as shown below, i am getting some errors which are explained below.

    require 'sendgrid-ruby'
    include SendGrid

    class HelloMailer
	    def self.deliver
		from = Email.new(email: 'testuser1@example.com')
		subject = 'Hello World from

[2017-03-07 07:22] asimisoft commented on #151
Seems issue occurred when we use sendgrid and sendgrid-ruby gems together

[2017-03-07 07:30] thinkingserious commented on #151
Hello @asimisoft,

The officially supported SendGrid gem is [sendgrid-ruby](https://github.com/sendgrid/sendgrid-ruby).

You would either use the sendgrid-ruby gem or the third party sendgrid gem.

Thanks!

With Best Regards,

Elmer

[2017-03-07 07:46] thinkingserious commented on #150
Hello @laynetrain,

Yes, a controller would be an appropriate place for this code.

Yes, the 'SendGrid::API.new' creates an authenticated connection to the SendGrid API.

With Best Regards,

Elmer

[2017-03-07 08:02] thinkingserious commented on #149
Hello @laynetrain,

You can store your API key in any secure location. Our example is meant to encourage that best practice.

In your case, something similar to the following should work:

[code]

I hope that helps.

Thanks!

With Best Regards,

Elmer

[2017-03-07 08:33] userrails opened #152 "400 Bad request"
I have installed `sendgrid-ruby` gem and Added `hello_mailer` borrowed from gem documentation which
looks like this:

[code]

Now, when I call ```HelloMailer.deliver``` I am getting following:

[code]

__Error with 400 status code__

[code]

what am I missing here?

[2017-03-07 08:38] asimisoft commented on #151
@thinkingserious Thanks for all these infos. I have opened new ticket with new issue.

[2017-03-07 08:39] #151 closed

[2017-03-07 22:30] thinkingserious commented on #152
Hello @userrails,

What is the output of `puts mail.to_json`?

With Best Regards,

Elmer

[2017-03-08 03:18] userrails commented on #152
Hello Elmer,

Here is the output of mail.to_json. Thank you!

[2017-03-08 03:47] thinkingserious commented on #152
Hello @userrails,

I tried to duplicate the issue and I could not. Following is the code I used:

[code]

And the result of `puts mail.to_json` was:

[code]

What version of ruby are you using?
How did you install the sendgrid-ruby gem?
What other gems are installed in your project? Maybe there is some conflict.

With Best Regards,

Elmer

[2017-03-08 04:16] userrails commented on #152
Hello Elmer,

  I have just created new application and bundle install sendgrid-ruby, it works perfect now. I guess conflict occurred because of sendgrid-rails, sendgrid gems which installed in my application where i was testing.

Thanks for your help.

Regards,
Shiv Raj

[2017-03-08 05:08] #152 closed

[2017-03-12 01:32] spyeadon opened #153 "Sending an audio file from the browser through SendGrid"
I'm trying to send a content-type "audio/webm" through send grid as either an attachment or as content on the helper.Mail object. Req.body was sent through the below axios request. The recordedBlob is equal to the blob of a MIME type audio/webm file and was recorded using the RecordRTC API. I am also having some trouble with the SG attachment API. Would that be better than sending as content? It s

[2017-03-13 17:44] thinkingserious commented on #153
Hello @spyeadon,

Please see this example for how to use attachments with this library: https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L69 Note that the `content` is base64 encoded.

With Best Regards,

Elmer

[2017-03-13 18:21] spyeadon commented on #153
Thanks. Figured this out.

[2017-03-13 18:21] #153 closed

[2017-03-14 16:04] rg34 commented on #143
@kylearoberts, @soundornoise

Just wanted to feed you a quick update.
After saving the template in code view 12 days ago and since never editing it, I have confirmed that the links are still rendering properly in our emails. Easy to manage on a small team, but definitely hope for a fix in the future.

![screen shot 2017-03-14 at 10 04 17 am](https://cloud.githubusercontent.com/assets/4340339/23909

[2017-03-14 16:59] percyhanna commented on #142
Any word on fixing this? Ideally the API would just return a better error message, and/or accept any valid JSON in `custom_args` (or at least any scalar values).

[2017-03-15 18:54] thinkingserious commented on #142
Hi @percyhanna,

I've added your vote to this issue to help it rise in our backlog. It can continue to rise with additional +1s, comments or a PR. A PR would cause the greatest impact.

Thanks!

Elmer

[2017-03-28 20:32] neyp commented on #103
Is there an example demonstrating how to specify a template for sending an email using this gem? It would be great when implementing template redesigns.

[2017-03-29 15:42] SendGridDX commented on #103
Hi @neyp,

I believe you would just need to activate the version you require, like so: https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/templates/templates.rb#L119

With Best Regards,

Elmer

[2017-03-29 16:06] neyp commented on #103
Hi @SendGridDX,
What about testing a non-finished template redesign? If I activate it, it would be immediately used in production.

[2017-03-29 16:10] audreythomas commented on #103
Hi @neyp,

In that case I would create a separate template first, do your testing, then add it to your original template as a version.

[2017-04-09 21:16] skalee opened #159 "Problematic Sinatra dependency"
#### Issue Summary

Recently released version 4.1 introduces Sinatra ~> 1.4.7 as a dependency, and that Sinatra version depends on Rack ~> 1.5. In the result, Sendgrid-Ruby is now incompatible with Rails 5 which requires Rack ~> 2.0.

Sinatra 2 works with Rack 2.0. Two release candidates have been pushed to RubyGems already.

#### Technical details:

* sendgrid-ruby Version: 4.1, master (latest co

[2017-04-10 13:10] ravirakesh commented on #81
I am getting response like :--

@body="",
 @headers=
  {"server"=>["nginx"],
   "date"=>["Mon, 10 Apr 2017 13:06:27 GMT"],
   "content-type"=>["text/plain; charset=utf-8"],
   "content-length"=>["0"],
   "connection"=>["close"],
   "x-message-id"=>["8mw9nktNSBSGQnrHkXny8Q"],
   "x-frame-options"=>["DENY"],
   "access-control-allow-origin"=>["https://sendgrid.api-docs.io"],
   "access-control-allow

[2017-04-10 21:13] thinkingserious commented on #81
Hello @ravirakesh,

That looks like a successful response. Here is a [complete list of our status codes](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html).

In this particular case, the [202 status code](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) means that your message is both valid, and queued to be delivered.

The [response body should be empty](http

[2017-04-10 22:01] thinkingserious commented on #159
Thanks @skalee! I've added this to our backlog for further review.

@awwa, do you have any thoughts on this one?

Reference: http://guides.rubyonrails.org/5_0_release_notes.html (requires ruby 2.2.2+)

[2017-04-11 01:31] #111 closed

[2017-04-11 11:01] ravirakesh commented on #81
Hi Elmer,
I have verified that when I am sending mail on send-grid got response but I want to know how to manage object.
example if I send @user.email and using in template then how can i get actual response
Thanks,
Ravishankar

[2017-04-11 13:57] ravirakesh commented on #81
What kind of significance in x-message_id , and we are passing object in json but in response direct object is coming.

{"server"=>["nginx"],
 "date"=>["Tue, 11 Apr 2017 13:44:44 GMT"],
 "content-type"=>["text/plain; charset=utf-8"],
 "content-length"=>["0"],
 "connection"=>["close"],
 "x-message-id"=>["-ybjzAnqRVSTa9HG-bW9Fw"],
 "x-frame-options"=>["DENY"],
 "access-control-allow-origin"=>["https

[2017-04-11 17:07] thinkingserious commented on #81
Hello @ravirakesh,

You don't really need to do anything with the return object if your email is successfully sent. You will want to save the `x-message-id` if you are doing email tracking, but otherwise you can ignore it.

In the case of an error, you will want to [do this](https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#error).

I hope that helps.

- Elmer

[2017-04-13 21:40] thinkingserious commented on #140
Hello @tommybstitch,

Are you still having trouble? Please let us know. Thanks!

[2017-04-19 14:23] awwa commented on #159
Hi @thinkingserious , @skalee,
Sinatra ~> 1.4.7 is not compatible with rails 5. It is better to investigate the compatibility with sinatra 2.0 rc and rails 5 because there might be conflict any other gems. I will check.

[2017-04-19 15:46] awwa commented on #159
@thinkingserious
I checked with ruby 2.3.3 and 2.4.0. It seems no problem. All process was fine. Here is the report.

1. Update the `sendgrid-ruby.gemspec` file.

[code]

2. Install sinatra 2.0.0.rc2.

[code]

3. Test sendgrid-ruby
All tests are fine.

[code]

4. Build package

[code]

5. Create rails 5 sample application

[code]

6. Add local sendgrid-ruby package to the Gemfile

[code]

7. Insta

[2017-04-24 07:47] gkats commented on #159
Hello, just experienced the same problem that @skalee mentioned. Is there a plan for a release soon? How can we help?

__Technical details__:
- sendgrid-ruby v4.3.0
- ruby v2.3.1
- rails v5.0.0
- actionpack v5.0.0.1

[2017-04-24 12:34] skalee commented on #159
Guys, it really seems to be a no-brainer. You have CI on Travis, don't you? Then you can test against both Sinatra versions: 1.4 and 2.0 if you relax the dependency.

[2017-04-25 05:46] thinkingserious commented on #159
Hi @gkats,

The best way to help is with a PR.

For now, I've added your vote to the issue to help it rise faster through our backlog.

Thanks!

With Best Regards,

Elmer

[2017-04-25 05:54] gkats commented on #159
@thinkingserious On it :smile:

[2017-04-25 20:35] #159 closed

[2017-05-02 12:58] skalee commented on #159
Now the only allowed dependency is a Sinatra's release candidate, which isn't good at all. And the Rack 1.x applications compatibility is broken (that is, still popular Rails 4 won't work).

[2017-05-02 16:25] thinkingserious commented on #159
Thanks for the fix @skalee!

[2017-05-02 20:24] #150 closed

[2017-05-02 20:24] #149 closed

[2017-05-02 20:27] thinkingserious commented on #140
@tommybstitch,

Here is a [full attachment example](https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional_templates).

[2017-05-02 20:27] #140 closed

[2017-05-02 20:33] thinkingserious commented on #107
Already implemented in a different way: https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound

[2017-05-02 20:33] #107 closed

[2017-05-02 20:40] thinkingserious commented on #99
Hello @OrthoDex,

The [Inbound Parser](https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound) is now live.

[2017-05-02 20:44] thinkingserious commented on #98
done: https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound

[2017-05-02 20:44] #98 closed

[2017-05-02 20:44] thinkingserious commented on #97
done: https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound

[2017-05-02 20:44] #97 closed

[2017-05-02 20:44] thinkingserious commented on #96
done: https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound

[2017-05-02 20:44] #96 closed

[2017-05-02 20:46] thinkingserious commented on #95
Hello Everyone!

Please follow progress here: https://github.com/sendgrid/sendgrid-ruby/issues/86

Thanks!

[2017-05-02 20:46] #95 closed

[2017-05-02 20:47] #93 closed

[2017-05-02 20:48] thinkingserious commented on #91
Hello @arunkumarsundaramurthy,

Currently, this is expected behavior.

I have passed along your feedback to our product team.

With Best Regards,

Elmer

[2017-05-02 20:51] #87 closed

[2017-05-02 20:52] thinkingserious commented on #86
Please follow progress on this issue here: #95

Thanks!

[2017-05-02 20:52] #86 closed

[2017-05-02 20:52] #83 closed

[2017-05-02 20:53] #73 closed

[2017-05-10 11:58] KristerV commented on #59
ehh, still an issue. thanks for providing the (temporary) solution.

[2017-05-10 22:13] cherifzouein commented on #59
Not sure if this helps for this specific issue, but I was trying to use the replacement tag to place the unsub tag at a custom position and finally figured out that you need to add the replacement tag within a link for it to work, e.g:
<a href="%your_replacement_tag_value%">Unsubscribe Here</a>

[2017-05-14 16:54] thinkingserious commented on #59
Thanks for sharing your solution @cherifzouein!

[2017-05-18 22:49] PedroVinicius opened #163 "Error 400 while testing email sending"
Howdy guys!

I need to use this library in order to send billing messages to my customers. At this moment, I have the following code:

[code]

I'm following the examples provided by you in this repo, but when I execute my code, I receive the following error message:

[code]
Looking at my code, I can't find anything wrong. Can you point me where is my mistake?

I'm using Ruby 2.4.0 and this library

[2017-05-18 23:11] thinkingserious commented on #163
Hi @PedroVinicius,

Thanks for reaching out!

Could you please provide the value of `message.to_json` before you call `sendgrid.client.mail._('send').post(request_body: message.to_json)`?

Thanks!

[2017-05-19 11:15] PedroVinicius commented on #163
Yes, of course!

See:
[code]

[2017-05-22 00:40] thinkingserious commented on #163
Hi @PedroVinicius,

Can you please replace:

`message = Mail.new(from)`

with

[code]

When you call `Mail.new` with parameters, [the constructor creates the personalization object](https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/helpers/mail/mail.rb#L820) for you. Then you created a second personalization object, causing the first object to have null values. [Here](https://gith

[2017-05-24 17:09] todociber commented on #90
There new news on this functionality?

[2017-05-24 17:46] gmhawash commented on #90
I was able to add the following to the header "On-behalf-of" => 'subuser name' and create the API key for that subuser.

[2017-05-26 13:18] PedroVinicius commented on #163
This worked well! Thank you so much @thinkingserious! :smiley:

[2017-05-26 17:03] thinkingserious commented on #163
Awesome, thanks for the follow up @PedroVinicius!

[2017-05-26 17:03] #163 closed

[2017-05-26 17:14] thinkingserious commented on #90
Thanks for the follow up @gmhawash!

[2017-05-26 17:14] #90 closed

[2017-05-27 15:47] #130 closed

[2017-06-12 00:02] senyoAsamoah commented on #67
@safetymonkey - thanks a lot, run into similar issue implementing sendgrid on my local dev and coming across his thread and your solution helped

[2017-07-05 13:57] randy-girard commented on #91
Hello, is there any update on this?

Thx

[2017-07-05 15:49] thinkingserious commented on #91
Hello @randy-girard,

Thanks for reaching out.

This is not currently on our roadmap for implementation.

With Best Regards,

Elmer

[2017-07-07 22:16] johnklein commented on #91
+1 for adding it to the road map.

[2017-07-07 23:15] thinkingserious commented on #91
Thanks @johnklein!

[2017-07-13 01:27] thinkingserious opened #169 "Mail Helper Refactor - Call for Feedback"
Hello!

It is now time to implement the final piece of our v2 to v3 migration. Before we dig into writing the code, we would love to get feedback on the following proposed interfaces.

We are starting with the use cases below for the first iteration. (we have completed this work on [our C# library](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md), you can check that out for a

[2017-07-14 01:56] thinkingserious commented on #169
@awwa, @pjurewicz, @skalee, @tricknotes, @Gwash3189, @maxcodes, @tkbky, @swifthand, @mootpointer, @brian4d, @alikhan-io, @safetymonkey

If you are tagged on this message, it means we are particularly interested in your feedback :)

If you don't have the time, no worries and my apologies for the disturbance.

If you do have the time, please take a look at the proposed helper upgrade above and let u

[2017-07-14 13:30] gurgelrenan commented on #169
Sendgrid docs in Overview section says: `The total number of recipients must be less than 1000. This includes all recipients defined within the to, cc, and bcc parameters, across each object that you include in the personalizations array.`.

In my opinion is a good ideia shows a example to a use case where send email to more than 1K at once. I'm currently solving this with the follow approach:

[c

[2017-07-14 18:34] thinkingserious commented on #169
Thanks @gurgelrenan,

My hope is that with the updated design this will be easier, for example, using the Kitchen Sink example, you should not have to manipulate the Personalization object directly.

For this release, we are limiting the scope to the use cases described above; however, we will add this follow up use case to the next iteration. Thanks again!

With Best Regards,

Elmer

[2017-07-14 18:51] fuelxc commented on #91
this seems like a serious flaw as https://tools.ietf.org/html/rfc6530 https://tools.ietf.org/html/rfc6531  https://tools.ietf.org/html/rfc6532 and https://tools.ietf.org/html/rfc6533 allows for international characters

Google adopted these RFC's in 2014

there are domains that use UTF-8 .भारत is a TLD that you are unable to send to in its entirety.

[2017-07-14 18:54] thinkingserious commented on #91
Thanks for the additional feedback @fuelxc,

I have passed along your feedback to our product team.

With Best Regards,

Elmer

[2017-07-19 07:21] awwa commented on #169
Hi @thinkingserious ,

I will show my opinion. I would like to hear any comments from other Rubyist about No.3.

1. The substitution keys on the contents
For expediting the understanding how substitutions work, the email contents is better to include the substitution keys. For example, `-name1-` of the **Send Multiple Emails to Multiple Recipients** or `%name4%` and `%city2%` of the **Kitchen Sink

[2017-07-19 14:57] maxcodes commented on #169
I agree with @awwa. Is there any reason to have all those separate methods?

Also, I have some comments regarding naming:

- Why call it `ClientFactory`, when you can call it `Client`? `Client.new` seems pretty straightforward to me.
- `SendGrid::SendGridMessage` seems redundant. I think it would be more consistent to use `SendGrid::Message`.
- `add_to(email)` seems kind of clunky. It could be int

[2017-07-19 19:23] thinkingserious commented on #169
Thanks @awwa & @maxcodes! Great feedback! I'll respond in detail shortly.

For now, I don't believe we have given @maxcodes any swag. Can you please fill out [this form](https://dx.sendgrid.com/swag) so we can show some gratitude for your feedback?

[2017-07-19 22:10] brian4d commented on #169
Would it be possible to use an **options hash** (Ruby 1.x) or **keyword arguments** (Ruby 2.x) instead of  positional arguments? For example:

`# Positional arguments
msg = SendGrid::Mail.create_single_email(from, to, subject, plain_text_content, html_content)

# Options hash and keyword arguments syntax is identical
msg = SendGrid::Mail.create_single_email(
    from: from,
    to: to,
    subject

[2017-07-19 23:15] thinkingserious commented on #169
Fantastic feedback @brian4d! I'll have a link to some swag for you shortly, thanks!

Also, I'll be spending some deeper time later to properly address all the great feedback here and make adjustments to the proposal.

[2017-07-20 03:53] thinkingserious commented on #169
@brian4d please take a moment to fill out [this form](https://dx.sendgrid.com/swag) so we can send you some swag. Thanks!

[2017-07-20 03:55] thinkingserious commented on #169
@gurgelrenan please take a moment to fill out [this form](https://dx.sendgrid.com/swag) so we can send you some swag. Thanks!

[2017-07-25 13:23] mull commented on #159
Why is the Sinatra dependency even there at all? It seems like that should be in a separate gem(?)

[2017-07-25 14:14] thinkingserious commented on #159
@mull,

You are correct, in the new version of this library, we will likely break out the inbound parser into its own gem like we just did with [Node.js](https://www.npmjs.com/org/sendgrid). If you have further feedback about the this SDKs refactor, please let us know [here](https://github.com/sendgrid/sendgrid-ruby/issues/169).

Thanks for taking the time to give us some feedback!

With Best Rega

[2017-08-01 08:41] xiaoboa commented on #145
@thinkingserious the multiple categories way you provided doesn't seems working, the generated query params is `start_date=2016-12-31&categories=category1&category2&category3` and this only returns the first category stats.

But instead, `start_date=2016-12-31&categories=category1&categories=category2&categories=category3` returns all categories stats, and is working as expected.

The gem version

[2017-08-30 01:36] thesmart opened #172 "Timeout configuration"
#### Issue Summary

Please add configuration options for connection open and read timeouts.  The `Net::HTTP` default of 60 seconds is far too long for a server configuration.

#### Technical details:

* sendgrid-ruby Version: master
* Ruby Version: 2.3.1

[2017-09-05 06:50] poorva29 opened #174 "Error: The attachment content must be base64 encoded"
I have -
`attachment = Attachment.new`
`attachment.content = Base64.encode64(File.open(fpath, 'rb').read)`
`attachment.type = 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'`
`attachment.filename = fname`
`attachment.disposition = 'attachment'`
`attachment.content_id = 'Reports Sheet'`
`mail.add_attachment(attachment)`

Where 'content' is base64 encoded (verified that it is val

[2017-09-05 20:30] thinkingserious commented on #174
Hi @poorva29,

Do you mind sending the original attachment + the base64 encoded version (in a .txt file) to dx@sendgrid.com?

Thanks!

With Best Regards,

Elmer

[2017-09-07 04:44] poorva29 commented on #174
@thinkingserious

My problem was solved by using `Base64.strict_encode64` which removes `\n` which is introduced by `encoded_64` just to maintain backward compatibility with applications which still cannot accept a long line of more than 60 characters.

[2017-09-07 16:06] thinkingserious commented on #174
That's awesome @poorva29,

Thanks for sharing your result with us. Would you mind creating a PR to add that use case here? https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md

You can refer [here](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#attachments) and [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L62) for

[2017-09-08 07:03] poorva29 commented on #174
Thanks for getting back @thinkingserious , I will create a PR and add this in the use cases.

[2017-09-19 21:24] jjb opened #175 "dependencies"
Hi,

First of all, thanks for providing and maintaining what looks to be a full-featured client library! I'm just getting started and there are a couple things that stick out to me in the dependencies.

1. the dependency on Sinatra and rack-protection. I'm guessing both of these are only needed for inbound processing. They each add dependencies of their own, so including the sendgrid-ruby gem in m

[2017-09-20 05:52] thinkingserious commented on #175
Hi @jjb,

Thanks for the feedback! Do you mind posting it [here](https://github.com/sendgrid/sendgrid-ruby/issues/169) also as we are in the process of updating this SDK?

Regarding item 1, yes, we will be splitting this dependency out.

And for item 2, it's a thin wrapper over 'net/http' and 'net/https'. We split it out for two reasons: 1) to avoid any dependencies at all (which is another reason

[2017-09-20 05:52] #175 closed

[2017-09-20 06:04] kpalania commented on #68
I am using the latest version of the gem (5.1.0) and am running into similar substitution issues :(

The mail is sent successfully, and it finds the template I am using but simply does not replace the placeholders. Any thoughts?

[2017-09-20 06:12] thinkingserious commented on #68
Hi @kpalania,

Do you mind sharing the relevant code?

Thanks!

Elmer

[2017-09-20 06:15] kpalania commented on #68
Absolutely, here it is @thinkingserious :

[code]

[2017-09-20 06:23] thinkingserious commented on #68
Maybe the issue is the substitution characters, could you please try using dashes like so: https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#transactional_templates

[2017-09-20 06:33] kpalania commented on #68
Actually I had tried that as well (though my example didn't include it) along with a bunch of other special characters at random but none of them worked for me.

[2017-09-20 06:37] kpalania commented on #68
I tried some of the older versions of the gem as well and they don't work for me either (went all the way back to 4.0.8).

Is it possible something changed with how SendGrid is handling this? I see some changes in their UI (design/code view) but tried creating newer templates just to eliminate any issues with my existing templates - still the same problem.

[2017-09-20 07:40] jjb commented on #175
@thinkingserious sure. but looks like the issue you linked me to is discussing the email sending api. i'm not sure my comments would be relevant there.

[2017-09-20 19:02] thinkingserious commented on #175
@jjb,

Your comments are relevant in terms of the implementation, especially if its a breaking change. I'd like to minimize the amount of breaking changes.

Thanks!

With Best Regards,

Elmer

[2017-09-20 19:03] thinkingserious commented on #68
Could you please try again now? It seems there was an issue with our servers that should now be resolved.

[2017-09-20 19:18] kpalania commented on #68
Works like magic now, @thinkingserious! Thanks much!

[2017-09-20 20:02] jjb commented on #169
Hi,

@thinkingserious asked me to post my comments from #175 here, so here they are, in a new and improved version.

1. The dependency on Sinatra and rack-protection is a problem for people who don't need it. I'm guessing both of these are only needed for inbound processing. They each add dependencies of their own, so including the sendgrid-ruby gem in my projects adds a lot of unneeded gems. I sa

[2017-09-21 10:36] yvescreemers opened #176 "RoR webapp doesn't send emails anymore when a message is sent through the app"
#### Issue Summary

Normally, when a user sent a message an email was sent to the person that they received a new message.

Suddenly the emailsystem stopped working. No emails to see in the 'activity' tab. I already tried connecting to the port (587) and it works find. The email I send via this port even showed up in the 'activity' feed.

Now my questions is: how can I see where it goes wrong?

Th

[2017-09-23 01:06] thinkingserious commented on #176
Hello @yvescreemers,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2017-09-23 01:06] #176 closed

[2017-09-23 01:10] thinkingserious commented on #169
Thanks @jjb!

[2017-09-29 19:58] BreadPaPa commented on #119
@thinkingserious Is this feature implemented or we need to handle 429 manually? Thanks.

[2017-09-30 19:28] #94 closed

[2017-09-30 19:30] thinkingserious opened #177 "Ruby Mail Helper Refactor"
#### Issue Summary

An interface to easily interact with the `mail/send` endpoint of the [SendGrid v3 Web API](https://sendgrid.com/docs/API_Reference/api_v3.html).

The specification for this project is [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/mail_helper_v3.md) and the discussion around this specification can be found [here](https://github.com/sendgrid/sendgrid-ruby/issues/16

[2017-09-30 19:31] thinkingserious commented on #103
This has been moved [here](https://github.com/sendgrid/sendgrid-ruby/issues/177).

[2017-09-30 19:31] #103 closed

[2017-09-30 19:31] thinkingserious commented on #102
This has been moved [here](https://github.com/sendgrid/sendgrid-ruby/issues/177).

[2017-09-30 19:31] #102 closed

[2017-09-30 19:31] thinkingserious commented on #101
This has been moved [here](https://github.com/sendgrid/sendgrid-ruby/issues/177).

[2017-09-30 19:31] #101 closed

[2017-09-30 19:31] thinkingserious commented on #100
This has been moved [here](https://github.com/sendgrid/sendgrid-ruby/issues/177).

[2017-09-30 19:31] #100 closed

[2017-09-30 22:14] thinkingserious commented on #119
Hi @BreadPaPa,

Manually, currently. Please continue to follow this thread for updates.

With Best Regards,

Elme

[2017-10-01 10:56] GustavoCaso commented on #177
Hi @thinkingserious I landed here after signing for hacktoberfest. How can I help? is there someone already working on this issue?

[2017-10-01 21:30] thinkingserious commented on #177
Hello @GustavoCaso,

No one is working on this issue beyond feedback just yet.

Before getting started, we need to incorporate the [latest feedback from here](https://github.com/sendgrid/sendgrid-ruby/issues/169) to the [specification](https://github.com/sendgrid/sendgrid-ruby/blob/master/mail_helper_v3.md).

With Best Regards,

Elmer

[2017-10-01 22:05] GustavoCaso commented on #177
Awesome @thinkingserious can I help with the feedback?

[2017-10-01 22:06] thinkingserious commented on #177
Sure, just submit a PR against [this file](https://github.com/sendgrid/sendgrid-ruby/blob/master/mail_helper_v3.md) with the updates. Thanks!

[2017-10-02 16:21] sitaramshelke commented on #142
Hey @thinkingserious can I help with this?
It looks like a simple fix in `initialize` in `custom_arg.rb`
I guess sometimes `id` fields are ruby objects and not string which caused the issue.

[2017-10-02 16:23] thinkingserious commented on #142
Thanks @sitaramshelke! It's all yours :)

[2017-10-02 18:07] OrthoDex commented on #139
Hey @thinkingserious , I happened to run into the same issue a while ago. Do you mind if I update the Troubleshooting section and submit a PR?

[2017-10-02 18:58] thinkingserious commented on #139
That would be great @OrthoDex, thanks!

[2017-10-04 15:41] thinkingserious opened #179 "Dockerize"
We want to make it easier to test and/or contribute to this repo utilizing Docker. This has been completed in [Python](https://github.com/sendgrid/sendgrid-python/tree/master/docker), please use that example as a reference.

Key features:
* Setup the environment as specified in the CONTRIBUTING.md file
* Prism should be running on launch
* The README and USAGE file should help the user get up and

[2017-10-04 15:50] shrivara commented on #179
I'll take a stab at this.

[2017-10-04 15:51] thinkingserious commented on #179
Awesome, thanks @shrivara!

[2017-10-04 15:59] thinkingserious opened #180 "Auto Generate Plain Text Content from HTML"
We require both HTML and Plain Text content for improved deliverability. In some cases, only HTML may be available. We need a function that automatically converts a given HTML string to the Plain Text equivalent.

[2017-10-04 22:19] Youssefares commented on #180
@thinkingserious I'd like to work on this. Is this still up for grabs?

[2017-10-05 14:36] thinkingserious opened #182 "Create a tutorial to deploy a simple Hello Email app on AWS with Ruby using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to AWS](https://aws.amazon.com/blogs/devops/automatically-deploy-from-github-using-aws-codedeploy/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:41] thinkingserious opened #183 "Create a tutorial to deploy a simple Hello Email app on Heroku with Ruby using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:46] thinkingserious opened #184 "Create a tutorial to deploy a simple Hello Email app on Digital Ocean with Ruby using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Digital Ocean](https://www.digitalocean.com/community/tutorials/how-to-set-up-automatic-deployment-with-git-with-a-vps).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to US

[2017-10-05 14:52] thinkingserious opened #185 "Create a tutorial to deploy a simple Hello Email app on IBM Blue Mix with Ruby using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to IBM Blue Mix](https://www.ibm.com/blogs/bluemix/2016/01/deploy-to-bluemix-button-example/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:54] thinkingserious opened #186 "Create a tutorial to deploy a simple Hello Email app on Google App Engine with Ruby using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Google App Engine](https://cloud.google.com/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:55] thinkingserious opened #187 "Create a tutorial to deploy a simple Hello Email app on Microsoft Azure with Ruby using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Microsoft Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-local-git).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-06 11:30] NiekPas commented on #163
In case anyone is still running into this issue (like I was), changing `Mail.new(your, params, go, here)` to `SendGrid::Mail.new(your, params, go, here)` fixed it for me.

[2017-10-06 13:54] thinkingserious opened #191 "Create a tutorial to create a Slack event integration with Ruby using this SDK"
Create a tutorial that explains how to create a simple [integration with Slack](https://api.slack.com/events-api) that allows an email to be triggered based on some [defined event](https://api.slack.com/events).

The example should utilize best practices for storing credentials.

Please add the tutorial to USE_CASES.md.

[2017-10-08 08:09] sitaramshelke commented on #191
Hey @thinkingserious, I can try this out. Can you mention what should an example do?

[2017-10-10 18:58] thinkingserious opened #194 "Subscription Widget Helper"
Create a helper that will show how to add a working subscription widget to their site from code in the library.

Features:
- An function that returns an embeddable HTML form that takes email address and name
- The form should submit to a customizable URL path
- The code at the URL path should accept the data and post it to the contactdb using the (POST Add Recipients endpoint)[https://sendgrid.com

[2017-10-10 20:21] thinkingserious opened #195 "Add a Code Of Conduct"
Add a file to the root of this repo called CODE_OF_CONDUCT.md, with the content from the [same file in our docs repo](https://github.com/sendgrid/docs/pull/3048).

[2017-10-10 22:19] thinkingserious opened #197 "Make SendGrid permissions management easy"
Create a class for managing permission scopes that has the following features:

- Allow you to add create, delete, read, update permissions for each of the groups defined [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html)  -- these can be hard coded in
- Allow for creating an array of all the scopes possible, as a "create admin permissions" method
- A

[2017-10-11 03:22] mbernier commented on #172
@thesmart it looks like https://github.com/sendgrid/ruby-http-client/pull/20 will solve this issue!

@jrectenwald - Would you be up for adding documentation to this repo to explain how to change the http_options in an API call?

[2017-10-11 03:35] mbernier opened #198 "Create an Inbound Parse Consumer"
We have this functionality in the python library, linked below. It would be cool to see this in this library as well!

Acceptance Criteria:

- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/parse.py).

Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/parse.py
- https://sendgrid.com/doc

[2017-10-11 03:36] mbernier opened #199 "Create an Inbound Parse Data sender"
This is related to #198 in that it would allow for testing of the code produced by that issue.

Acceptance Criteria:
- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py).
- Write unit tests

Reference:
- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py
- https://sendgrid.com/docs/Class

[2017-10-11 03:46] mbernier commented on #198
Nevermind, I am BLIND and I found it here: https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound

[2017-10-11 03:46] #198 closed

[2017-10-11 03:47] mbernier commented on #199
And... yep - I am blind.

https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound#quick-start-for-local-testing-with-sample-data

[2017-10-11 03:47] #199 closed

[2017-10-11 04:02] mbernier opened #200 "SendGrid-Ruby Monorepo"
#### Idea

We are hoping to break apart some of the dependency issues that come from having the API functionality and the inbound parse webhook functionality in the same repo. Namely, that the inbound parse functionality currently requires Sinatra and many users don't want to install that dependency (We totally understand!)

What we would love to do is deploy the inbound parse functionality as a s

[2017-10-11 05:25] architapatelis commented on #186
@thinkingserious I would like to work on this issue if it's alright with you.

[2017-10-11 06:35] thinkingserious commented on #186
Thanks @architapatelis!

[2017-10-11 13:10] rahulbajaj0509 commented on #195
i can handle this :)

[2017-10-11 16:50] mbernier commented on #195
Hey @rahulbajaj0509 it looks like this one is complete! I should have closed the issue, my apologies

[2017-10-11 16:50] #195 closed

[2017-10-11 17:30] rahulbajaj0509 commented on #197
i want to contribute but i am new, can you help me resolve this bug?
What are permission scopes? (If possible please provide me some links that i can refer for solving this bug)

[2017-10-11 18:04] thinkingserious commented on #197
Hi @rahulbajaj0509,

Thanks for offering to help!

The links are included in the bullets above, for example:
https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html
https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html#-Example-Permissions-for-Common-API-Key-Use-Cases

You will want to read through those before beginning.

Thanks!

With Best Rega

[2017-10-11 20:15] #67 closed

[2017-10-11 21:04] architapatelis commented on #183
@thinkingserious I will work on this example before I work on the Google App Engine example

[2017-10-11 21:05] thinkingserious commented on #183
Thank you @architapatelis!

[2017-10-12 20:43] thinkingserious opened #201 "Save inbound email attachments to S3"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to an S3 bucket when they are received

[2017-10-12 21:28] thinkingserious opened #202 "Save inbound email attachments to Box"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-12 21:37] wesdotcool commented on #59
After a couple hours of research and testing, I come to this understanding and solution.

The Marketing Campaign UI conveniently gives you access to your contacts' custom fields and a few other variables as substitution tags while building emails. You can view them in the left pane. Transactional templates do not offer these tags, including `[Unsubscribe]`. However, You do have access to `<%asm_gr

[2017-10-12 21:52] wesdotcool commented on #59
I just got a response from SG support on an issue about this. They offered the same solution but gave much more detail. I'll post it here so people can find it in the future.

The `[Unsubscribe]` tag as outlined [here](https://sendgrid.com/docs/Classroom/Basics/Marketing_Campaigns/default_mc_tags.html) is specifically used for sending through our Marketing Campaigns platform.

For implementing uns

[2017-10-12 22:06] thinkingserious commented on #59
That's awesome @wesdotcool!

Would you mind posting a condensed version of this knowledge [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md) for [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/)?

[2017-10-13 02:00] thinkingserious opened #203 "Save inbound email attachments to Dropbox"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-13 03:57] architapatelis commented on #183
@thinkingserious sorry, it took me sometime to work on this. I have finished writing out the tutorial - https://github.com/architapatelis/sendgrid_heroku

Can you have a look at the link above, if everything looks good to you, I will fork this repo, add the instructions to `USE_CASES.md` and then create a pull request.

If you need me to make any changes let me know. The instructions are in-depth,

[2017-10-13 04:02] sbefort commented on #59
Great documentation from @wesdotcool.   Too bad I spent hours hunting for it on sendgrid.com before finding it inside a Github issue.

[2017-10-13 04:07] architapatelis commented on #183
@thinkingserious sorry it took me a while to finish writing the tutorial. But I am done, you can have a look at the README.md file here - https://github.com/architapatelis/sendgrid_heroku

I am a student, and I just started learning how to code a few months ago. So, I wrote the tutorial for people with very little experience. I realize that it might be too detailed for developers like yourself. Le

[2017-10-13 19:43] thinkingserious opened #204 "Add How to Setup a Domain Whitelabel and How to View Email Statistics to USE_CASES.md"
Please see [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#how-to-setup-a-domain-whitelabel) for an example.

[2017-10-13 20:15] alanunruh commented on #204
Hey @thinkingserious - I'd like to pitch in here. For clarification, this PR looks to be documentation that could be replicated from the existing doc with relevant links. Just want to make sure I'm not missing anything. Thanks!

[2017-10-13 20:19] thinkingserious commented on #204
You got it @alanunruh, thanks!

[2017-10-13 21:22] alanunruh commented on #204
Submitted in PR #205.

[2017-10-13 23:41] thinkingserious commented on #204
Thank you!

[2017-10-14 16:05] wiskirz commented on #200
I can take this.

[2017-10-14 16:37] thinkingserious commented on #200
Thanks @wiskirz!

[2017-10-15 09:05] GustavoCaso commented on #194
@thinkingserious I would love to help on this one. Can you point me to the right direction where to start modifying the code?

[2017-10-16 07:59] awinabi commented on #201
Got here from hacktoberfest. I would like to take an attempt at this, if its not worked on by anyone else. Thanks!

[2017-10-16 10:24] awinabi commented on #201
After looking at the current lib, this is what I understand, can be done for this.

Create an InboundEmail helper file in helpers/inbound which will have a public api as following

[code]

This will be used by the parse endpoint, where the params are the post params that it receives from SG. Is this what you have in mind?

[2017-10-16 13:53] thinkingserious opened #207 "Attach files to email from S3"
This should be added to the Mail helper method, where the file that is attached can be sitting on an S3 bucket.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 13:54] thinkingserious opened #208 "Attach files to email from Box.com"
This should be added to the Mail helper method, where the file that is attached can be sitting in Box.com storage.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 13:55] thinkingserious opened #209 "Attach files to email from Dropbox"
This should be added to the Mail helper method, where the file that is attached can be sitting in Dropbox.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 14:03] thinkingserious opened #210 "Prevent secrets from sending in email"
Add a method that will check the content of the email before sending, to make sure that specific strings or patterns are not included.
For example, SG API keys look like this: SG.[a-zA-Z0-9_].[a-zA-Z0-9\-]
So the function could take a list of regex or specific strings to compare against. If a string is found, the mail/send should throw an exception

[2017-10-16 14:08] thinkingserious opened #211 "Create and schedule a marketing campaign"
With the [SendGrid Marketing Campaigns feature](https://sendgrid.com/docs/API_Reference/api_v3.html#campaigns) you can create a campaign, edit it, then schedule it for the future or for 'now'.

Create a helper that uses the API to build the campaign.

Then add the ability to build + schedule, build + send now, or only build the campaign.

Please also add the ability to notify a specific email addr

[2017-10-16 14:42] thinkingserious opened #212 "Scheduling 1000-1,000,000 emails in batches"
When someone wants to send thousands or millions of the same email, they will create a call to our mail/send endpoint and break the list of emails and thr substitutions into batches of 1000 emails per request to the SendGrid API. This is great, except that there are a couple caveats:
1. [Mail Send Limitations](https://sendgrid.com/docs/API_Reference/api_v3.html) - see the field level limits here
2

[2017-10-16 14:47] thinkingserious opened #213 "Get all the stats for a date range"
We have various types of stats global stats, category stats, and subuser stats.
For some users, being able to pull these stats and send them somewhere is ideal.
Please create a nice helper for pulling stats from each of these locations so that the data can be sent to a database.

[2017-10-16 14:51] thinkingserious opened #214 "Get unassigned IPs"
SendGrid returns a list of all IP addresses on your account. It also returns a list of assigned IP addresses.

What it doesn't do is return a list of unassigned IPs.

Please create a method that will get the IPs available and return any that do not have a subuser assigned to them.

See [GET /ips](https://sendgrid.com/docs/API_Reference/api_v3.html#ip-addresses) for more information.

[2017-10-16 15:00] thinkingserious opened #215 "Create whitelabel DNS entries via the API"
The SendGrid API allows you to do almost everything that the UI can do, including building your whitelabels (authenticated domains) into your account. This requires a domain you can create subdomains on and some creativity to decide what to call the subdomains.

We have 3 kinds of whitelabeling: domain, link, and ip.

Link whitelabeling allows all  the links in your emails to be rewritten to look

[2017-10-16 19:46] thinkingserious commented on #201
Hello @awinabi,

This would be an addition to our current [inbound helper](https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers/inbound).

You would determine if an attachment(s) exsits, and then, based on some configuration, save that attachment to the appropriate place. In this case, it would be S3.

I hope that helps!

With Best Regards,

Elmer

[2017-10-16 21:14] cristianossd commented on #214
It sounds very interesting. Can I work on this?

[2017-10-17 03:33] awinabi commented on #201
AFAIK, the following is the logical flow:

Mail sent to the email-address configured in SG, will be parsed and POSTed to the configured endpoint, which will have a received a JSON payload. The attachment saving part can happen when
(1) the emails are received in SG, SG sends the attachments to the appropriate place based on a setting in SG ui. I think this feature is not currently available in SG,

[2017-10-17 15:59] thinkingserious opened #217 "Attachment helper for base64 encoding"
We have an example in USE_CASES.md on how to handle attachments.

We need to update the `Attachment` object such that it can also take in a raw file, rather than a base64 encoded file, and perform the base64 encoding behind the scenes.

Note that the total size of your email, including attachments, must be less than 30MB. The total size is calculated from the entire JSON payload. Note that you wil

[2017-10-17 16:16] thinkingserious opened #218 "Demonstrate how to review the request body for troubleshooting"
When debugging, it can be useful to examine the request body before sending to the SendGrid API.

Prove an example of how to examine the request body in TROUBLESHOOTING.md. For an example, see [here](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#request-body).

[2017-10-18 19:00] thinkingserious opened #222 "SendGrid Event Webhook consumer"
The SendGrid event webhook will send email events to a URL of your choosing. Add functionality that will consume event webhook events posted
to your server by SendGrid. Documentation: https://sendgrid.com/docs/API_Reference/Webhooks/event.html

[2017-10-19 16:07] GustavoCaso commented on #177
@thinkingserious are we ok to start working in this one ?

[2017-10-19 17:16] awj commented on #222
Is the goal here to:
* provide Ruby wrappers around the event data
* provide an actual http endpoint with pluggable business logic
* both?

[2017-10-19 21:02] mbernier opened #223 "Allows users to submit rfc822 formatted email addresses"
#### Issue Summary

Similar to: https://github.com/sendgrid/sendgrid-python/pull/348

Where the user can submit email addresses as:
`example@example.com`
or
`example example <example@example.com>`

[2017-10-20 17:58] OrthoDex commented on #139
Hey @thinkingserious I opened a PR at #221 🙂

[2017-10-20 18:03] OrthoDex commented on #99
Hey @thinkingserious , is this Issue still live? I noticed that the Project has been closed.
So sorry for the delay. 😞

[2017-10-20 20:04] thinkingserious commented on #163
Hi @NiekPas,

Do you mind adding your solution [here](https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md) as part of [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/)?

With Best Regards,

Elmer

[2017-10-20 22:03] thinkingserious opened #224 "Update README for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:04] #224 closed

[2017-10-20 22:04] mbernier commented on #224
This was a duplicate of #220

[2017-10-20 22:20] thinkingserious opened #225 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- Add [License like so](https://github.com/sendgrid/sendgrid-php/pull/476)
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the l

[2017-10-20 23:19] Josica commented on #225
Would like to take this! @thinkingserious

[2017-10-21 21:24] #225 closed

[2017-10-21 21:27] #139 closed

[2017-10-22 00:00] awj commented on #217
I'll work on that.

Is there somewhere appropriate to enforce the size restriction? A quick peek at the `Attachment` class suggests it isn't a great place to be throwing errors.

[2017-10-22 02:09] awj commented on #119
Agree with @awwa, this pretty much has to be patched into ruby-http-client.

API docs aren't clear on this, but it looks like X-RateLimit-Remaining is talking about how many *requests* are still possible, not how long to wait.

I wouldn't mind working on this. Initial idea would be to augment Sendgrid::Response with methods that wrap the X-RateLimit-* headers, or at least one that handles sleeping

[2017-10-22 14:26] thinkingserious commented on #191
[Here](https://github.com/sendgrid/sendgrid-go/pull/182) you go. Thanks!

[2017-10-22 22:56] lessthanjacob commented on #211
Going to take a crack at this!

[2017-10-23 06:42] czlowieq commented on #223
@mbernier I would like to work on this issue if it's not yet picked up.

[2017-10-23 13:02] awinabi commented on #213
Working on this issue. The following is the public api for this helper.

[code]

[2017-10-23 20:04] thinkingserious commented on #194
Hello @GustavoCaso,

The helper code would go [here](https://github.com/sendgrid/sendgrid-ruby/tree/master/lib/sendgrid/helpers), perhaps in a subfolder titled subscription_widget.

I hope that helps!

With Best Regards,

Elmer

[2017-10-24 00:16] thinkingserious commented on #201
Hi @awinabi,

(2) is the right direction; however, we do not want to introduce any new dependencies. If new dependencies are required, we would prefer the code be stored in an examples directory with documentation in USE_CASES.md.

I hope that helps!

With Best Regards,

Elmer

[2017-10-24 00:31] mbernier opened #235 "IP Warmup functionality integrated into mail helper"
This issue has the potential to save other developers quite a bit of time and frustration when buying IP addresses because it will help them warm up the IPs appropriately. Warming up is a process of slowly ramping up sending on an IP address to allow Email Recipient servers (e.g. gmail, hotmail, etc) to see that this IP is legit.

## Goal
- Add the ability to automate warm up IPs that allows a cus

[2017-10-24 19:42] thinkingserious opened #238 "Create email module class to enable easier drag-drop template creation over API"
The drag-drop editor allows API upload of HTML, but it must conform to a specific standard in order for the editor to render the emails properly.

Create an email module class that allows a user to call a static function that will output the HTML for the module.

The specific module HTML is here: https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html#-Drag--Drop-Code-Examples

[2017-10-25 09:55] henrebotha commented on #218
@thinkingserious This should be closed, no?

[2017-10-26 14:23] ryzokuken commented on #204
@thinkingserious should this be closed?

[2017-10-26 14:29] ryzokuken commented on #174
@thinkingserious where should I add the code inside the `USE_CASES.md` file?

[2017-10-26 20:13] thinkingserious opened #240 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-27 00:01] thinkingserious opened #243 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:38] thinkingserious opened #244 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 00:39] mbernier commented on #244
do doooo duplicate

[2017-10-27 00:39] #244 closed

[2017-10-27 10:55] bgmat opened #246 "App crashes on Heroku"
Hi

I implemented a simple app to test sendgrid, following the instructions.
The app works on my local server, no issues whatsoever.
Once I deploy to heroku, any request crashes the app with the logs below.

2017-10-27T10:39:29.110941+00:00 heroku[web.1]: Starting process with command `bin/rails server -p 47424 -e production`
2017-10-27T10:39:32.304057+00:00 app[web.1]: /app/vendor/bundle/ruby/2.4

[2017-10-28 02:47] mbernier commented on #246
Is this related to this? https://github.com/sendgrid/sendgrid-ruby/blob/master/TROUBLESHOOTING.md#rails-specifics

[2017-10-28 03:01] #174 closed

[2017-10-28 03:02] mbernier commented on #174
@poorva29 check #241 and make sure this matches with your PR!

[2017-10-28 04:34] thinkingserious opened #247 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 07:01] bgmat commented on #246
@mbernier
Thank you for pointing to this page!
The following paragraph solved the issue:
"Possibility of a namespace collision between the sendgrid class Email and your own defined Email class. To avoid these issues, you can skip the include SendGrid line and use the SendGrid:: prefix for Email. Please see this SO answer for specifics."

[2017-10-28 12:14] proton commented on #247
I'll take it.

[2017-10-28 15:24] thinkingserious opened #249 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:30] thinkingserious opened #250 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:38] thinkingserious opened #251 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 17:38] #240 closed

[2017-10-28 21:01] mptap commented on #251
@thinkingserious: I'm working on this.

[2017-10-29 03:44] #223 closed

[2017-10-29 04:02] prashuchaudhary commented on #250
Added the Unit Test to check Year range

[2017-10-29 04:52] prashuchaudhary commented on #212
@thinkingserious I will like to take this up.

[2017-10-30 03:12] lessthanjacob commented on #211
Was wondering if you could add some additional details to this @thinkingserious.

Currently, I have two helper classes, `Campaign` and `CampaignSchedule`, with accompanying tests and examples (following a similar pattern to the other mail helpers).

However, I'm a little confused regarding the wording of `add the ability to build + schedule, build + send now, or only build the campaign`. Is this i

[2017-10-30 14:21] mbernier commented on #246
Ahhhh yeah! Nice!! @GustavoCaso [here](https://github.com/sendgrid/sendgrid-ruby/blame/a953199b0c3f1c90fadebdf57d9820521ab4b15c/TROUBLESHOOTING.md#L118) and @orthodex [here](https://github.com/sendgrid/sendgrid-ruby/blame/master/TROUBLESHOOTING.md#L120) FTW

@bgmat - Would it make sense to update the Heroku example to just use the suggested namespace?

[2017-10-30 14:32] bgmat commented on #246
@mbernier I think it would be useful at lease to add a note to this possible issue, because the way the app is behaving and the logs you get are not very suggestive

[2017-10-30 17:31] mbernier opened #258 "Add CodeCov support to .travis.yml"
Issue Summary

Add this to our travis.ci configuration so that code coverage tests will run!

https://github.com/codecov/example-ruby/blob/master/.travis.yml

[2017-10-30 18:06] thinkingserious opened #259 "Update ruby-http-client dependency to support v3.3.0"
https://github.com/sendgrid/ruby-http-client/releases/tag/v3.3.0
https://github.com/sendgrid/sendgrid-ruby/blob/master/sendgrid-ruby.gemspec#L22

We should probably update this such that minor version bumps are always updated.

[2017-10-30 18:35] mptap commented on #259
@thinkingserious: PR: #260

[2017-10-30 20:01] alanunruh commented on #258
Hey @mbernier - I'll take this one!

[2017-10-30 20:51] rahulpuroht commented on #258
#261

[2017-10-30 21:00] alanunruh commented on #258
Alright, well, I was just getting ready to submit my PR for this issue but it looks like @rahulpuroht just submitted one. So, I guess I'll remove myself from this issue. I'll take a look and see if there's something else I can contribute to in a timely manner.

[2017-10-31 02:16] #213 closed

[2017-10-31 02:24] thinkingserious opened #263 "Document the new email statistics helper in USE_CASES.md"
#### Issue Summary

Document [this helper](https://github.com/sendgrid/sendgrid-ruby/releases/tag/v5.2.0) in USE_CASES.md.

There is a section titled "How to View Email Statistics" in USE_CASES.md. Please document the feature in v5.2.0 here. Mostly, this involved surfacing [this example](https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/stats/example.rb).

[2017-10-31 16:07] mbernier opened #266 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 19:12] thinkingserious opened #267 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 19:47] #142 closed

[2017-10-31 19:50] mptap commented on #267
@thinkingserious: PR: https://github.com/sendgrid/sendgrid-ruby/pull/268

[2017-10-31 20:14] thinkingserious opened #269 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 20:15] percyhanna commented on #142
Thanks @sitaramshelke !

[2017-10-31 21:42] #251 closed

[2017-10-31 23:11] thinkingserious opened #270 "Add the ability to impersonate a subuser"
Please see the [Python implementation](https://github.com/sendgrid/sendgrid-python/pull/314) for an example.

[2017-11-01 01:35] alanunruh commented on #269
Hey @thinkingserious - I'll knock this one out for you!

[2017-11-01 03:37] mbernier opened #274 "Variable issues in testing"
#### Issue Summary

I found this in the Travis log -

[code]

[2017-11-01 03:40] #250 closed

[2017-11-02 06:12] rahul26goyal commented on #274
hey, @mbernier  I can look into this one.
But I will need some help to test this outl

[2017-11-02 23:43] scarabus commented on #59
I cannot get this to work. I am successfully passing in a substitution which is taking effect, but my emails are being sent with the string <%asm_group_unsubscribe_raw_url%> unexpanded

<a style=3D'color: #FFFFFF; text-decoration: none; border-=
bottom-color: #FFFFFF; border-bottom-width: 1px; border-bottom-style: solid=
;' href=3D<%asm_group_unsubscribe_raw_url%>>Unsubscribe</a>

I tried putting

[2017-11-03 18:57] #249 closed

[2017-11-03 20:22] thinkingserious commented on #59
Hello @scarabus,

Could you please reach out to our [support team](https://support.sendgrid.com) on this one? They are better equipped to serve you faster that our team.

Thank you!

With Best Regards,

Elmer

[2017-11-04 02:41] thedanotto commented on #67
@safetymonkey never woulda figured it out with you!!! Can't believe this hasn't been updated in their documentation

[2017-11-04 12:03] sony-mathew commented on #197
Hey if @rahulbajaj0509  is not taking this up, I can.

[2017-11-04 16:35] thinkingserious commented on #197
Thank you @sony-mathew!

[2017-11-04 17:02] thinkingserious commented on #67
Hi @thedanotto!

Thanks for following up with some feedback!

If you don't mind, to help us improve, could you share the places you looked before you arrived here?

With Best Regards,

Elmer

[2017-11-04 19:41] sony-mathew commented on #197
Hey @thinkingserious, I have a doubt. Is this is the API that should be used for updating scopes?

[https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/index.html#Update-the-name-amp-scopes-of-an-API-Key-PUT](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/index.html#Update-the-name-amp-scopes-of-an-API-Key-PUT)

[2017-11-04 20:49] awj commented on #119
Note: Above PR introduces a utility class to help users work with rate limit information. Can amend that PR or do another one for automatic rate limit handling.

[2017-11-04 21:51] thinkingserious commented on #197
Hi @sony-mathew,

Yes, that's correct. Thanks!

[2017-11-07 18:37] sony-mathew commented on #197
Hi @thinkingserious, really sorry to bother you again. But this scopes in this link [https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html) and the scopes in this one, [https://sendgrid.com/docs/Classroom/Basics/API/api_key_permissions.html](https://sendgrid.com/docs/Class

[2017-11-07 19:10] sony-mathew commented on #197
Hi @thinkingserious, sorry to bother you again and being silly. So with this class, do you intend to fire request to update an api_key with the new scopes or just return an array of scopes.
For eg: say when I call `create_admin_scopes` do i need to fire an api call to give full access for a particular api_key or just return the admin scopes as an array?

[2017-11-09 02:46] thinkingserious commented on #274
Thank you @rahul26goyal!

[2017-11-09 06:33] thinkingserious commented on #197
Hi @sony-mathew,

No problem :)

For this particular issue, all we are asking is for the implementation of the features described in the issue. Any other features should probably be in a new issue.

With Best Regards,

Elmer

[2017-11-11 16:42] #179 closed

[2017-11-13 23:53] obie commented on #59
Same experience as @sbefort ... very very frustrating

[2017-11-14 18:06] jleider commented on #77
I realize I am digging this up from the grave but we also ran into this issue as well. Its great that the documentation was updated with these caveats, but how does that really help? This should be an error condition sent back to the client so that anyone interfacing with the API knows that something is amiss. It is unexpected behavior that SendGrid would simply drop the email and respond to the A

[2017-11-15 22:40] arsewizz opened #279 "how to send an email with an image via the API?"
how to send an email with an image via the API? I can send text easily but the problem that I have is the images

[2017-11-17 16:22] thinkingserious opened #280 "Test ticket from Code Climate"

[2017-11-20 03:07] abury commented on #279
@arsewizz, assuming you're sending a HTML email, you would just include an `img` tag in the HTML body.

The image itself would have to be hosted somewhere else, and the img would just reference it.

[2017-11-20 08:50] arsewizz commented on #279
I'm using angular2 for frontend ans rails for backend. My API is rest

[2017-11-21 03:54] abury commented on #279
The architecture doesn't really make much of a difference. If you send a HTML email, you just need to include the img reference inside the body of the email. What's the confusion exactly?

[2017-11-28 02:19] thinkingserious commented on #59
Hi @obie,

Have you tried reaching out to our [support team](https://support.sendgrid.com/)? If so, could you please pass along your ticket number?

Thank you!

With Best Regards,

Elmer

[2017-11-28 02:29] thinkingserious commented on #77
Hi @jleider,

I am passing your feedback along to the product team. Thanks for taking the time to specify the issue in detail!

With Best Regards,

Elmer

[2017-11-28 03:39] thinkingserious commented on #279
Hello @arsewizz,

Do you want the image to be attached or inline?

With Best Regards,

Elmer

[2017-11-29 00:38] arsewizz commented on #279
hey @thinkingserious , i want to send pictures via curl. possible ?

e.g : http.post("urlApi","picture")

[2017-11-29 00:42] arsewizz commented on #279
I created an API with rails, but my frontend is ionic and my problem is to send a photo with a post by the method http

[2017-11-29 21:10] thinkingserious commented on #279
Hello @arsewizz,

How are you currently sending email through SendGrid in your app?

[2017-11-29 22:14] arsewizz commented on #279
yes, only text but i want to be able to send images...

[2017-11-30 22:50] thinkingserious commented on #279
Hi @arsewizz,

My apologies for not being clear. What I mean is, what version of this library are you using and how are you implementing the code? If you can provide a code sample, that would be wonderful.

Thank you!

With Best Regards,

Elmer

[2017-12-03 08:48] arsewizz commented on #279
from = params[:from]
				to = params[:to]
				body = params[:body]
				content = params[:content]
				photo = parse_image_data(params[:photo]) if params[:photo]
				#params[:image] = parse_image_data(params[:image]) if params[:image]
				message = Message.new(params.permit(:from,:to,:body,:content,:photo))
				if message.save
					from = Email.new(email: params[:from])
					to = Email.new(email: p

[2017-12-03 08:48] arsewizz commented on #279
sorry for the late

[2017-12-03 10:16] arsewizz commented on #279
here is the reference but my concern is to do it with an image
https://sendgrid.com/docs/Classroom/Build/Add_Content/attachments.html

[2017-12-14 00:52] thinkingserious commented on #279
Hi @arsewizz,

I believe this documentation is what you need:
https://github.com/sendgrid/sendgrid-ruby/blob/master/examples/helpers/mail/example.rb#L70
https://github.com/sendgrid/sendgrid-ruby/blob/master/USE_CASES.md#adding-attachments

Please take a look and let me know if you need further assistance.

Thank you!

Elmer

[2017-12-14 23:13] stoodder commented on #59
Ditto, I'm receiving the same issue as @obie  and @sbefort after attempting and following all of the solutions above. Will contact support with this thread.

[2017-12-15 21:18] thinkingserious commented on #59
Thanks @stoodder!

[2017-12-21 21:16] #259 closed

[2018-01-22 11:02] eliotsykes commented on #207
Until this is implemented, do you recommend any ways to do this currently? Where only an s3 URL is supplied to sendgrid (via SMTP or v2/v3 API or using this sendgrid-ruby gem), and SendGrid attaches the file (unfortunately inserting the URL into the email body isn't an option).

[2018-01-22 15:02] ThePraveen commented on #207
Has this been solved?
I need this  in sendgrid-ruby gem

[2018-01-22 17:01] eliotsykes commented on #207
@ThePraveen I don't think it has yet as this issue is open. In case it helps, it looks like v2 of the API supports attaching s3 URLs: https://github.com/sendgrid/sendgrid-nodejs/issues/280

[2018-01-23 00:27] thinkingserious commented on #207
@ThePraveen,

Thanks for the comment! Your comment adds a vote to the priority of this issue to help it rise up our backlog.

With Best Regards,

Elmer

[2018-01-23 16:53] thinkingserious commented on #59
Hi @waqas-pixako,

Using the example you provided, the CID is "Banner", so to include that image in your HTML content, you would do the following:

[code]

Perhaps you are not including the `cid:` portion of the string in your template?

With Best Regards,

Elmer

[2018-01-26 21:47] gabriellet commented on #59
I'm also currently having this issue while using API v.3 and my own external HTML. None of these work:
[code]
I am able to set the groupId successfully using @scarabus's method, but I can't replace the Unsubscribe/Preferences links that are autogenerated by SendGrid and appended at the end of the email. 😕

[2018-01-26 22:38] thinkingserious commented on #59
Hello @gabriellet,

Could you please provide me with your support ticket number? Thanks!

[2018-01-26 22:48] gabriellet commented on #59
Sure thing! It's 1361005. And thank you for your quick reply.

[2018-01-27 01:49] gabriellet commented on #59
@thinkingserious In the spirit of full disclosure, we're actually using Java. Apologies for pinging you when it's probably someone else's purview.

[2018-01-31 00:19] thinkingserious commented on #59
Hi @gabriellet,

It looks like our support team is currently reviewing your request. Feel free to reach back out if no resolution is reached.

With Best Regards,

Elmer

[2018-02-07 20:38] jjb commented on #175
I'm disappointed that my simple suggestions haven't gotten any discussion, and that this issue was closed out because I made one comment in that other gigantic thread, which also hasn't gotten any activity since that comment in September.

[2018-02-07 20:41] jjb commented on #175
some of these issues were also raised in #159, which is also closed

you don't need to make changes in a gigantic new version. "I'd like to minimize the amount of breaking changes." -- the purpose of semantic versioning is so users of a library can update to newer versions with confidence that they are getting bugfixes with no breaking changes. if there is a new major version, then they just need

[2018-02-08 02:46] thinkingserious commented on #177
Please see #175

[2018-02-08 02:50] thinkingserious commented on #175
Thanks for checking back in @jjb! I really appreciate it.

This library is scheduled for enhancements on our backlog, please see [this issue](https://github.com/sendgrid/sendgrid-ruby/issues/177) to track progress. I have added a link to this thread to make sure your feedback makes it way into the refactor.

I apologize for the massive delay. The reality for us is that of our 7 supported SDKs, thi

[2018-02-09 05:04] jjb commented on #175
Hi Elmer,

Thank you for your response. I'm not complaining about the speed by itself, I'm suggesting that you use a more agile approach to making changes.

But, maybe I should put my money where my mouth is and just submit PRs 😀

John

[2018-02-13 01:35] thinkingserious commented on #175
Thanks for the PR @jjb!

I'm hoping to get your PR merged soon.

[2018-02-13 01:48] jjb commented on #175
🆒

[2018-02-14 16:04] TakesTheBiscuit commented on #59
Ouch, i think i've just hit this problem too!

[2018-02-20 14:47] arnoldmarunda opened #285 "Error 400 Invalid Type Expected: object, given: string."
My Code:
[code]
Error:
`{"errors":[{"message":"Invalid type. Expected: object, given: string.","field":"(root)","help":"http://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html#-Request-Body-Parameters"}]}`

JSON i.e mail.to_json
`{"body":{"boundary":null,"preamble":null,"epilogue":null,"charset":"US-ASCII","part_sort_order":["text/plain","text/enriched","text/html","multipart/alternativ

[2018-02-22 19:27] thinkingserious commented on #285
Hi @arnoldmarunda,

Could you please try the following:

[code]

Thanks!

With Best Regards,

Elmer

[2018-02-23 01:42] #285 closed

[2018-02-25 19:53] Elyahou commented on #80
I have the same issue. Using substititutions and it only works sometimes. I always check my generated json and all seems ok, the substition tags are here. But they are getting replaced in the template only sometimes... What can I do for this ?

[2018-02-25 20:06] Elyahou opened #286 "substitution tags gets replaced only sometimes"
#### Issue Summary

I am sending the same email multiple times to check the substitution functionality. I see that in result the substitution tags are replaced only sometimes on the received email.

#### Steps to Reproduce

1. Create a template with substition tags for example: -link1- and -link2-
2. Send a mail using sendgrid-ruby gem see code below
3. The received email not always contains the s

[2018-02-27 03:27] thinkingserious commented on #80
Hi @Elyahou,

Do you mind creating a new issue with this along with an example that we can try to reproduce?

Thanks!

With Best Regards,

Elmer

[2018-02-27 03:28] thinkingserious commented on #286
Thanks for taking the time to report this @Elyahou,

I've added this to our backlog for further investigation.

With Best Regards,

Elmer

[2018-03-01 16:11] gowthamsadasivam opened #287 "How use http proxy to send mails?"
#### Issue Summary

My rails web application runs behind a corporate firewall which doesn't allow direct internet access. The usual tools like apt, curl are just working fine by setting the environment variable "http_proxy" and "https_proxy".

The rails application uses "sendgrid-ruby" gem to send emails, unfortunately the application doesn't respect the "http_proxy" variable and always tries to s

[2018-03-01 20:52] thinkingserious commented on #287
Hi @gowthamsadasivam,

Thanks for the heads up, I have [created an issue](https://github.com/sendgrid/ruby-http-client/issues/70) (please follow along there) to allow for setting a proxy.

With Best Regards,

Elmer

[2018-03-01 20:52] #287 closed

[2018-03-06 16:00] #280 closed

[2018-03-06 16:00] #279 closed

[2018-03-06 16:01] #266 closed

[2018-03-06 16:02] #247 closed

[2018-03-06 16:03] #243 closed

[2018-03-06 16:05] #218 closed

[2018-03-06 16:10] #204 closed

[2018-03-14 17:57] thinkingserious opened #288 "Updates for the new Email Activity API (beta)"
SendGrid has added an API to download information from the Email Activity feed. There are four new endpoints:
* [GET /messages](https://sendgrid.api-docs.io/v3.0/email-activity/filter-all-messages)
* [GET /messages/{msg_id}](https://sendgrid.api-docs.io/v3.0/email-activity/filter-messages-by-message-id)
* [POST /messages/download/](https://sendgrid.api-docs.io/v3.0/email-activity/request-csv)
* [G

[2018-03-19 05:54] pieterb82 commented on #67
Was creating a rake task to test the mailer, which gave the same error. Fixed it with adding the SendGrid:: before all the lines with New. Thanks @safetymonkey!

[2018-04-03 16:35] thinkingserious commented on #169
Review this blog post with regards to error handling: https://betta.io/blog/2018/03/30/graceful-errors-in-ruby-sdks

[2018-04-04 20:33] rlpacht commented on #59
@gabriellet Did you ever find a solution to that issue? I'm running in to something similar and would love to know if you ever were able to replace the the auto generated links.

Thanks

[2018-04-05 21:34] gabriellet commented on #59
@rlpacht I did! Here's what I had to do:

- In the html tag, ` <a href="<%asm_group_unsubscribe_raw_url%>">Custom unsubscribe here</a>`
- In the application sending the email, make sure you set the ASM. In Java, I did that like this. (I commented on the Ruby issue by mistake). You have to create an unsubscribe group on the SendGrid web console.
[code]
- I also had to turn off what they (now) call

[2018-04-09 19:26] thinkingserious commented on #59
Hi @gabriellet,

Do you mind adding your solution as a PR [here](https://github.com/sendgrid/sendgrid-java/blob/master/TROUBLESHOOTING.md)?

With Best Regards,

Elmer

[2018-04-12 03:39] hanahiroAze opened #289 "how can I send multipart mail?"
#### Issue Summary

I'm trying to send multipart(text/html) mail like below.

[code]

#### Steps to Reproduce

~~1. when I try like this 2mail have sent, is this expected behavior?~~
2. when I try like below `"{\"errors\":[{\"message\":\"Invalid type. Expected: object, given: string.\",\"field\":\"content.0\",\"help\":null}]}",` has been occurred. is this expected behavior?

[code]

~~3. can I sen

[2018-04-13 22:43] thinkingserious commented on #289
Hello,

Currently, [`add_content`](https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/helpers/mail/mail.rb#L59) does not support passing in an array.

However, the [next version](https://github.com/sendgrid/sendgrid-ruby/issues/177) of this SDK will support an `add_contents` method that will accept an array.

If you have a moment, your feedback on issue #177 would be most appreciat

[2018-04-13 22:43] #289 closed

[2018-04-24 14:59] lichtamberg opened #290 "Set event webhooks for subusers"
#### Issue Summary

Right now we are migrating from Mailgun to Sendgrid, due to their generally bad IP reputation on Outlook 365 and other mail service providers. We nearly finished the migration, but right now we are experiencing a showstopper for us:

We have a subdomain for each ouf our customers (customer1.mycompany.com., customernext123.mycompany.com,... and so on) and we also want everything

[2018-04-24 18:15] thinkingserious commented on #290
Hi @lichtamberg,

Welcome to SendGrid, we are glad to have you!

To get this implemented in the near future, the following would help:

1. A PR
2. More votes on this issue

In the mean time, I've added this to our backlog. Thanks for bringing this issue to light!

With Best Regards,

Elmer

[2018-04-25 20:55] jjb opened #291 "unable to post to supression.unsubscribes"
Going by the docs here: https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/global_suppressions.html#Add-email-addresses-to-the-Global-Unsubscribes-collection-POST

I tried this:

[code]

And got this error:

[code]

Then I tried this:

[code]

And got this:

[code]

What am I doing wrong?

Thanks!

[2018-04-26 17:38] #291 closed

[2018-05-07 13:14] h0jeZvgoxFepBQ2C opened #293 "Teammates-Feature"
#### Issue Summary

Looks like the ruby sdk doesn't have the teammates feature: https://sendgrid.com/docs/User_Guide/Settings/teammates.html

Would be nice to have it included in this libarary.

[2018-05-08 00:07] thinkingserious commented on #293
HI @lichtamberg,

I agree, it would be great to have this in the library. Thanks for creating the issue!

With Best Regards,

Elmer

[2018-05-08 14:35] spacefoundation commented on #59
Here's a related Node example that is working for me now. The trick was to specify a valid unsubscribe group ID with the request (otherwise <% asm_... %> values would not replace).

Wish list item: Make <% asm_... %> tags replace in the transactional template itself like it does with marketing templates. ☺️

[code]

Here's a transactional template to test with:

[code]

[2018-05-08 14:36] owntheweb commented on #59
Here's a related Node example that is working for me now. The trick was to specify a valid unsubscribe group ID with the request (otherwise <% asm_... %> values would not replace).

Wish list item: Make <% asm_... %> tags replace in the transactional template itself like it does with marketing templates. ☺️

[code]

Here's a transactional template to test with:

[code]

[2018-05-08 17:18] thinkingserious commented on #59
Hi @owntheweb,

Thanks for taking the time to provide this example! I have passed your wish list item along to our product team :)

Would you want to take a crack at making a [PR here](https://github.com/sendgrid/sendgrid-nodejs/blob/master/packages/mail/USE_CASES.md) with your example?

With Best Regards,

Elmer

[2018-05-08 19:40] owntheweb commented on #59
Thanks @thinkingserious . As I'm submitting a node example, perhaps [here](https://github.com/sendgrid/sendgrid-nodejs/tree/master/packages/mail)? I'll give it a shot within 48 hours. 😄

[2018-05-13 03:58] robapavas opened #294 "Message won't send when attachment is present"
Issue Summary

im using sendgrid for sending mails. when i attach a file (pdf or doc) i can't send it. when i comment on the $attachment it sends succesfully. when i use localhost it does attach the file and send correctly. i don't get any errors or warnings. the $response i use for debug doesn't appear either. here is the code im using

	require 'vendor/autoload.php';

	$name = $_POST['Name'];
	$

[2018-05-15 03:05] thinkingserious commented on #294
Hello @robapavas,

It looks like posted this in the wrong repo. Please [post this issue here](https://github.com/sendgrid/sendgrid-php/issues).

Here is an [example of adding an attachment in PHP](https://github.com/sendgrid/sendgrid-php/blob/master/USE_CASES.md#attachments).

With Best Regards,

Elmer

[2018-05-15 03:05] #294 closed

[2018-05-16 10:51] preety-singal opened #295 "Adding section tags to Sendgrid Templates"
Issue Summary
I am using templates with section and substitutions tags, the problem is that the defined section tags don't get filled at all. But all the defined substitutions tags get filled correctly, e-mail gets no validation errors and is sent out correctly.
A piece of code that I am using
  personalization.add_substitution(Substitution.new(key: 'condition_name', value: @detail.condition.name)

[2018-05-17 00:04] thinkingserious commented on #295
Hi @preety-singal,

Please take a look at [this documentation](https://sendgrid.com/docs/Classroom/Build/Add_Content/substitution_and_section_tags.html#-v3-Mail-Send) and then let me know what you think. Thanks!

With Best Regards,

Elmer

[2018-05-17 09:28] preety-singal commented on #295
Can you please provide me with sample code on how to use it in ruby.

Thanks

On Thu, May 17, 2018 at 5:34 AM, Elmer Thomas <notifications@github.com>
wrote:

--
Regards

*Preety Singal | Tech Consultant*

Poplify Limited
WeWork, 41 Corsham St., London, UK
*E **preetysingal@poplify.com <preetysingal@poplify.com>* | *W *
http://www.poplify.com <http://poplify.com/>

--

Help Save Earth. Please do n

[2018-06-12 15:02] fringify opened #296 "Retrieve email clicks stats per campaign"
1. There's no way to retrieve the stats for single campaign

2. There's no way to retrieve the stats for each email linked in the email. This information is available in the UI.  http://take.ms/B7V52

[2018-06-25 21:21] thinkingserious commented on #296
Hello @fringify,

I'm checking with our product team on this one and I'll get back to you when I learn more.

Thanks!

With Best Regards,

Elmer

[2018-06-26 16:39] thinkingserious commented on #296
Hello @fringify,

This feature is on the radar, but I don't have a firm timeline. I'll keep this issue open to notify you when there is further information. Thanks!

With Best Regards,

Elmer

[2018-06-28 09:06] faizaankhan opened #297 "Unable to find or use Template Ids"
I am using a trial account and currently setting up things with sendgrid. [RAILS5, RUBY 2.3.3]

While  trying to send emails using a custom template, I was unable to find the  template id, there's no such place where I could find it easily, though  I looked up into the URL and that was having an id similar to my  requirement I was searching for, when used it throws SMTP API Error, and  I received

[2018-06-28 16:37] coryjamescrook opened #298 "Unable to make additions to `Content-Type` email headers (other than type)"
#### Issue Summary

Based on other issues posted, and a lot of digging, I have yet to accomplish adding other keys to the `Content-Type` email headers for sendgrid. Looking at https://github.com/sendgrid/sendgrid-ruby/blob/master/lib/sendgrid/helpers/mail/content.rb

It seems the support only extends to the type, ie. `text/plain` or `text/calendar`, etc...

But it would be great to supply other ke